[2021-10-05 09:47] boardfish commented on #1088
Can confirm that it isn't isolated to `#call`:

[code]

results in:

[code]

I figure the browser's adding the closing tag.

[2021-10-05 09:51] boardfish commented on #1088
Yeah, it looks like this one isn't just a ViewComponent thing either. Off to [rails/rails](https://github.com/rails/rails) to get to the bottom of this.

[2021-10-05 09:51] #1088 closed

[2021-10-05 09:53] boardfish commented on #1088
Looks like this is a dupe of rails/rails#28045. The solution they've given there is to use `content_tag` as I mentioned in the OP.

[2021-10-05 09:59] boardfish commented on #1088
TIL that passing the tag name as a symbol is actually legacy syntax that will be deprecated in future versions of Rails, according to [this](https://apidock.com/rails/v6.1.3.1/ActionView/Helpers/TagHelper/tag).

[2021-10-05 11:35] askdesigners commented on #368
Thanks!

[2021-10-06 07:09] lxxxvi opened #1089 "adopt stimulus controller template for Stimulus 3"
Hello 👋

## Feature request

Stimulus moved their npm package from `stimulus` to `@hotwired/stimulus`. Subsequently the import for a Controller changes as well from

[code]

to

[code]

It would be nice if the component generator could detect the required module and use that in the stimulus controller template.

https://github.com/github/view_component/blob/f348d394c2ede1dff79c143bb11db6369dde3e1e

[2021-10-06 10:12] fulf commented on #869
Bump. This just happened while running the app in `development` mode...

[2021-10-06 11:38] horiaradu commented on #869
@joelhawksley @BlakeWilliams can the cause of these errors be the fact that [inside the compiler](https://github.com/github/view_component/blob/main/lib/view_component/compiler.rb#L48) the `call` method is being redefined? This is happening whenever a component is being rendered. If this is being ran in the context of multiple threads (for example, a capybara spec which renders a page which does a

[2021-10-09 11:26] boardfish commented on #930
I've been working with [view_component-form](/pantographie/view_component-form), so this feels relevant to address - I've noticed the same inconsistency. However, I personally think nothing needs to change here.

The reason Rails' form helpers (`form_with`, `fields_for`, and `fields`) exist is because they wrap the instantiation of a form builder. Instantiating a form builder requires an argument

[2021-10-11 15:34] Spone opened #1093 "Using asset_path in component previews"
### Steps to reproduce
- put `image.png` in `app/assets/images/image.png`
- create an example component that accepts an `image` argument, with a preview file
- in the preview file, add `render ExampleComponent.new(image: image_path("image.png")`
- this will trigger a `NoMethodError`
- add `include ActionView::Helpers::AssetUrlHelper` at the top of the preview class

[code]

[code]

### Expected be

[2021-10-19 12:33] pacMakaveli opened #1099 "turbo_frame_tag inside a component duplicates it"
Ok, so I'm not sure if the title makes sense. Hopefully the code will.

When rendering a component which has a `turbo_frame_tag` inside it, ViewComponent (or Turbo?) will render the contents twice.
Once inside a `turbo_frame_tag` as expected, and again, with whatever's inside the `turbo_frame_tag`

Note: The content of the component html doesn't matter from my testing. I initially thought it might

[2021-10-19 13:05] boardfish commented on #1099
Hey @pacMakaveli! It'd be really helpful if you could provide us with a failing test case or a replica of the issue. If you want to get started with the latter, I'd recommend doing the following:

[code]

A failing test case is preferable, but either way, a replica of the issue in isolation will be helpful in diagnosing it. Thanks!

[2021-10-21 14:22] coorasse commented on #411
Overriding also the component works...but is quite nasty. I am trying to figure out how to path this behaviour but I am bit lost...

[2021-10-21 19:30] joelhawksley commented on #869
@horiaradu that sounds plausible. Any ideas for how we could avoid that failure?

[2021-10-24 10:48] cpjmcquillan opened #1106 "Turbo-Streaming ViewComponents"
## Feature request
Provide an interface for rendering view components outside the context of a request-response cycle (e.g without depending on a controller or view context).

### Motivation
Rails 7 ships with Hotwire by default. Turbo Streams are a component of Hotwire that (among other things) allow applications to broadcast HTML "over the wire" based on model changes.

Like Rails, Turbo Streams

[2021-10-29 12:52] grekko opened #1112 "Implicit dependency on `::ActionDispatch::Static` breaks Rails environment"
## Summary

ViewComponent recently added support to view the source code of a preview (see https://github.com/github/view_component/pull/667).

For this ViewComponent bundles `prism` which is served via a `ActionDispatch::Static`-middleware, inserted here https://github.com/github/view_component/blob/928f86c6c6ce048d791f2f5874f662780b3bed7e/lib/view_component/engine.rb#L106

The call to [`app.midd

[2021-10-29 21:32] joelhawksley commented on #1112
@grekko thank you for the report! @johannesengl do you have any preference for how we resolve this?

If I had to pick, I'd vote that we ship a fix to unblock folks that checks to see if `config.public_file_server.enabled` is `true` to enable previews. We should then document this requirement.

From there we can look at other approaches. @grekko perhaps you could write a PR that does ☝🏻

[2021-11-01 12:10] grekko commented on #1112
Hi @joelhawksley

From what I understand, users do not need to enable `config.public_file_server.enabled` for the source code preview to work.

🤔 could you elaborate why you would not change the call from [`ActionDispatch::MiddlewareStack#insert_before`](https://github.com/rails/rails/blob/83217025a171593547d1268651b446d3533e2019/actionpack/lib/action_dispatch/middleware/stack.rb#L100-L103) to [`A

[2021-11-01 20:32] joelhawksley commented on #1112
@grekko can we close this issue given #1116 has been merged?

[2021-11-02 07:24] #1112 closed

[2021-11-02 14:40] boardfish commented on #1106
Right now, I actually need this feature for something I'm working on @raisedevs. I'm going to be working on a cleaner solution at some point in the future, but right now I can recommend using partials as a compatibility layer here. Either render what you want to directly in the partial, or render a component inside the partial. The latter should make it much easier to switch to the solution once i

[2021-11-02 16:50] boardfish commented on #1106
I've taken some time to battle with this one, and here are my findings:

[code]

We can use any of the methods from off `Turbo::StreamsChannel`, which is what `turbo-rails` uses internally, to broadcast to the same model channels Turbo would be using. This is what that looks like in the context of a controller, and it wouldn't take much to adapt that to a component.

I think some of their Broadcas

[2021-11-02 16:53] boardfish commented on #1106
I think what's particularly notable about the above is that a view context is necessary. That makes it less than optimal for using in Active Record callbacks, which (while not my personal preference) is the way they introduce you to it in the Turbo docs, so some Turbo folks would most likely expect this usage to integrate with ViewComponent.

[2021-11-02 17:39] cpjmcquillan commented on #1106
I've been leaning on objects like this for now.

[code]

I think what I'd like to be able to do is something like this - which would mean we don't rely on a `view_context` to broadcast components.
[code]

[2021-11-02 17:52] boardfish commented on #1106
I suppose there's still the wider question of components that inherently rely on a view context - say, for example, you're using `current_user`, `form_with`, or other notable helpers - and how they'd interact with this.

At one point there was [talk of making a new instance of `ActionView::Base` the default value for the `view_context` arg to `render_in`](https://github.com/github/view_component/i

[2021-11-02 17:55] boardfish commented on #201
[@joelhawksley's original suggestion about setting a default](https://github.com/github/view_component/issues/201#issuecomment-582413280) has become relevant again as it'll be useful for the default use case in #1106, i.e. rendering components to broadcast via Turbo Streams in Active Record callbacks. What do folks think of using `ActionController::Base.new.view_context` as the default value for `

[2021-11-03 15:02] boardfish commented on #1106
Been dwelling on this a bit and I think this requires very little in the way of code at all. I think what it comes down to is folks:

- using `render_in` to render the component to a string and passing that as the `html` arg to either [Turbo's `Broadcastable` methods](https://github.com/hotwired/turbo-rails/blob/main/app/models/concerns/turbo/broadcastable.rb) or [direct usage of `Turbo::StreamsCh

[2021-11-03 15:06] boardfish commented on #1106
The only thing I can think of that we might want to do is take the top-level [broadcast helpers](https://github.com/hotwired/turbo-rails/blob/main/app/models/concerns/turbo/broadcastable.rb#L68-L79) a bit further by allowing folks to pass the `html` option, so that they can render a component instead of going with the default partial. But whether that's even our concern is another question - perha

[2021-11-03 15:10] Spone commented on #1106
@boardfish What about adding a section about Turbo on the [Compatibility](https://viewcomponent.org/compatibility.html) page?

[2021-11-03 15:20] boardfish commented on #1106
That sounds right, but I think if the aim is for it to be saying to folks "ViewComponent works with X!", we might need to break it down a bit, since a lot of what's there feels like it's saying "ViewComponent works with X, but you have to pull these strings to do it".

[Rendering to a string is currently in the FAQs](https://viewcomponent.org/frequently-asked-questions.html#can-i-render-a-viewcomp

[2021-11-03 23:43] DavidColby commented on #1106
@boardfish Apologies if I'm missing something simple here.

I spent some time today working on broadcasting view components from models, based on your work here and in #201. I started with this:
[code]

This worked up until the point that I needed to access url helpers in the component, like this:
[code]

At that point, the model broadcast failed with `In order to use #url_for, you must include ro

[2021-11-04 08:27] grekko commented on #566
Hey @gkemmey @joelhawksley thanks for the explanation, I experienced this behaviour now, too. Did you by any chance got the time to work on a fix, which does not require users to load the compile cache by hand, e.g. in `config/application.rb`?

[2021-11-04 10:02] boardfish commented on #1106
I don't think there is. The [docs](https://viewcomponent.org/frequently-asked-questions.html#can-i-render-a-viewcomponent-to-a-string-from-inside-a-controller-action) currently specify that if you want to render to a string from inside a controller action, you would do so through `render_in`, which is why I suggested it in the first instance. But if this works, it's better.

The difference in beha

[2021-11-04 18:23] yshmarov commented on #1106
currently all of these work for me without any additional magic
[code]
more details: https://blog.corsego.com/turbo-stream-view-components

[2021-11-04 19:25] DavidColby commented on #1106
I came across the helper issues while exploring this yesterday, some interesting challenges here. One thing to note is that `ActionController::Base.render` also fails when the component calls url helpers, while `ApplicationController.render` works fine. This seems odd to me, but I suppose this means that ActionController::Base doesn't have access to helper methods out of the box.

[2021-11-04 19:30] joelhawksley commented on #1093
@Spone I forgot about this issue. Does https://github.com/github/view_component/pull/1119 close it?

[2021-11-04 20:12] joelhawksley commented on #566
@grekko I've not made any progress here. I'd be open to your suggestions ❤️

[2021-11-05 00:11] Spone commented on #1093
@joelhawksley nope, I still have the issue on `main`... but I no longer have to `include ActionView::Helpers::AssetUrlHelper` for the preview to render.

The image path is still wrong though:

[code]

instead of:

[code]

[2021-11-05 07:48] grekko commented on #566
I'd go with what @gkemmey already proposed:

Declaring `CompileCache` to be an autoloadable const seems reasonable.

I created a PR https://github.com/github/view_component/pull/1123 which fixed the broken behaviour in the [bug repo](https://github.com/gkemmey/view_component_bug_repro) provided by @gkemmey

[2021-11-05 10:29] boardfish commented on #1106
@DavidColby I was wondering the same. That would imply that descendants of `ActionController::Base` are functionally different from their parent.

[Helpers are `include`d on `ActionController::Base`](https://github.com/rails/rails/blob/main/actionpack/lib/action_controller/base.rb#L210), so it should get them, I'd assume.

@yshmarov Thanks for highlighting this - it's interesting to note that ther

[2021-11-05 10:40] Spone commented on #1106
I wrote this FAQ. It recommends against `render_to_string` *from within a controller action that renders HTML*. But it's probably fine when rendering a turbo_stream.

[2021-11-05 11:50] boardfish commented on #913
Just encountered this again - if `render_in` is used, the final newline will still be rendered in spite of the setting. I imagine all that needs to be done is (pseudocode):

[code]

[2021-11-08 14:58] acarpe opened #1127 "stack level too deep on session dump."
Starting from ver. 2.35.0 I'm getting a `SystemStackError stack level too deep`.
after rendering the view, the user session is stored in the session storage (a `RedisSessionStore` in my case)

with the 2.34.0 the session contains a key for the rendered view like this one:
<img width="703" alt="Schermata 2021-11-08 alle 15 48 00" src="https://user-images.githubusercontent.com/179885/140763152-2acf3

[2021-11-08 15:26] boardfish commented on #1127
Thanks for raising this @acarpe! I wonder if this exclusive to that type of session store. Regardless, it's clearly a blocker for you - let's see what we can do to get it fixed.

A failing test case or example repo would be really helpful - the former's preferable, but if the latter's easier, you can get started as follows:

[code]

Then add the `require: 'view_component/engine'` param to `gem 'vi

[2021-11-08 17:03] #1127 closed

[2021-11-09 11:11] edouard-per-angusta opened #1128 "Slot content not casted to string"
### Steps to reproduce

Create a `ListComponent`:

[code]

Call it with the following values:

[code]

### Expected behavior

It should render:

[code]

(passing an `Integer` or whatever works with `content` so I expect it to work in methods)

### Actual behavior

It raises an error:

[code]

due to second and third items.

### System configuration
**Rails version**: 5.2.6

**Ruby version**: ruby

[2021-11-09 12:08] boardfish commented on #1128
I think there's potentially cause for it to be considered an issue. Let's say that for argument's sake we were doing this in ERB:

[code]

The `<%=` tags would capture the return value as a string and concatenate it to the output buffer, so the above situation wouldn't cause a problem.

That'd be equivalent, in a way, to taking the return value of the block and casting it to a string before passin

[2021-11-09 12:14] cpjmcquillan commented on #1128
This issue was discussed in [DfE-Digital/govuk-components](https://github.com/DFE-Digital/govuk-components/issues/249) too a little while ago.

[2021-11-09 12:23] boardfish commented on #1128
@edouard-per-angusta I think this tidbit from the issue @cpjmcquillan linked probably describes why this is the way it is. If we think about ViewComponent as an extension of ActionView (which it started out as), then to change this behavior would make ViewComponent inconsistent with ActionView, so I'm not sure we should make a change here. It's good that we've had this discussion, though, so that

[2021-11-09 13:42] edouard-per-angusta commented on #1128
Thank you @boardfish for you answer. Indeed it makes sense to follow Rails behavior.

[2021-11-09 13:42] #1128 closed

[2021-11-10 10:12] boardfish opened #1133 "lambda slot with `&block` argument requires an unrelated argument"
@boardfish i never considered using fields_for which cuts it for me!! Thank you so much!! There is just onw weird thing i don't really understand - using `renders_one` as a lambda slot with `&block` argument requires me to define ANY arguments. Otherwise, it's gonna raise an `wrong number of arguments (given 1, expected 0)` exception. So i can't just do `renders_one :quick_filters, ->(&block) { fi

[2021-11-10 10:17] janko commented on #869
We've now received this error too on our CI. We've been using the same ViewComponent 2.33 & Rails 6.1.3.2 for the past several months, and we haven't received this error so far. We also have `config.eager_load = true` configured on our CI. We're using system tests with Cuprite driver.

The only way I could imagine this happening is that somewhere the Rails application is being initialized again wh

[2021-11-11 18:38] camertron commented on #1048
Yeah, our YARD annotations could be a great stepping-stone, and I'd love to experiment with a prototype 😄

Here are a few other thoughts from one of our Slack conversations:

1. How would we type `system_arguments`? They can literally contain anything. [Sorbet](https://sorbet.org/docs/sigs#rest-parameters) lets you specify a single type for keyword arguments, i.e. `Float` or `String` , but I don't

[2021-11-11 18:41] camertron commented on #1048
Oh, and I was wrong that there's no type checker that uses RBS files. Check out [steep](https://github.com/soutaro/steep)!

[2021-11-11 20:45] #1089 closed

[2021-11-12 21:42] joelhawksley opened #1134 "ViewComponent logo hard to read in dark mode"
## Feature request

@dylanatsmith do you think we could come up with a text color that passes contrast checks in both dark and light modes on GitHub?

### Motivation

It's hard to read the ViewComponent text in the README in dark mode:

<img width="737" alt="Screen Shot 2021-11-12 at 2 40 29 PM" src="https://user-images.githubusercontent.com/1940294/141537966-17d44f98-2416-4499-a3b3-cf27addccb49.p

[2021-11-15 17:41] boardfish commented on #1106
I've found something new linked to using Turbo - raising a separate issue.

[2021-11-15 17:47] boardfish opened #1137 "`turbo_stream` helpers not capturing correctly"
I'm trying to update multiple parts of the page by rendering a component that uses multiple `turbo_stream.update` tags. This comes out mangled, with a subset of the expected HTML rendered followed by several empty `turbo-stream` tags. I'll put together a failing test case soon.

### Steps to reproduce

1. Create a component whose template renders `turbo-stream` tags using the helper provided by `t

[2021-11-15 20:45] jamieshark opened #1138 "&block calls render content twice"
### Steps to reproduce

<img width="2481" alt="Screen Shot 2021-11-15 at 2 36 30 PM" src="https://user-images.githubusercontent.com/5520141/141851090-e9c63f63-be9d-4fe7-a45f-fec7343031c5.png">

1. Use `yield block` in `link_to_feed_discussion` helper
2. Provide a `block` argument when calling helper
3. Note that "Join discussion" string renders twice

### Expected behavior

"Join discussion" strin

[2021-11-15 22:43] #566 closed

[2021-11-16 07:44] boardfish commented on #1138
Shot in the dark here, but I'd wager this is happening because you're calling `yield block` instead of passing the block to `link_to` like so:

[code]

I think `yield block` would call and run the block, which `link_to` would internally `capture` to ensure that its output ends up inside the link tag, but since `yield` is not called, the return value of the block would not be rendered. Let me know

[2021-11-16 10:58] dylanatsmith commented on #1134
Oof, good catch.

I know we discussed single-colour logo options (e.g. all red) and initially ruled it out because we liked the red + black and red + white combos. But that would solve for this and probably look better than red + medium grey or whatever.

From the original colour combination doc:

![image](https://user-images.githubusercontent.com/6905903/141973206-92cf4c43-d39d-46b0-841a-c3ecf962

[2021-11-16 15:12] boardfish commented on #1134
I'm a sucker for red background and white text, but white background, red logo, black text is a close second.

[2021-11-16 17:26] joelhawksley commented on #1134
@dylanatsmith I think the red background, white text option looks sharp. Would you mind PR'ing an update to update the README logo to use that look?

[2021-11-16 17:28] dylanatsmith commented on #1134
Here's another potential option: [one SVG with a media query inside of it](https://p-76F1Jq.t4.n0.cdn.getcloudapp.com/items/NQu7WkE1/2d0bfcd9-916a-43ad-bb05-bf694fd26ce7.gif) that dynamically changes text colour depending on OS settings.

The downside of this is that there's no guarantee the OS settings are in sync with someone's GitHub user preference.

[2021-11-16 17:31] Spone commented on #1134
That would be awesome to encapsulate the logic in the SVG :)

Related community request: https://github.community/t/support-theme-context-for-images-in-light-vs-dark-mode/147981 (without a working solution yet)

[2021-11-17 16:17] #1134 closed

[2021-11-17 20:04] Spone opened #1145 "Docs: add a link to the Github repo"
## Feature request

Add a prominent link to the Github repo, on every page of the docs site.

### Motivation

I was browsing around https://viewcomponent.org and (unless I'm very tired :smile: ) I don't see an easy-to-find link to https://github.com/github/view_component

Maybe a "Github" link with special styling at the bottom of the nav, similar to this (from [Primer](https://primer.style/view-c

[2021-11-17 21:20] Spone commented on #1145
It could look like this:

![image](https://user-images.githubusercontent.com/38524/142284137-3814c357-0ecb-4e7c-935e-3032840b3158.png)

What do you think @joelhawksley?

[2021-11-17 22:41] joelhawksley commented on #1145
@Spone I think right at the top sounds good to me, especially given that ViewComponent _is_ a repository.

[2021-11-18 17:41] hjhart commented on #614
Does anyone else have any other strategies for this? I suppose we could create an abstraction that does the same thing that @manuelpuyol, but this seems like a common enough use-case that we could have some documentation surrounding it in the Slots docs.

cc @joelhawksley

[2021-11-18 21:48] #1145 closed

[2021-11-18 21:58] boardfish commented on #614
I think it's also possible to roll with `<%= slot || render(ExampleComponent.new) %>` in the template. This makes more sense to me because you're also declaring the default content to go in that place inside of the template.

[2021-11-18 22:18] jamieshark commented on #1138
ahhh indeed. Okay, that makes sense! I ended up using a different implementation anyway, so we can probably close this issue, but that is good to know for the future. thanks!

[2021-11-18 22:22] #1138 closed

[2021-11-18 22:35] joelhawksley commented on #614
@manuelpuyol what do you think of @boardfish's idea?

[2021-11-19 00:39] Tonksthebear commented on #869
This issue used to periodically pop up for me in my `test` environment, but now it has creeped its way into `development` as well... it's starting to severely hinder my work.

Is there anything I can do to help the cause? I'd be happy to provide any context that's helpful 👍

[2021-11-19 01:42] ramontayag commented on #201
FYI, in Rails 6.1 simply calling `ActionView::Base.new` won't work because [it requires the args now](https://github.com/rails/rails/blob/90357af08048ef5076730505f6e7b14a81f33d0c/actionview/lib/action_view/base.rb#L230).

This works for me:

[code]

[2021-11-19 14:28] joelhawksley opened #1151 "Versioned documentation"
## Feature request

As a developer reading the ViewComponent documentation, it is unclear whether there are unreleased features in the docs.

### Motivation

We've seen some issues here and there of folks being mislead by our documentation when unreleased changes were described in the docs.

### Proposed solution

I could see us solving this a couple ways. We could only publish the docs when a rel

[2021-11-19 20:00] Spone commented on #1151
I think it makes sense to only update the docs when a new version is released.

Given that there is no major version release yet (we're still in `v0.*.*`), I would say it's not necessary to publish versioned docs.

The disclaimer could go to the top of each markdown file in the docs folder, as a comment, in case people read the docs there, but not on the docs website itself.

[2021-11-20 20:25] morgler commented on #426
I do get this error even without any `helpers` in my templates. My component however renders a rails form and another component within it.

default.html.erb (preview template):
[code]

edit_component.html.haml (the component itself):
[code]

The error message points to the `@form.fields_for` line.

[2021-11-21 00:49] chunlea commented on #1064
I come up with a solution based on https://github.com/hotwired/stimulus-rails/blob/main/lib/tasks/stimulus_tasks.rake#L29-L46. I use esbuild with [`jsbundling-rails`](https://github.com/rails/jsbundling-rails).

So I added a `view_component.rake` to my project, with those content:

[code]

And it will generate file `app/components/index.js` everytime you run the `stimulus:manifest:update`. Why I p

[2021-11-22 16:39] boardfish opened #1159 "Slim renders passthrough slots mutiple times"
### Discussed in https://github.com/github/view_component/discussions/1156

<div type='discussions-op-text'>

<sup>Originally posted by **coder2000** November 20, 2021</sup>
I am trying to use multiple `renders_one` slots but the first one always renders with the second. Is that normal?</div>

It looks like what's happening is that the declared slot's output is being added to the buffer a second t

[2021-11-22 16:53] boardfish commented on #1159
@coder2000 has stated on the original discussion that they're on the latest version as of right now, v2.44.0.

[2021-11-22 18:48] manuelpuyol commented on #614
I think @boardfish's idea is a good workaround, but I still feel like this should be native to slots to avoid duplication.
It's quite common to set parameters in the `renders_one/many` lambda call. Something like:

https://github.com/primer/view_components/blob/482c7cfd70584fd3ede8be6963cf4a433b1ac5c2/app/components/primer/navigation/tab_component.rb#L20-L39

Using`<%= slot || render(ExampleCompon

[2021-11-22 21:50] Spone commented on #1159
I tried to reproduce the issue, without success.

## Component

[code]

[code]

## Usage in view

[code]

## Output

(formatted added for readability)

[code]

[2021-11-22 22:22] joelhawksley commented on #1151
I think that's a good place to start. Let's do that.

[2021-11-22 23:06] coder2000 commented on #1159
Try with a renders_many as well. It might be a combination.

On Mon., Nov. 22, 2021, 3:50 p.m. Hans Lemuet, ***@***.***>
wrote:

[2021-11-23 14:19] horiaradu commented on #869
I've submitted [a PR](https://github.com/github/view_component/pull/1161) for this issue

[2021-11-23 14:28] elia commented on #869
@horiaradu that is great! Were you able to make it fail with the new spec?

[2021-11-23 14:33] horiaradu commented on #869
In [some CI runs](https://github.com/github/view_component/runs/4299758830?check_suite_focus=true) on my PR, before I've finalised the code, I've managed to obtain the undefined method `call` error.

After adding the Mutex, I've solved that error but I started getting a deadlock error. After replacing the mutex with a monitor, the error was fixed.

I've also added [a new test](https://github.com/g

[2021-11-23 14:57] Spone commented on #1159
Still no issue when adding `renders_many`. 🤔

[2021-11-23 19:05] coder2000 commented on #1159
Weird. Is it possible to do a discord call with a live share to work it out?

[2021-11-23 21:31] joelhawksley commented on #1159
@boardfish can you provide your steps for reproduction request here? I can't seem to find it think a sample Rails application is the right move here.

[2021-11-24 08:27] boardfish commented on #1159
Sure! @coder2000, could you pull together a sample Rails app for us?

1. Use `rails new --minimal view_component-1159` in the console. You might also need to provide an argument to change the template engine to Slim, so use `rails new --help` first to figure that part out. (I'd tell you, but I'm posting from my phone 😅)
2. `bundle add view_component`, then change the added line in the Gemfile to m

[2021-11-24 17:53] coder2000 commented on #1159
So I built this example app, and it doesn't have the issue I described either. https://github.com/coder2000/view_component-1159

[2021-11-24 17:54] coder2000 commented on #1159
Which makes it all the weirder

[2021-11-24 18:13] jrochkind commented on #1106
Mentioning because I don't think I see it mentioned here already. Rails already has a kind of hacky workaround API to this problem generally (added back in Rails 5.0 even maybe?)

https://api.rubyonrails.org/classes/ActionController/Renderer.html#method-i-render_to_string

In my limited tests, it actually seems to maybe work fine with ViewComponent in Rails 6.1?   eg

    ApplicationController.ren

[2021-11-24 18:22] jrochkind commented on #1106
(deleted my previous comment when I noticed ApplicationController.render/ActionController::Renderer was in fact already mentioned here.

If `ApplicationController.render` (https://api.rubyonrails.org/classes/ActionController/Renderer.html) is Rails' attempt to answer this question generally, which seems to work with ViewComponent... is there any reason to come up with an alternate solution instead

[2021-11-27 03:08] lfalcao commented on #894
hey, sorry for the delay. I can continue the PR #977 if there's no one looking...

[2021-11-27 16:53] gambala opened #1170 "CHANGELOG.md looks like an empty file without any links"
## Feature request

Ability to view actual changelogs within a one click

### Motivation

Tools like [gem_updater](https://github.com/MaximeD/gem_updater) show links to changelogs for updated gems in a bundle, but every time I go to these links for ViewComponent, I see an empty CHANGELOG.md without any links but with text "docs/CHANGELOG.md". And it's so uncomfortable to search and navigate to act

[2021-11-27 17:03] boardfish commented on #1170
I agree it's a bit strange that CHANGELOG.md isn't in the root, and I've fallen foul of the same thing a fair few times. Semantically, yes, the changelog is a document, but for the sake of accessibility, I agree that folks will more intuitively look at the root of the repo to find it. I'd be happy for the current arrangement to be switched (i.e. /docs symlinks to /).

[2021-11-29 12:17] boardfish commented on #1106
I've been doing some more work in this corner. So far, I'm feeling the following:

- Folks might come up against hotwired/turbo-rails#243 if they're working with forms. Seems like the @hotwired folks want to make sure the current fix for that (setting `authenticity_token: false` on all forms you broadcast) isn't a permanent one, which is good.
- Rendering components to a string from controllers is

[2021-11-29 13:58] Spone commented on #1170
I think there was a problem with that setup when generating the docs, if I remember correctly @joelhawksley?

[2021-11-29 22:29] joelhawksley commented on #1159
@boardfish thanks! Now that I think about it, It might be worth adding those directions to `CONTRIBUTING.md` if you don't mind ❤️

[2021-11-29 22:36] joelhawksley commented on #1170
@Spone that's correct. Jekyll wasn't playing nicely with a symlink in the opposite direction.

I'd be open to changing the docs site to just link to CHANGELOG.md on `main` on GitHub if you'd like to do that @gambala ❤️

[2021-11-29 22:54] boardfish commented on #1159
@joelhawksley I've thought about that too, but there are a couple of changes I'd make to improve the experience there. First off, I think we could provide a repo template for this purpose, and automate keeping it up to date so that all the setup is just a click away. We could probably leverage Codespaces to help with that.

Second, I'm waiting to merge a change into `bundler` that'll let you speci

[2021-11-30 23:54] Spone commented on #1106
Sorry about that, it has been moved to https://viewcomponent.org/guide/getting-started.html#rendering-viewcomponents-to-strings-inside-controller-actions

[2021-12-01 05:49] coder2000 commented on #1159
@boardfish I really don't know what's going on now because I have another instance of the content from a renders_many appearing in each subsequent item. If that makes any sense.

[2021-12-01 14:09] dkniffin commented on #234
Has there been any progress made on this in the past year? I see it's been marked for the V3 release

[2021-12-01 21:55] joelhawksley commented on #234
@dkniffin not to my knowledge. We don't do much view caching at GitHub, so we aren't able to prioritize this work internally. We tagged this issue with the `v3` label as we view it as a blocker on the `v3` release.

[2021-12-02 04:08] HashNotAdam commented on #1099
Afraid not, however, @xkraty's solution works a treat.
Either:
[code]
Or:
[code]

[2021-12-02 17:26] BlakeWilliams opened #1177 "Create a separate development and production compiler mode"
Context taken from: https://github.com/github/view_component/pull/1161#discussion_r755484984

The idea is that we could have a development mode for the compiler, which adds the `Monitor.synchronize` call in the generated render methods to prevent the compiler from overwriting the call method while rendering. https://github.com/github/view_component/pull/1161#discussion_r755484984 got us very close

[2021-12-03 12:13] horiaradu commented on #1177
Is this urgent? If not, I would like the opportunity to take a crack at it :)

[2021-12-03 14:59] BlakeWilliams commented on #1177
@horiaradu No urgency at all, feel free to assign yourself and take it on. 🙂

[2021-12-03 15:51] horiaradu commented on #1177
I can't assign myself (I think because of rights), but maybe u can? Otherwise, it's not an issue, I have the tab open :)

[2021-12-03 16:01] BlakeWilliams commented on #1177
No problem, I went ahead and assigned it to you so nobody else picks it up.

[2021-12-03 17:07] guillaumewrobel opened #1180 "Deprecation Warning on application load"
### Expected behavior
No deprecation warning.

### Actual behavior

with the line 9 as the default `Bundler.require`

[code]

### System configuration
**Rails version**: 6.1.4.1

**Ruby version**: 3.0.3

**Gem version**: 2.46.0

[2021-12-03 17:40] rmacklin commented on #1180
This is the intended behavior of https://github.com/github/view_component/pull/1162, as it is no longer necessary to specify `require "view_component/engine"` in your `Gemfile` when declaring the `view_component` dependency after https://github.com/github/view_component/pull/1117. The warning is telling you to remove that part, because the plan is to remove support for that on version 3

[2021-12-03 17:45] guillaumewrobel commented on #1180
That's it. Thanks.

[2021-12-03 17:45] #1180 closed

[2021-12-04 08:07] rmacklin commented on #1180
I think we can improve the release notes to make this clearer to anyone who is upgrading.

[2021-12-04 09:29] rmacklin opened #1182 "Automating changelog maintenance"
After #1181, I'd like to suggest automating the maintenance of ViewComponent's changelog.

While I love a good hand-crafted changelog, I think the conventions already in place in this repository make it worthwhile to pursue changelog automation:
- All PRs are required to have a changelog entry.
  - I think a manually curated changelog makes sense in projects where the maintainers prefer to leave o

[2021-12-06 20:30] joelhawksley commented on #1182
@rmacklin this generally sounds good to me. How do you suggest automating the changelog? For what it's worth, we've basically just copied what Rails does, which is manually writing entries 🤷🏻

[2021-12-07 10:44] boardfish commented on #1182
Seems to me like the solution would be a GitHub Action - it'd takes the contents of a squash commit after a merge and append them to the changelog under the `main` header. I guess the process of then moving what's under `main` to a release's header could remain manual, since the main pain point we're aiming to solve here seems to be having to manually resolve the conflicts that arise when you reba

[2021-12-08 03:43] rmacklin commented on #1182
I think the main difference with Rails is the first bullet - Rails doesn't require all changes to have a changelog entry (in fact it's [explicitly discouraged for "refactorings and documentation changes" to have changelog entries](https://github.com/rails/rails/blob/2d4ef856f42df2465fe71ca456b213cae951addf/guides/source/contributing_to_ruby_on_rails.md#updating-the-changelog))

I suppose it's open

[2021-12-08 03:46] rmacklin commented on #1182
I considered a GitHub Action, too, but I think handling it in the release script might be simpler and cleaner - particularly since the release script is already [modifying the changelog](https://github.com/github/view_component/blob/4aeaef03aab3287c1ffd7a5c56a95eb9da56afa6/script/release#L35-L39).

[2021-12-09 09:13] adrianthedev commented on #869
Thanks for the PR guys.
I'm still seeing the same error in GitHub Actions in my `test` env [here](https://github.com/avo-hq/avo/runs/4462997272?check_suite_focus=true).
Using `view_component (2.46.0)` on this [PR](https://github.com/avo-hq/avo/pull/550/files).

![image](https://user-images.githubusercontent.com/1334409/145367547-d9266ac9-1f7a-47ca-a151-7c711a4685b9.png)

![image](https://user-imag

[2021-12-09 11:30] horiaradu commented on #869
I think that the most robust fix would be done while tackling [this issue](https://github.com/github/view_component/issues/1177)

[2021-12-09 18:59] juan-apa opened #1190 "Generator failing for rails 7.0.0.rc1 + tailwind"
### Steps to reproduce
1. generate new rails 7.0.0.rc1 app using:
[code]
2. Add ViewComponent gem
3. Create a new ViewComponent by running:
[code]
It displays the following error message:
![image](https://user-images.githubusercontent.com/9309458/145458202-048eea9e-f9d0-4384-a0dc-eaf0509f7220.png)

### Expected behavior
It should generate an `example_component.html.erb` file along with the `exampl

[2021-12-09 20:19] Spone commented on #1190
Hi @juan-apa! We're currently working on Tailwind support here: https://github.com/github/view_component/pull/1098

[2021-12-10 10:16] Sarhm2021 commented on #1190
Good

[2021-12-10 13:50] juan-apa commented on #1190
Thanks, I was ready to open a new PR including this feature if it was not implemented already! Thanks for the quick response.

[2021-12-10 22:56] pboling opened #1195 "Error: uninitialized constant ViewComponent::Base"
### Steps to reproduce

1. `git clone -b view_component https://github.com/pboling/sr_mini.git`
2. `cd sr_mini`
3. `bin/rails generate component Thing name`

See the error!

[code]

### Expected behavior

Generator should run.

### Actual behavior

<img width="1242" alt="Screen Shot 2021-12-11 at 5 47 30 AM" src="https://user-images.githubusercontent.com/19505/145651341-c23e8a78-b3f2-49f7-9e7b-ed2

[2021-12-13 09:13] boardfish opened #1198 "Make it easier for folks to provide us with example repos"
_Originally posted by @boardfish in https://github.com/github/view_component/issues/1159#issuecomment-982096344_

[2021-12-13 09:17] boardfish commented on #1198
The latter's unnecessary now thanks to #1117, but I'd like to work on the former this week and see how far I can take it. If anyone has any helpful ideas or wants to contribute, you're welcome to reply to this thread or get in touch with me.

[2021-12-13 18:43] joelhawksley commented on #1195
@Spone might you be able to look into this generator-related issue?

[2021-12-14 10:29] Spone commented on #1195
Hi @pboling! Thanks for reporting this. I don't see `view_component` in the [gemfile](https://github.com/pboling/sr_mini/blob/main/application.rb#L3-L11). Have you tried adding it?

[2021-12-14 10:32] boardfish opened #1205 "Lint for trailing newlines"
## Feature request

Ensure our CI pipeline checks that all files have trailing newlines.

### Motivation

[Requested by @joelhawksley](https://github.com/github/view_component/pull/1200#discussion_r768008086). Trailing line breaks mark the end of a line, including the final line, as explained in [this thread](https://stackoverflow.com/questions/729692/why-should-text-files-end-with-a-newline).

[2021-12-14 10:38] boardfish commented on #1205
[We've been using this at @raisedevs](https://github.com/raisedevs/find-trailing-whitespace/tree/restrict-to-plaintext-only). I could bring the same linter over here, since it was a piece of cake to set up and does just what it should, but there's also a question of whether there's a better maintained solution out there. Or maybe it should be forked internally to GitHub? I can at least vouch for m

[2021-12-14 15:11] pboling commented on #1195
@Spone Sorry, I should have called it out more clearly.  You need to be on the branch `view_component`.  Cloning a repo to a specific branch is an uncommon pattern, so I should have made that clear.

`git clone -b view_component https://github.com/pboling/sr_mini.git` # <= checks out the `view_component` branch after cloning!

As you can see from the screenshot in OP the backtrace is from withing

[2021-12-14 16:43] pboling commented on #1195
I have forked the repo, and am taking a stab at fixing this myself.  It has been a while since I've worked with engines, but I do not see any `require "view_component/base"` anywhere in the code.  Perhaps autoloading is expected to find it...

[2021-12-14 16:45] pboling commented on #1195
Oh, yep there it is:
[code]

So, somehow this `autoload` isn't working with a barebones Rails app, current version, or perhaps the file with the autoload statements isn't being loaded.  Investigating.

[2021-12-14 16:46] pboling commented on #1195
It is the second one.  The file with the autoload statements is itself not being loaded.

[2021-12-14 16:48] pboling commented on #1195
It appears from the backtrace that railties' `rails/command/behavior.rb:44` jumps right into view component's generator without loading any of the gem first...
[code]

[2021-12-14 17:05] pboling commented on #1195
OK, I have it working now, in my example app.  The issue was I had not setup bootsnap, and had not run `Bundler.require`...

I created this example app in an attempt to replicate the error I am seeing in my live production app.  I did replicate the error, exactly, but my production app does have bootsnap setup, and it running `Bundler.require`... so now I am stumped.

[2021-12-14 17:20] pboling commented on #1195
OK, figured it out!  When `view_component` is added as a run-time dependency of a gem which is then included in a Rails app the gem must do `require "view_component"` explicitly.

Even though the `view_component` gem is installed with `bundle install` when it is a dependency of a gem, it is not loaded by `Bundler.require`, as gem's runtime dependencies are not automatically loaded.  Gems have to l

[2021-12-14 17:20] #1195 closed

[2021-12-14 18:39] #1205 closed

[2021-12-14 19:56] #1198 closed

[2021-12-15 13:13] Spone commented on #1195
Thanks a lot for taking the time to investigate this @pboling, and for posting the results here! I may be useful to others :)

[2021-12-15 18:37] #1133 closed

[2021-12-16 22:44] #913 closed

[2021-12-16 22:53] joelhawksley commented on #1029
Closed by https://github.com/github/view_component/pull/1047.

[2021-12-16 22:53] #1029 closed

[2021-12-16 23:02] bugeats commented on #1012
@boardfish can you please provide an example of a #call implementation that renders a specified template with the current component as its context? I scoured the docs and source, but couldn't figure out how to do this.

[2021-12-16 23:07] boardfish commented on #1012
@bugeats If I'm reading you right, you're hoping that a component could render a different template file from `#call`. This isn't possible unfortunately, as far as I know — what I meant by that was that you'd use, for example, content tags and other methods that construct HTML directly in `#call`.

For now, your best alternative is to take option 2 and share behavior between ViewComponents via a c

[2021-12-17 10:41] boardfish commented on #1012
@bugeats Here's [a set of components](https://gist.github.com/boardfish/3e42fc52d2cb2a0e95e47628ec82a03e) that demonstrate what you're after.

@joelhawksley I did this a little differently - since Codespaces are pretty disposable and help you to cut past all the app setup business, I was able to:

1. Enter the codespace
2. Unset the `GITHUB_TOKEN` env var
3. Run through the installation instructio

[2021-12-17 11:26] boardfish opened #1213 "Vale linter exceptions"
Noticed that in `CONTRIBUTING.md`, this phrase appears:

Was pretty amusing to see, but it might also be a touch confusing for folks whose first language isn't English. Is there a way to add an exception to Vale for this and any other instances where Vale may have mistakenly enforced the wrong syntax?

It might also just be easier to change the phrasing to:

[2021-12-17 16:39] swanson commented on #1099
Adding `include Turbo::FramesHelper` in your component class seems to work as well: you can then call `turbo_frame_tag` directly instead of proxying through `helpers`

[2021-12-22 15:12] t2 opened #1216 "Add --sidecar as config option"
Hello,

The `--sidecar` flag is very helpful for organizing our View Components. I would like to make this option a config variable so that we can make it a standard in our codebase without having to remember the `--sidebar`. How does this sound for a feature enhancement?

`config.view_component.sidecar_enabled = true`

[2021-12-22 15:38] joelhawksley commented on #1216
@t2 I generally think that all generator options should allow for defaults to be set like that 👍🏻

@Spone generally reviews generator-related things so perhaps he can chime in here?

[2021-12-23 14:51] g13ydson commented on #1216
I created this PR #1218  that possibly solves this issue

[2021-12-24 13:21] t2 commented on #1216
@g13ydson you're right, this is what I was aiming for. Any movement on that merge?

[2021-12-25 12:39] Spone commented on #1216
Let's keep the issue open until we merge the PR.

[2021-12-27 12:12] kenzo-tanaka opened #1220 "[Doc]Add namespace generator example"
Hi👋
First of all thank you for an awesome gem!

## Feature request
I thought it would be helpful for users to if there was an example of a command to create a component under a namespace in the [Generators page](https://viewcomponent.org/guide/generators.html) of the documentation.

Like this:

[code]

Please close if you think that doesn't need to explain🙏

### Motivation

Improving documentation

[2021-12-30 12:48] edwinthinks opened #1223 "CI tests are failing on test runs in Rails 6.1.3.1 & Ruby 3"
### Steps to reproduce
1. Run the CI suite on any changes after the release of Ruby 3.1.0
2. You should see failures on matrix build `test(6.1.3.1, 3)` due to this error when trying to run the tests`/home/runner/work/view_component/view_component/vendor/bundle/ruby/3.1.0/gems/activesupport-6.1.3.1/lib/active_support/dependencies.rb:332:in `require': cannot load such file -- net/smtp (LoadError)`

[2021-12-30 12:51] edwinthinks commented on #1223
Adding these gems specifically in the Gemfile seems to bypass this issue as described in https://github.com/mikel/mail/pull/1439#issuecomment-1002792758

Adding gems like this seems to me not a great long-term solution for this problem imo.

[2021-12-30 12:53] cpjmcquillan commented on #1223
I think this might be to do with the GitHub Actions runner and how `yaml` parses strings/floats/integers.

I think `3.0` gets parsed as `3` so it uses `3.1`. Changing the ruby versions to be defined by strings should fix this, _I think_.

[2021-12-30 14:33] g13ydson commented on #1223
I'm working on an update #1218  and had to set the Ruby version to 3.0.3.  Maybe it will solve when it merges

[2021-12-30 16:26] Spone commented on #1220
Hi @kenzo-tanaka thanks for the suggestion! What do you think of #1226?

[2021-12-30 23:23] kenzo-tanaka commented on #1220
Hi @Spone !
Thanks! It's perfect😊

[2022-01-03 11:39] boardfish commented on #976
I've had a look at this just now - I've tried using slots to override existing methods at various levels. Not sure how confident I feel in this, so if anyone's got more knowledge of how to break Ruby and libraries, I'd be interested to know if there's anything else I can try around here. So far I've tried slots named `text_field_tag` (a view helper), `freeze` (a method on the component), `methods`

[2022-01-03 11:39] #976 closed

[2022-01-03 11:45] boardfish commented on #1159
@coder2000 Are you happy with that as a resolution? I'll try replicating it myself once again for posterity, but the way things are going, I don't feel like there's enough evidence to categorize this and fix it.

[2022-01-03 12:02] boardfish commented on #1159
Just failed to replicate this with the code you provided in a codespace. `Page::Menu::Link` was minimally implemented to output the string `test`.

[code]

I think that's good enough grounds to close this, but do let me know if there's anything I can do to help you get to the bottom of this.

[2022-01-03 12:02] #1159 closed

[2022-01-03 12:25] coder2000 commented on #1159
Thinking now it may have been modifications I made to the slim gem to support another feature.

[2022-01-03 17:12] #1223 closed

[2022-01-04 16:23] boardfish commented on #1182
I found [github-changelog-generator](https://github.com/github-changelog-generator/github-changelog-generator) on my travels. That's one potential option.

It looks as though it's potentially [configurable to the point of being identical to what we have now](https://github.com/github-changelog-generator/github-changelog-generator/wiki/Advanced-change-log-generation-examples). I'll have a play with

[2022-01-04 17:00] boardfish commented on #1182
I got pretty decent results by calling it as follows:

[code]

It comes back looking a little something like this:

[code]

For comparison, here's the current changelog:

[code]

Note that it's possible to add YAML front matter, but I didn't realise we needed it until after running the script.

I'm aware of a few discrepancies:

- Hyphens are used for bullet points (not a huge problem)
- There's l

[2022-01-05 10:53] #1220 closed

[2022-01-05 12:21] boardfish opened #1229 "Make generator defaults configurable"
Now that the generators have quite a few options, it would be good to make their defaults configurable from the outside so that folks don't need to create their own generators as often.

We could start by looking at `lib/view_component/engine.rb`, where most of the library's config options are defined. It'd probably be a good idea to use [ActiveSupport::OrderedOptions](https://api.rubyonrails.org/

[2022-01-05 14:25] #1190 closed

[2022-01-05 21:41] #1177 closed

[2022-01-06 16:59] boardfish opened #1231 "Rendering a collection with dynamically-chosen components"
## Feature request

I've just finished talking with @coder2000 about this. They were trying to render a collection, rendering different components based on another argument. So their aim was for `User::Component` to render a collection of `User::Active`s, for example. It's got me thinking about how collections would work with dynamically chosen components — that seemed to be their original aim as

[2022-01-07 11:09] simonsapiel opened #1234 "Support for rails 7"
Is there currently support for rails 7? I couldn't find anything on the docs. It seems that the css is breaking when trying to render a component. Using tailwind.

[2022-01-07 16:25] boardfish commented on #1234
Hey there @simonsapiel! Yes, Rails 7 is supported. I suspect that the issue you're having may not be linked to ViewComponent itself, so I'll convert this to a discussion so that we can work to resolve it. Could you please follow [these steps](https://github.com/github/view_component/blob/main/docs/CONTRIBUTING.md#reporting-bugs) to replicate your issue in an isolated environment and provide us wit

[2022-01-10 16:06] boardfish commented on #1182
That's a fair point. There's also the argument that folks' identities can change with time, and their username is the closest thing we've got to a unique identifier that will follow them with time. It does give me a lot of personal satisfaction to see my name as opposed to my username in there, but I think it would be a sensible decision to move from that.

[2022-01-10 19:48] #1216 closed

[2022-01-11 19:36] martijn opened #1239 "Proposal: View Component ERB extension"
Recently I've been toying with the idea of a nicer syntax to render view components, that is similar to the one used in popular front-end frameworks:

[code]

Including ruby code in attributes uses accolades instead of quotes:

[code]

I built [a proof of concept in an example Rails app](https://github.com/martijn/vcerb-proto), implemented as a preprocessor to Rails' ERB handler, and personally co

[2022-01-11 23:09] boardfish commented on #1239
Hey there @martijn! Nice work on this prototype — I haven't cloned it down to try it out just yet, but assuming it works as demonstrated, it seems like a welcome addition to the ViewComponent ecosystem. #1204 shows that there's some demand for this syntax already.

I wouldn't say it's my call to make as to whether such a feature could become part of the gem itself, but I'm sure that making it a ge

[2022-01-12 04:17] pboling commented on #345
Is there any reason this hasn't been merged?

[2022-01-12 17:25] Agile-Ashley opened #1241 "Transition Planning"

[2022-01-12 17:26] Agile-Ashley commented on #1241
Trying out projects, wanted to see what would happen 👍

[2022-01-12 17:26] #1241 closed

[2022-01-13 09:29] martijn commented on #1239
Right, that is an option I hadn't considered. I'll build this as a gem that extends view_component in a way that it could be integrated down the line should that wish ever arise. Thanks! I'll post an update here when the gem is ready.

[2022-01-13 09:29] #1239 closed

[2022-01-14 16:01] LoranKloeze opened #1247 "Generating component yields error when tailwindcss-rails is used"
I'm not 100% sure if this is a bug in view_components or in https://github.com/rails/tailwindcss-rails. Let's find out! 😊
### Steps to reproduce
The repo as a result of the following steps (except the last step): https://github.com/LoranKloeze/viewcomponent_bug_thing

[code]

### Expected behavior
There should be no error about tailwindcss.

### Actual behavior
The generator thinks that tailwindcs

[2022-01-14 16:12] boardfish commented on #1247
Hey @LoranKloeze! I've just seen this and I'll be spinning up a Codespace to try and replicate it on the latest version of the gem.

[2022-01-14 17:14] LoranKloeze commented on #1247
Thx for your fast response! I can confirm using `--template-engine=erb` is a solution for now. 🙂

I agree that not having to use the extra argument would improve the experience. This is issue will grow in time I'm afraid since I have a feeling that the Rails team is pushing Tailwind a little since Rails 7.  And I don't think it's obvious to many users that the templating engine selection is the so

[2022-01-14 17:20] Spone commented on #1247
Support for `tailwindcss-rails` has be introduced by #1098. It will be released soon, in [`view_component` 2.48.0](https://github.com/github/view_component/pull/1246).

[2022-01-15 19:02] dylandechant opened #1248 "error erb [not found] when generating new component"
### Steps to reproduce
[code]
also
[code]
BUT if i use the template engine as slim it works:
[code]

### Expected behavior
When generating a new component, I expect an erb template to be generated

### Actual behavior

### System configuration
7.0.1
**Ruby version**:
3.0.3
**Gem version**:
2.48

[2022-01-16 15:09] #1248 closed

[2022-01-17 15:06] Spone commented on #1247
`2.48.0` has been released. Please try it out @LoranKloeze :)

I'll close this issue for now. Feel free to reopen in case you still experience problems.

[2022-01-19 11:50] boardfish commented on #1229
@Spone I'm going to attempt to make a start on this today - you're welcome to get in touch if you'd like to work with me on it.

[2022-01-20 20:39] muriloime opened #1252 "ViewComponent::Preview.all returns empty under certain circumstances"
Hi, I'm  using lookbook and it often breaks because `ViewComponent::Preview.all` returns `[]` after a component.rb file changes. In order to fix it it  is necessary to avoid using descendent_tracker (i.e. remove the if from [this line](https://github.com/github/view_component/blob/8e027ee6e2d8bf47233be165bd02ee1d48b3575e/lib/view_component/preview.rb#L33) ).

Do you guys think it is too expensive

[2022-01-22 19:09] itsyoshio opened #1253 "Dynamic link_to path's | How to implement"
## Feature request
Please elaborate on how to do dynamic link_to path\
How would anyone implement a ViewComponent with a link_to for different ressources?

### Motivation
I have a (Card)Component that i'd like to use for Customers and Locations.\
Locations is a nested route under Customers.

So in turn, i'd have to sometimes

[code]

or, respectively

[code]

Would it be better to
- sepeate Concer

[2022-01-25 11:13] boardfish commented on #1252
Hey @muriloime, thanks for raising this with us! I'm afraid I don't have a lot of context around the implications of that change, but I can offer you some steps to see for yourself whether it would be too expensive. If you clone this repository and use `script/replicate-bug`, you'll be able to make changes to your local copy of ViewComponent, install Lookbook into the generated Rails app, and see

[2022-01-27 17:52] joelhawksley commented on #1231
@boardfish interesting. For the sake of comparison, can you provide example code for how you would accomplish this using partials?

[2022-01-27 18:05] boardfish commented on #1231
You could do something like this:

[code]

[code]

I guess it's also achievable this way:

[code]

I feel like components that entirely delegate off to other components like this based on their input could be quite an intuitive pattern, and may address a lot of the calls for a component being able to render multiple different templates.

[2022-01-28 22:59] joelhawksley opened #1257 "A personal note"
<img width="1086" alt="Screen Shot 2022-01-14 at 4 22 55 PM" src="https://user-images.githubusercontent.com/1940294/151632933-16927195-8710-4311-8909-ac71d223829a.png">

👋🏻 In a break from our usual programming, I'd like to share a brief personal note: I recently lost my home in the Colorado wild fires on December 30th.

We were thankfully out of town when the fires happened, on a road trip to Cal

[2022-01-28 23:24] MaksJS opened #1258 "Sidecar translations are not working anymore with ruby-i18n/i18n 1.9.0+"
### Steps to reproduce

I think that `i18n_backend#translations` should be symbolized as we do in Rails's i18n backend.
It might be related to https://github.com/ruby-i18n/i18n/commit/0fda789ea745cd462658a8948ee085201aba5c6f which has landed in v1.9.0.

[code]

### Expected behavior

`t('.placeholder')` to return `Search...`

### Actual behavior

Translation missing

### System configuration
**Rai

[2022-01-31 13:57] bobmaerten commented on #1258
Same problem here, we had to rollback on i18n v1.8.11.

[2022-01-31 14:29] boardfish commented on #1258
Hey, folks - sorry to hear this is causing you trouble. @elia's marked as the codeowner for that area - tagging them in to see if they can provide some support here.

[2022-01-31 14:43] boardfish commented on #1258
That's helpful to note. Glad there's an interim solution, but I can understand that it's not ideal.

[2022-01-31 16:33] rmacklin commented on #1182
Apologies that it took me a while to get back to this, but I've opened a PR outlining this approach in https://github.com/github/view_component/pull/1259.

[2022-02-03 16:29] boardfish commented on #1182
#1247 was the sort of issue that could quickly be resolved with an overview of unreleased changes in `changelog.md` - admittedly, I didn't look there first on that issue, but I feel like it's a good signal that that's a feature we could do with preserving.

I think you're right that the commit history shouldn't be plagued with changelog updates, but I still feel that the changelog should be update

[2022-02-04 13:14] boardfish commented on #1182
I think that could be a quick way to improve the current situation. The problem we're trying to solve is that updating the changelog isn't a frictionless process, since it's subject to merge conflicts. I'll admit that my first shot at solving this was perhaps a little heavy-handed with that in mind.

With that in mind, I think the most direct way to solve this in full is to ensure that a rebase, f

[2022-02-04 21:15] rmacklin commented on #1182
I think it's specifically PR titles rather than commit messages (for a single-commit PR, the commit message subject does get auto-filled as the default PR title, but it can be changed). I actually considered this shift as a benefit because it's very easy (for contributors and maintainers alike) to change a PR title. In the past, I've seen maintainers ask for modifications to the changelog entry, w

[2022-02-04 21:45] boardfish commented on #1182
If we do still want to automate this element, I have a potential solution with the above in mind. This'll be a required workflow.

1. Fail if no changes have been written to the changelog.
2. *If triggered manually*, the PR title will be written to the top of the changelog under the `main` section. All assignees are credited, using their GitHub handles as @/BlakeWilliams previously suggested.
3. W

[2022-02-08 18:11] joelhawksley commented on #1231
That's the case I'd be most interested in supporting 👍🏻

[2022-02-08 18:21] boardfish commented on #1231
Yeah, I think it really clearly marks the benefit of this as a feature. 👍

`render @profiles` currently makes use of `to_partial_path` as I understand it, so the implementation is directly linked to partials. I suppose what would be nice is for collection rendering to be able to use `render_in` somehow... A little bit vague right now, but I might do a bit of digging soon to try and understand how

[2022-02-09 16:41] boardfish opened #1264 "Builds failing on `main`: translations missing in `TranslatableTest` on Ruby 3"
Appears to have started from [this build](https://github.com/github/view_component/runs/5051327997?check_suite_focus=true) and is [still present](https://github.com/github/view_component/runs/5114074589?check_suite_focus=true).

This only seems to be happening on Ruby 3.

I'm going to have a look into this, but if anyone's got any findings of their own to get `main` green again, they're very welco

[2022-02-09 16:52] Spone commented on #1264
FYI: I also spent some time on this earlier this month, without finding a solution :-/

[2022-02-09 17:51] boardfish commented on #1264
It seems to have something to do with [this commit](https://github.com/ruby-i18n/i18n/commit/cbca32e3fa0f94306c079ab61df4436aab05a2bd) to `i18n`. What's happening is that whenever `store_translations` is getting called, it's getting called with `skip_symbolize_keys: true`. So I'm a step closer to understanding this - I still need to figure out what's responsible for those options getting passed. @

[2022-02-09 20:05] #1264 closed

[2022-02-10 16:40] boardfish commented on #1258
@MaksJS This might've been associated with #1264 and may no longer be a problem on `main`. I'm not sure when the team plans on cutting another release, but that could be another option for you for now.

[2022-02-10 18:38] BlakeWilliams commented on #617
@boardfish 👋 just a heads-up, but we're hoping to finalize v3 around April 2022 that will include your work on the generators.

[2022-02-10 18:50] #901 closed

[2022-02-10 18:51] joelhawksley commented on #900
Closing as resolved.

[2022-02-10 18:51] #900 closed

[2022-02-10 19:07] BlakeWilliams commented on #617
also cc @elia and @franks921, I added two items that have you assigned as owners. No pressure though, we're happy to help out where we can with that work.

[2022-02-10 19:11] elia commented on #1042
@joelhawksley I have one locally that's half-backed, guess it's time to finish it! 😅 👍

[2022-02-10 19:35] elia commented on #1258
Marking this as solved by #1264 ✅

[2022-02-11 12:02] boardfish commented on #1229
Sure! The API Documentation is pretty comprehensive, but a link somewhere in the main docs would be good to flag it up to folks who want to experiment here.

[2022-02-11 12:24] #1229 closed

[2022-02-11 16:14] boardfish commented on #670
#1194 reminded me of this issue - I've noticed that the `Component` suffix is hardcoded into a lot of templates, so if people wanted to adopt their own naming schemes, they'd currently have trouble. I'm not sure if this is something we want to deliberately advise against in the name of ensuring usage of ViewComponent is relatively consistent, but if not, is it worth making the pattern for componen

[2022-02-11 16:55] franks921 commented on #617
Hi @BlakeWilliams

Unfortunately, I'm still working through a heavy workload and my time is limited. I should be able to have a look in the next 2 weeks or so. Apologies if this is causing any delays

[2022-02-11 17:08] BlakeWilliams commented on #617
Not at all, and like I said, no pressure! If you won't be able to get to it let us know, not a big deal at all. 🙂

[2022-02-11 19:53] Spone commented on #670
I would say that this significantly differs from the convention chosen by this gem, and as such, I think it's reasonable to let people implement it in their own generator if they want to (see [view_component-contrib](https://github.com/palkan/view_component-contrib#organizing-components-or-sidecar-pattern-extended) for instance).

[2022-02-11 20:05] Spone commented on #531
This has been fixed by https://github.com/github/view_component/pull/1218

See https://viewcomponent.org/api.html#sidecar

[2022-02-11 20:05] #531 closed

[2022-02-11 20:18] Spone commented on #623
In preparation for v3 (#617) Let's sum up the progress on this. Here are the relevant PRs:

- #1030
- #1183
- #1194
- #1218
- #1249

Thanks again to everyone who contributed :)

The implement syntax is currently:

[code]

Do you think we should aim for the [more conventional syntax](https://guides.rubyonrails.org/generators.html#customizing-your-workflow) described above?

[code]

If we do, it wou

[2022-02-12 00:22] Spone opened #1275 "Predicate methods for slots"
## Feature request

I would like to suggest adding predicate methods for slots.

For instance:

[code]

[code]

They could also be used in `#render?`:

[code]

### Motivation

Most of the time, when slots are optional, I find myself testing their presence with `#present?` because I want to render a wrapper element conditionally. I think we could add some syntactic sugar for this, similar to the `#

[2022-02-12 10:11] boardfish commented on #623
The `config.generators` block isn't responsible for configuring things like template engines and test frameworks themselves, only choosing which ones to use. So I'd argue this is fairly nonstandard. I feel it makes sense for the config to be where it is now, because it's configuration for something provided by ViewComponent — I feel the relation to generators comes second. If someone were to remov

[2022-02-13 18:32] elia commented on #617
@BlakeWilliams just out of curiosity, any reason we're a _tracking issue_ instead of  a milestone (or both)?

[2022-02-14 10:35] Spone commented on #623
I have a few counter-examples:

- `g.test_framework :test_unit, fixture: false`: the `fixture` option is related to the generator behavior
- `g.orm :data_mapper, migration: true`
- `g.force_plural` allows pluralized model names

I agree with this argument, even if in pratice, they are most of the time colocated in `config/application.rb`.

[2022-02-14 10:49] boardfish commented on #623
Seems like the pattern with those examples is to toggle whether or not to run related generators (e.g. with hooks). Running on that basis, `sidecar`, `stimulus_controller`, and `locale` could be configurable this way, but `distinct_locale_files` might seem out of place.

If I could choose between either I'd personally lean towards configuring alongside the rest of `view_component` rather than with

[2022-02-14 10:59] Spone commented on #623
There is also the argument that the `config.view_component.generate` _status quo_ does not need any additional work :)

[2022-02-14 14:46] BlakeWilliams commented on #1275
I'm a fan of this idea! Would you like to take this on and open a PR for this feature?

[2022-02-14 14:59] Spone commented on #1275
Yes I will!

[2022-02-14 15:54] Spone commented on #1275
Here is the draft PR: https://github.com/github/view_component/pull/1281, please let me know what you think!

[2022-02-14 16:15] Spone commented on #1213
In case we want to update the [rule](https://github.com/github/view_component/blob/main/.github/styles/Microsoft/Contractions.yml#L22), we can use a regex with a negative lookahead, to ensure the matching `they are` is not at the end of a sentence.

[code]

[2022-02-14 16:52] boardfish commented on #1213
I can do so - I trust regex is supported in keys?

[2022-02-14 20:33] Spone commented on #1182
I haven't spent as much time studying this as you have, but I just found this https://docs.github.com/en/repositories/releasing-projects-on-github/automatically-generated-release-notes#configuration-options

I'm wondering if there is a way to leverage this configuration (which is based on labels) to determine which changes go to an automatically generated changelog, and maybe "editorialize" the ch

[2022-02-14 20:46] seand7565 commented on #869
Looks like we're still seeing this issue on our app on the newest version (`2.49.0`) - seems to happen occassionally the first time the component is rendered on deploy, as mentioned before.

<details>
<summary>stacktrace</summary>

[code]
</details>

[2022-02-15 12:00] AlecRust opened #1283 "Namespaced components not working as expected"
### Background

We've been using ViewComponent since early days and it's been great. Since we have so many components, each with three files (`.rb`, `.html.erb` and `.css`) each component resides in its own folder to help organisation.

Also full disclosure, we don't use the `Component` suffix i.e. we use `Alert.new` to save typing.

We now want to create two _types_ of view components, matching w

[2022-02-15 12:22] boardfish commented on #1283
Hi @AlecRust! Thanks for opening this issue.

I find this use case interesting - it makes sense that the Ruby file should be at the same level of all sidecar assets. I do wonder if this should be considered as a feature request.

However, I feel like without coercing Zeitwerk in some way, this could be quite a difficult thing to achieve. `autoload_paths` only adds to the list of directories from w

[2022-02-15 15:05] elia commented on #869
As mentioned by @seand7565 we had to reintroduce the snippet in https://github.com/github/view_component/issues/869#issuecomment-868515458 to avoid the errors.

[2022-02-15 15:10] #1275 closed

[2022-02-15 15:15] horiaradu commented on #869
@seand7565 this is happening in production mode or in the tests? the thread safety code is only running in development and test mode.

[2022-02-15 15:53] elia commented on #869
Need to dig more, but in the production console `Rails.application.config.eager_load` is `true` but `ViewComponent::Base.descendants` is an empty array. Running `Rails.application.eager_load!` didn't help 🤔

So I would say that the fix provided by @horiaradu should be working fine and we need to understand if it's a local configuration and if something can be done directly in VC.

[2022-02-16 13:06] AlecRust commented on #1283
Thanks for your reply @boardfish I wasn't aware of the default Zeitwerk behaviour here.

I agree this could be treated as a feature request.

Until then it sounds like simplest solution to start using namespaced components is to match the docs by having all component files together in one folder. This will be a large folder but at least the files will still be grouped together.

[2022-02-17 19:17] hjhart opened #1288 "allowed_queries in documentation but not in code"
When browsing through the documentation, you can see that `allowed_queries` is an API that expected to be exposed. It is something that GitHub uses extensively in their test suite, as far as I've heard.

However, when searching through the repository, you can only see references to it in documentation, but not code.

<img width="1291" alt="Screen Shot 2022-02-17 at 11 15 08 AM" src="https://user-i

[2022-02-19 22:52] seanbjornsson commented on #1064
I have just started a new Rails 7 project, with View Component and Stimulus. I am working with just vanilla Importmap Rails, no jsbundling-rails or esbuild. My file structure is as created by the component generator with the sidecar and stimulus flags as @liaden was using.

**Has anyone found a solution that automatically loads sidecar stimulus controllers as they are added without having to regis

[2022-02-19 23:20] imustafin commented on #1064
I've came up with a very dirty (IMHO) solution a while ago, but waited for someone to suggest a cleaner one :sweat_smile:

My solution doesn't require manual controller registration.

The main idea is to add `app` to asset paths so that we have our controllers by the `components/controller.js` path in the asset pipeline. To make it a bit cleaner, we add it as the last path:
[code]

Then we can add

[2022-02-20 02:32] seanbjornsson commented on #1064
![](https://media.giphy.com/media/JAx2M03nrV1Rtmt742/giphy.gif)
Wow, thank you so much @imustafin !! I was hoping hoping that someone out there had figured this out.
From the perspective of someone just finding ViewComponents, your post is exactly the documentation I was looking for but couldn't find. So I support some documentation!

I'm also curious what people think about an install task someth

[2022-02-21 13:04] boardfish commented on #1213
Made the change to the rule upstream. I'll reflect it within this repo too.

[2022-02-22 12:33] Spone commented on #623
@boardfish have you used the `config.view_component.generate.sidecar = true` syntax with success?

I just tried in the `replicate-bug` folder: if you add the following

[code]

and start the server, you get:

[code]

[2022-02-22 12:39] boardfish commented on #623
Can confirm this is an issue. I've found the fix and I'll put a PR in now.

[2022-02-22 12:53] #1213 closed

[2022-02-22 19:26] dmarcoux commented on #1288
In the [slides](https://github.com/joelhawksley/identity/blob/b7b71a75c7baa8877309ad35daed8dda200bc837/talks/2021/slides.md) from the talk _ViewComponents in the real world_ held by @joelhawksley, I've found the following code under the [Performance](https://github.com/joelhawksley/identity/blob/b7b71a75c7baa8877309ad35daed8dda200bc837/talks/2021/slides.md#performance) section:

[code]

With this

[2022-02-25 18:18] camertron commented on #1283
Hey @AlecRust, it sounds like this behavior is to be expected based on how Zeitwerk functions. Please don't hesitate to reopen if I've missed something :)

[2022-02-25 18:18] #1283 closed

[2022-02-25 18:48] camertron commented on #1288
Hey @dmarcoux, thanks for bringing this up. We talked about it internally today and decided we should consider upstreaming it into either view_component or even Rails. One of us will update this issue when we have the time to make some progress.

[2022-02-28 19:54] marlo-longley commented on #411
I wanted to add some findings on this that I recently encountered in case it helps anybody. I was able to override the view component partial with a few steps and using the subclassing approach suggested by @cdmo above. Here's what I did to override `app/components/blacklight/search_bar_component.html.erb`:
1. Make a simple subclass of the Blacklight component in my local app at `app/components/dl

[2022-03-08 18:18] dkniffin commented on #234
I'm still keeping an eye on this thread, hoping for something to get added 🤞

I wanted to mention that #980 implemented a POC of how this could work, since it's not linked in this thread.

[2022-03-08 22:34] dmarcoux opened #1301 "Annotations missing for inline components when annotate_rendered_view_with_filenames is enabled"
I am using view_component in a Rails application with `config.action_view.annotate_rendered_view_with_filenames` set to `true`. For view components with templates, the HTML is annotated with the usual `BEGIN` and `END`. However for inline components (so relying on `call` and not having a template), the HTML doesn't contain those annotations.

### Steps to reproduce

1. Set `config.action_view.anno

[2022-03-09 14:54] joelhawksley commented on #1301
@dmarcoux thanks for filing this issue! The current implementation of template annotations hooks into the template compilation process, which isn't used for inline components.

I'd love to see this feature added to the framework, would you like to take it on? I'd be happy to pair with you to get it off the ground: joelhawksley@github.com

[2022-03-10 17:13] alexcode-lab opened #1305 "Stop war in Ukraine"
While Ukraine is under missile attacks GitHub could be used by Russians to develop apps and platforms aiming to destabilize Ukrainian web resources.

Please, prevent these actions and don't stay on the same side with invaders! All information about war can be found at:  https://war.ukraine.ua/

We urge you to close GitHub for Russia and its developers! We value your support and we are in need for

[2022-03-10 17:47] boardfish commented on #1305
Not speaking on behalf of GitHub itself here, but they've released a [blog post](https://github.blog/2022-03-02-our-response-to-the-war-in-ukraine/) explaining their stance. Others across GitHub's public repos have summarized this to you.

While my thoughts are with you in this difficult time, I'll be closing this issue as it isn't directly linked to the ViewComponent project, and I'd advise again

[2022-03-10 17:47] #1305 closed

[2022-03-12 22:55] barmintor commented on #411
FWIW, I prototyped the two approaches (a Compiler change, a change to _sidecar_files) mentioned here in this commit (for an engine that uses ViewComponent): https://github.com/barmintor/blacklight/commit/3b834bc5e1e51531a0ecb70b0db350bc5c057a47

In a pinch, I think you could monkey-patch components to get this behavior. I think if you want to be able to add sidecar files in a downstream app, you n

[2022-03-17 17:22] camertron opened #1313 "Mention version info in docs"
In the docs, it would be cool to mention the version of view_component certain features were introduced in.

[2022-03-17 17:27] Spone commented on #1313
Also, we could mention the latest version of the gem on the landing page, after we merge #1151.

Something like this:

![image](https://user-images.githubusercontent.com/38524/158859258-5e2bbf19-57a2-47f6-b740-971c907cba54.png)

[2022-03-18 16:23] jasper502 commented on #1248
Did you resolve this?  I am seeing the same issue.

[2022-03-19 15:37] #1151 closed

[2022-03-20 03:30] spnv commented on #1064
@imustafin For me this one is not optional to make it works.
[code]

[2022-03-20 08:58] imustafin commented on #1064
@spnv yes, you need to load them somehow. You can do `lazyLoadControllersFrom` or `eagerLoadControllersFrom` in `app/javascript/controllers/index.js`, or you can load them some other way.

Maybe the word "optional" was wrong there. It should have been "for example" maybe.

[2022-03-21 16:44] davidrapson opened #1315 "Inherited component renders parent template in 2.51.0"
When rendering components which inherit from another component there is an issue rendering the expected template in the latest view component versions. Which template the component renders varies based on the Rails environment. Reproduced using view_component 2.51.0.

My best guess is that this may be a side-effect of https://github.com/github/view_component/pull/1302 as that's the only change I c

[2022-03-21 16:53] davidrapson commented on #1315
Let me try running the test case in production to confirm.

Would be up for raising a PR with a failing test if I can get one working. Interestingly I tried bumping the version here https://github.com/citizensadvice/design-system/actions/runs/2016124844 and it passed all our rspec tests for our components. So far only been able to replicate when running in a full app context. Will keep digging tho

[2022-03-21 16:55] BlakeWilliams commented on #1315
@davidrapson thanks! The [`with_new_cache`](https://github.com/github/view_component/blob/25f37ca454eb9aba539b3b35f41c883c96be448f/test/test_helper.rb#L89-L101) test helper will likely be helpful here so other test runs/pre-compilation won't interfere with the test.

[2022-03-21 16:58] davidrapson commented on #1315
Cheers. Interestingly when the app is in production mode the reduced test case renders as expected using https://github.com/davidrapson/view_component-bug-replica

<img width="858" alt="image" src="https://user-images.githubusercontent.com/123386/159321566-09a3a107-f42c-469e-b1b2-9021f0e6b79d.png">

Will update the steps to reproduce to reflect that.

[2022-03-21 17:21] davidrapson commented on #1315
Added a failing tests over in https://github.com/davidrapson/view_component-bug-replica/blob/main/test/components/example_component_test.rb which can be seen failing here: https://github.com/davidrapson/view_component-bug-replica/runs/5631634613?check_suite_focus=true

Will have a go tomorrow at adding a failing test to the `view_component` gem itself.

[2022-03-21 19:43] davidrapson commented on #1315
OK! I _think_ I've managed to narrow this down to eager loading. At least managed to produce a few more examples.

- Added a version of the component test in a fork https://github.com/davidrapson/view_component/commit/207de9616125713d3ddd078ff91f47807d51167d
- Confirmed that setting `config.eager_load` to `false` reproduces the error https://github.com/davidrapson/view_component/commit/b132fbada21

[2022-03-23 14:47] cbeer commented on #1315
Thanks for digging into this issue -- we're impacted by this bug too. I believe the "compiled" version of `#render_template_for` is getting inherited by subclasses that are loaded after the parent class is rendered. eager loading ensures all the classes are loaded before any of them render (so they get the original definition of `render_template_for`).

[2022-03-23 17:30] davidrapson commented on #1315
Thanks, that makes some sense. Also spotting this bit of code https://github.com/github/view_component/blob/main/lib/view_component/engine.rb#L85-L87 helped me understand why the behaviour is different between environments.

@camertron Don't suppose you could shed some light on what's going on here?

[2022-03-24 18:12] camertron commented on #1315
Hey @davidrapson, thanks for bringing this up! It does indeed look like the problem is related to inheritance and lazy loading. I'm going to try and work up a fix today, but if I can't stand up a PR by EOD I'll revert the change.

[2022-03-25 17:20] #1315 closed

[2022-03-29 10:08] boardfish opened #1322 "Component previews that aren't declared with templates don't appear to support slots"
### Discussed in https://github.com/github/view_component/discussions/1321

I was able to replicate this issue raised by @muriloime. With [these files](https://gist.github.com/boardfish/d84d541c2457056cba025d26cd736872) in place (preview in `test/components/previews/`, the rest in `app/components`), navigate to [http://localhost:3000/rails/view_components/outer_component/default](http://localhost:

[2022-03-29 12:27] muriloime commented on #1322
Thanks @boardfish . I assume the same behaviour happens when testing compnonents, but I haven't tried it yet

[2022-03-29 13:09] muriloime commented on #1252
Hi @allmarkedup , yes, I see it inside lookbook indeed, and I am still seeing problems with this too. I will open an issue inside lookbook then. @boardfish should I close it here?

thanks

[2022-03-29 13:19] #1252 closed

[2022-03-31 19:02] joelhawksley commented on #1322
@boardfish thanks for moving this to an issue ❤️

To my knowledge, this issue also exists in the controller context. Perhaps we could start with a failing test for this use case for previews and controllers? @muriloime would you be up for starting there?

[2022-04-01 01:31] muriloime commented on #1322
HI @joelhawksley . Indeed, the problem exists in the controller context too.

I am still getting my head around the view_component code, but the branch https://github.com/muriloime/view_component/tree/fix_slot_rendering contains the two failing tests .

cheers
Murilo

[2022-04-07 00:02] muriloime commented on #1322
Any hints on how to fix this @boardfish, @joelhawksley? thanks

[2022-04-07 00:14] joelhawksley commented on #1322
@muriloime thanks for providing a failing test! I've been traveling and haven't had a chance to dig into this further.

FWIW, rendering content in blocks in a controller context is something Rails does not support to my knowledge. That likely means that getting something working here could be tricky.

That being said, if this is time sensitive for you I'd be happy to do some pairing time to get th

[2022-04-07 00:34] muriloime commented on #1322
That would be great, @joelhawksley, many thanks. I will reach out by email then.

By digging a little bit I see the data vanishes at this line:

https://github.com/github/view_component/blob/e7eec9869fc13e401401c687573a98f1b0ed57a8/lib/view_component/slot_v2.rb#L58

cheers
Murilo

[2022-04-07 15:36] sampart opened #1326 "`bundle exec appraisal rake` fails with "`initialize': wrong number of arguments""
I’m trying to run the the tests from this project locally. I’m running through the setup steps at https://github.com/github/view_component/blob/main/docs/CONTRIBUTING.md#submitting-a-pull-request. I had to run `bundle install` before `bundle exec appraisal install` but anyway.

The issue I’m hitting is with `bundle exec appraisal rake`:

[code]

<details>
<summary>Fuller stack trace</summary>

[co

[2022-04-13 15:15] ellnix commented on #1093
TL;DR
[`ActionView::Helpers::AssetUrlHelper`](https://github.com/rails/rails/blob/6bb0e0efb2bea8b22c4b22c60bc776c8760d41bd/actionview/lib/action_view/helpers/asset_url_helper.rb) does not provide the correct logic for loading an asset through the asset pipeline (Sprockets). The easiest **(incredibly ugly)** workaround is to include the sprockets-rails helper and its configuration into your preview

[2022-04-14 18:22] camertron commented on #1326
Thanks @sampart :) Turns out Rails 5.2 doesn't run so well on Ruby 3. Should be fixed now.

[2022-04-18 00:18] tmaier opened #1334 "i18n does not support scope attribute"
### Steps to reproduce

[code]

and

[code]

### Expected behavior
Both should look up the same i18n key from the sidecar yml file

### Actual behavior

The one with the `scope` attribute does not look at the sidecar yml fle

### System configuration
**Rails version**: `rails (7.0.2.3)`

**Ruby version**: `ruby 2.7.6p219`

**Gem version**: `view_component (2.52.0)`

[2022-04-18 10:04] boardfish commented on #1334
Hi @tmaier! We've previously done some work in this area to improve i18n support, but there may still be a gap here. We'd appreciate it if you could contribute a failing test or a set of gists that can be added to the bug replication environment (`script/replicate-bug`). That way, we can see if this is a repeatable issue and start to fix it.

In the meantime, using string interpolation might get y

[2022-04-18 22:18] joelhawksley commented on #1334
@elia might you be able to chime in here?

[2022-04-20 17:13] elia commented on #1334
@joelhawksley #1335 should solve the issue

[2022-04-20 19:26] #1334 closed

[2022-04-23 02:29] #1042 closed

[2022-04-24 10:26] peteryates commented on #930
If it's of any use in the [GOV.UK Components](https://govuk-components.netlify.app/) lib we [map components to helpers](https://github.com/DFE-Digital/govuk-components/blob/main/app/helpers/govuk_components_helper.rb) so they can be used via `render` or the helper, depending on preference.

[2022-04-25 16:20] joelhawksley opened #1342 "ViewComponent Happy Hour @ RailsConf"
👋🏻  I'll be hosting a happy hour at RailsConf this year for the ViewComponent project. I'd love to see you there!

Join us for drinks & snacks. We'll have stickers for all and a special something for project contributors!

Time: Tue, May 17, 2022, 5:00 PM – 8:00 PM PDT (come on over after the keynote)
Location: Lil Spirit (At Spirit of '77), 500 Northeast Martin Luther King Junior Boulevard, Portl

[2022-04-26 18:47] haxlerose opened #1344 "ViewComponent not working with some Tailwind CSS classes"
I've got a Rails app using Turbo, esbuild and Tailwind CSS.  I've started to change some of my Rails partials that are rendered in views the usual way with `<%= render 'example_partial' %>` to ViewComponents being rendered with `<%= render ExamplePartial.new %>`.  All the Tailwind classes and responsive utility classes work normally when rendered the usual Rails way, but when I render them with Vi

[2022-04-26 18:54] haxlerose commented on #1344
Well, I just figured it out thanks to a reddit post.  I'll leave this here for anyone who has the same issue.  In Tailwind's config file `tailwind.config.js`, the ./app/components directory needs to be added to the directories array under `content:`  Once I added it, everything started working properly.

[2022-04-27 15:15] joelhawksley commented on #1344
Thanks for documenting your resolution @haxlerose!

[2022-04-27 15:15] #1344 closed

[2022-05-04 21:34] kieraneglin commented on #1039
Late to the party, but is there an official replacement for `with_component`? I have a few ideas for how I'd refactor to support this change, but any official guidance would be appreciated

[2022-05-05 00:48] seand7565 commented on #869
I have a sample app where I can reproduce this on a production env [here](https://github.com/seand7565/view_component_storybook_autoload_bug)

The issue comes from [view_component_storybook](https://github.com/jonspalmer/view_component_storybook), and our configuration where we set `app/components` as the storybook_path. We set it like this:
`Rails.application.config.view_component_storybook.stori

[2022-05-06 06:53] denkozlovs commented on #1039
I use this method to work with locales and switching website design

[2022-05-06 06:59] denkozlovs opened #1348 "Look up localized templates in the same way Rails does"
## Feature request
Support I18n templates finding

### Motivation

When i'm using views, i'm able to create:
- show.en.html.erb
- show.de.html.erb

With ViewComponent i'm forced to use a workaround:
- some_component.html+en.erb
- some_component.html+de.erb

Version 3 removes `with_variant` support, so i cannot upgrade

[2022-05-06 07:01] isaeviv commented on #1348
➕

[2022-05-09 13:31] joelhawksley commented on #1342
I've opened registration to the public, sign up here: https://www.eventbrite.com/e/viewcomponent-happy-hour-tickets-304168585427

[2022-05-10 22:02] ryanb opened #1351 "Warning on ruby2_keywords with renders_many"
### Steps to reproduce

Call `renders_many`. For example.

[code]

### Expected behavior
No warning.

### Actual behavior
Outputs this warning when starting up Rails app (Ruby version 2.7.5).

[code]

I only noticed this in latest version (2.54.0).

### System configuration
**Rails version**: 7.0.3

**Ruby version**: 2.7.5

**Gem version**: 2.54.0

[2022-05-11 02:25] BlakeWilliams commented on #1351
Thanks for the report!

I opened up https://github.com/github/view_component/pull/1352 to resolve the issue and to try preventing more warnings from popping up in the future.

[2022-05-13 13:46] theonlyriddle commented on #1248
Same problem here.

[2022-05-13 13:49] #649 closed

[2022-05-13 13:50] Spone commented on #1248
@jasper502 @theonlyriddle Which version of ViewComponent are you using?

@dylandechant would you mind explaining how you solved your issue? Thanks!

[2022-05-16 17:26] xdmx opened #1362 "Generator config is not working from development.rb"
I'm setting a new project with ViewComponent and I see that in #1249 `config.view_component.generate_locale = true` changed to `config.view_component.generate.locale = true`, but when I set that in the `environments/development.rb` file it raises saying that `generate` is `nil`.

As a workaround I can set it in an initializer with `ViewComponent::Base.generate.locale = true` and it's working.

The

[2022-05-16 17:28] boardfish commented on #1362
Noted. I'll tackle this as soon as I'm able to, but I'm moving house this weekend, so it might not be for a little while. Thanks for your patience in the meantime, and thanks also for thoroughly documenting the issue!

[2022-05-17 20:47] jonathanloos commented on #1342
Joined the waitlist! @joelhawksley what do you think the likelihood of a couple spots opening up is?

[2022-05-17 20:47] jonathanloos commented on #1342
Joined the waitlist! @joelhawksley what do you think the likelihood of a couple spots opening up is?

[2022-05-17 21:18] #1342 closed

[2022-05-19 15:26] jacob-carlborg-apoex commented on #1322
I've run into this issue as well, rendering a component with a block in a controller.

@joelhawksley the API does support a block [1], as far as I can see. But it still doesn't work. I've tried to trace down where it goes wrong, but there are so many layers in Rails, it's easy to get lost 😃.

The ViewComponent documentation has an example of this use case [2], perhaps it should be removed until it

[2022-05-20 08:21] boardfish commented on #1362
Ah, I had a bit of a lapse and realized this would be covered by #1291. So all I should need to do is address @joelhawksley's feedback there and hopefully the fix ought to be in.

[2022-05-20 08:24] boardfish commented on #1362
In the meantime, please use `ViewComponent::Base.generate.locale = true` instead, as that ought to work. Sorry for the confusion there!

[2022-05-24 00:05] jasonyork opened #1367 "ViewComponents using ActiveModel::Validations and Sidecar Translations"
### Steps to reproduce

Create a new component that also includes `include ActiveModel::Validations` and utilizes sidecar translations.

For example:

[code]

[code]

Additionally, before starting the server, enable `config.eager_load = true` in the Rails configuration.

### Expected behavior
An exception should not be thrown

### Actual behavior
An exception is thrown:
[code]

The exception is th

[2022-05-24 19:29] joelhawksley commented on #1367
@elia any ideas here?

[2022-05-25 05:33] elia commented on #1367
I bumped into a similar problem just yesterday, apparently AM::Validations brings in a lot of AM modules, including AM::Translations, and overrides i18n_scope returning the :activemodel symbol.

If the use case is the same as ours and we're basically "type checking" incoming arguments I think we should start advising against the use of AM::V and provide a simpler and lighter solution.

I'll try to

[2022-05-25 18:30] joelhawksley commented on #1039
@kieraneglin I'd love to see an example case you're trying to refactor.

@denkozlovs I believe @elia is looking into a solution for locales.

[2022-05-25 18:37] elia commented on #1039
@joelhawksley @denkozlovs [not working on it at the moment](https://github.com/github/view_component/issues/1348#issuecomment-1119494189), prioritizing #1367 for which I have a potential solution.

[2022-05-26 17:14] elia commented on #1367
@jasonyork can you show me some of the validations you would like to add?

For my current project something like the following does the job:

[code]

The API is admittedly rough and any suggestion and advice is welcome, **but at this point I'd like to understand if this would cover the typical use-case**.

[2022-05-30 21:38] rafaelcdelgado commented on #869
@seand7565 , does this fix the issue on production too? We are not getting any error on test, only in production.

[2022-05-31 00:04] seand7565 commented on #869
I think there are two distinct issues here - one in production and one in specs. The issue in specs was fixed in a recent version release. My post above addresses the bug in production.

Are your stories in app/components? If so, my fix above should work!

[2022-05-31 00:29] rafaelcdelgado commented on #869
@seand7565 , Yes, actually... We do not get any issue on specs, but sometimes on production.  So i'm going to try this fix... We are hosted on Heroku, and spend sometime researching but cant reproduce on development or local.

[2022-06-01 16:37] tysongach commented on #1362
I believe I’m seeing this issue, too. From a mention in the [API docs](https://viewcomponent.org/api.html), I’m setting the following…

[code]

However, I get this error when running the Rails server:

[code]

[2022-06-01 16:48] tysongach opened #1375 "Documented test helper, `rendered_component`, renaming"
👋 Hi!

I’m noticing that the `rendered_component` test helper, which is [documented in the Testing guide on viewcomponent.org](https://viewcomponent.org/guide/testing.html), was renamed suddenly in [v2.56.0](https://github.com/github/view_component/releases/tag/v2.56.0) (and [v2.56.1](https://github.com/github/view_component/releases/tag/v2.56.1)). That caught me off-guard coming in through a mino

[2022-06-02 02:14] DRBragg commented on #1322
Can confirm this is also happening when testing. With Rspec at least

[2022-06-02 19:50] Spone opened #1378 "Use Zeitwerk for code loading"
## Feature request
#1377 made me think about using Zeitwerk for loading the `view_component` code, instead of all these `autoload` and `require`.

See here for what it would look like: https://github.com/fxn/zeitwerk#synopsis

We took this path in `view_component-form`, so you can have a look at the following PR to see what it took: https://github.com/pantographe/view_component-form/pull/107 (keep

[2022-06-02 20:26] Spone commented on #617
@elia @BlakeWilliams I'd be happy to convert this to a Milestone if you think it's a good idea. In my opinion it would make things clearer :)

[2022-06-02 21:18] Spone commented on #1367
A tangent idea: if you're only validating presence, have you considered using [`dry-initializer`](https://dry-rb.org/gems/dry-initializer/3.0/) instead of `ActiveModel::Validations`?

[2022-06-02 21:42] #1375 closed

[2022-06-03 01:55] jasonyork commented on #1367
@Spone Thanks for that suggestion.  I'll look into that as an option. Since we have a fairly simple use case, there are quite a few ways we could replace that functionality.  My main concern with this issue is mostly about putting a fix in place for others that run into the same problem.  The error you get under this condition can be unexpected and difficult to debug.  It would be nice to at least

[2022-06-03 04:09] bensheldon commented on #906
I also wanted to link up this Rails issue: https://github.com/rails/rails/issues/41452

It doesn't have an explanation unfortunately.

[2022-06-03 14:09] elia commented on #1367
@jasonyork thanks for your feedback, and I initially thought the same about reinventing the wheel, but upon further examination I realized that (to me) it's more like using a bazooka to kill a fly 🪰 as this kind of checks are and should not be user-facing.

Anyway my proof of concept implementation looks like this:

[code]

_the initialize method would look like this:_

[code]

**Notes**
- All met

[2022-06-05 16:07] jasonyork commented on #1367
Hi @elia - I can understand and respect the opinion that AM::Validations may seem like overkill.

For what it's worth, here are my thoughts... I would strongly encourage you to reconsider if adding a validation module to ViewComponent is necessary.  ViewComponent does a very good job at what it's designed for.  There are already Gems that can do validation.  I think it would be better for ViewComp

[2022-06-06 09:23] boardfish commented on #1367
Inclined to agree here. Especially since validation of component attributes has already been highlighted as something core to using ViewComponent when we talk about fetch-or-fallback, I think it's important that it should strive to be compatible with a variety of validation engines. It's also been on my mind for a while that, if it's not already trivial to drop them in, we should document compatib

[2022-06-07 12:27] erikaxel commented on #234
@joelhawksley Is there anything you can do to unblock this on the Rails side of things? You seem to have been able to guide the initial commit to Rails 6.1 that enabled ViewComponent in the first place, so maybe you have some tricks? From an outside view it seems like the PR needed at the Rails side is stalled and it is a bit unclear to me why: https://github.com/rails/rails/pull/42850

[2022-06-07 14:27] imustafin commented on #1064
@tripptuttle if I understood you correctly, my solution should work. In the mentioned commit https://github.com/imustafin/sibrowser/commit/12fb4aecb32775243c2924ef1f2b7c30fdf045c2 we have [app/components/packages_paginated/component_controller.js](https://github.com/imustafin/sibrowser/commit/12fb4aecb32775243c2924ef1f2b7c30fdf045c2#diff-c7c1133f39459b982213285e1469e0fae9676106a4eb3b88ca91d968d566

[2022-06-08 07:31] imustafin commented on #1064
To be honest, it has been a long time since I've configured all of this :)

I don't remember if I had such errors. I believe I had only the [the expected shim error](https://github.com/rails/importmap-rails#expected-errors-from-using-the-es-module-shim) on Firefox. I don't remember if I even checked the console in other browsers. It just worked.

[2022-06-08 12:57] mdrbohlav opened #1384 "&block rendered twice or at the wrong position from helper"
I have a custom form builder but since I want to be able to use the default one as well I created helper method for it:
[code]

And when I try to use it inside any component I get two different results but neither of them is what I expect it to be. One renders the block twice - before and inside the `form` tag. The other one renders the block only before the `form` tag.

Note that when I use the `

[2022-06-08 13:58] Spone commented on #1384
See #974 for the WIP on this issue 🙂

[2022-06-08 20:37] joelhawksley commented on #617
@elia @Spone we generally just use tracking issues for this kind of thing internally ❤️

[2022-06-08 20:50] joelhawksley commented on #234
@erikaxel I'm sorry to say that I don't think I have much sway here. Caching support for ViewComponents is likely a fairly significant effort that we (GitHub) don't currently have the resources to take on.

I'm guessing @Matt-Yorkley would be keen for someone to step up and try to land that PR, for what it's worth. Perhaps you and @dkniffin could resurrect it? I'd be happy to provide pairing suppo

[2022-06-09 07:17] mdrbohlav commented on #1384
I have found some issues with the similar problem but totally missed the PR, thank you!

[2022-06-09 14:33] Matt-Yorkley commented on #234
I dropped it because there seemed to be zero interest on the Rails Core side and a strong reluctance to allow the proposed changes to some of the relevant ActionView classes that handle creating/mapping the digests for each fragment. I don't think it's feasible to do it without some of those changes.

[2022-06-09 14:48] dkniffin commented on #234
@joelhawksley I'm still unclear on why the Rails PR (https://github.com/rails/rails/pull/42850) won't be accepted. Is there more work required to make it acceptable in Rails Core? imo, a complete re-write of the rails caching system would be great, but short of that happening, it seems like the changes @Matt-Yorkley made are a reasonable short-term solution.

[2022-06-09 21:27] tripptuttle commented on #1064
Yeah, it all works, but it just throws an error I think while resolving the request for the controller out of the import map.

[2022-06-10 08:54] WaKeMaTTa opened #1386 "Capybara save_and_open_page method"
## Feature request

I would like to be able to use `save_and_open_page` capybara method.

### Motivation

[Method info `save_and_open_page`](https://www.rubydoc.info/gems/capybara/Capybara%2FSession:save_and_open_page)

[2022-06-10 11:08] boardfish commented on #1386
Hey @WaKeMaTTa! I take it you've attempted to use this method already? What currently happens when you attempt to use it;?

[2022-06-10 11:40] adem-wecasa commented on #1386
Hello @boardfish

This is what I get:
[code]

[2022-06-10 16:25] boardfish commented on #1386
Looks like [that method's provided by `Capybara::Session`](https://github.com/teamcapybara/capybara/blob/51bca8300136ba2dcf45e92883a07845105f2b3a/lib/capybara/session.rb#L729-L731). I've just had a quick look inside Capybara and I was hoping this method might be accessible by chaining together `page.native.session.save_and_open_page`, but it doesn't seem to be the case.

[2022-06-10 19:48] joelhawksley commented on #1386
I believe this isn't working because there is no Capybara::Session present, as ViewComponent unit tests do not run in a browser.

[2022-06-10 19:50] joelhawksley commented on #234
@dkniffin I don't have any context beyond what you can read on the PR 💔 I wish I had a better answer for you 😞

[2022-06-13 07:17] WaKeMaTTa commented on #1386
Ah! of course :facepalm:

[2022-06-13 07:17] #1386 closed

[2022-06-13 07:24] Bramjetten opened #1390 "Helpers proxy broken in 2.57.0"
I believe the change in #1385 caused the helpers proxy to fail.

### Steps to reproduce
Use the helpers method in a ViewComponent

### Expected behavior
It should use the controller's original view context

### Actual behavior
It uses the view component's resulting in undefined methods.

### System configuration
**Rails version**: 7.0.3

**Ruby version**: 3.1.1

**Gem version**: 2.57.0

[2022-06-13 08:17] bobmaerten commented on #1390
Same problem here.

[2022-06-13 16:20] BlakeWilliams commented on #1390
Hi, thanks for the report!

Can you provide more details about the issue? Is this happening for all components, controller rendered components, or any other specific circumstances?

If possible, if you can provide a failing test that would also help us resolve the issue much more quickly.

[2022-06-13 20:11] Bramjetten commented on #1390
Looked a bit further and it looks like this only happens when using `.with_collection` in nested components. I've replicated the bug here:
https://github.com/Bramjetten/view_component-bug-replica

[2022-06-13 23:54] PedroAugustoRamalhoDuarte commented on #1064
Thanks for this rake, it works very well with esbuild, i have add some lines to automatic import the view component stimulus manifest inside normal stimulus controller manifest

Add this lines at the end of update task:
[code]

[2022-06-14 00:04] PedroAugustoRamalhoDuarte opened #1393 "Duplicated component name inside stimulus controller when using sidecar option"
## Feature request
Improves stimulus controller name when we have sidecar option

### Example
When i run `rails g component Reports::Footer::Card --sidecar --stimulus --preview`

Its creates the html with component name duplicated in data-controller prop

[code]
But would be better to be:

[code]

[2022-06-14 00:44] joelhawksley commented on #1393
👍🏻 Makes sense to me. Want to write the PR?

[2022-06-14 01:01] Spone commented on #1393
Correct me if I'm wrong, but that's the expected behavior: the controller identifier depends on the path and file name of the controller JS file.

See https://stimulus.hotwired.dev/handbook/installing

[2022-06-14 12:34] progapandist commented on #1064
I wonder if there is any change we can upstream on Stimulus side to make registering non-standard locations for controllers more straightforward. Otherwise, it just seems hacky for now :(

Any ideas? I'd be happy to try to push this forward.

[2022-06-14 13:54] Spone commented on #1064
:wave: @progapandist nice to see you here!

I'd be happy to spend some time to pair on this and try to figure out the best way forward. Let me know!

[2022-06-14 14:47] progapandist commented on #1064
@Spone — small world! 😆

For now we did an ugly workaround with adding `app/frontend/components` (has to be a nested folder to avoid preloading whole `app`) to `eager_load_paths` in `application.rb`. We are not satisfied with this long-term though. Let's find time to pair next week. I think you still have my number :) If not — contact me at `andrey@hey.com`

[2022-06-14 15:16] PedroAugustoRamalhoDuarte commented on #1393
Yes you are right, the new name would work, but is better keep default naming from stimulus for the default imports. Maybe the better approach in my case is change the controller name from `card_component_controller.js` to just `controller.js`. Is there some generator to automatic generate sidecar component like in this part of the docs? https://viewcomponent.org/guide/javascript_and_css.html#stim

[2022-06-14 15:22] borama commented on #1390
Hello, we hit the same issue when using the helpers proxy in a child component:

1. we have a helper function defined in a standard helper module under `app/helpers`
2. we have a base component class:

       class ApplicationComponent < ViewComponent::Base
         ...
       end

3. we have a "detail" component, deriving from the base component; when we call a helper function from 1. here, we ge

[2022-06-14 17:10] swanson commented on #1313
This would be very helpful. On two separate occasions I've been looking at the VC docs site and trying to use features only to realize my version of the gem was not new enough.

[2022-06-14 23:19] camertron commented on #1390
Thanks everyone, we've identified the issue. Should have a fix out by tomorrow (PT) 😄

[2022-06-15 20:41] kdiogenes opened #1397 "Component generator is failing due ViewComponent::Base.generate being nil"
### Steps to reproduce
`bin/rails g component Admin::Table title`

### Expected behavior
The generator runs successfully.

### Actual behavior
[code]

### System configuration
**Rails version**: 5.1.7

**Ruby version**: 2.5.8

**Gem version**: 2.7.6.2

[2022-06-15 21:40] Spone commented on #1393
You can use [view_component-contrib](https://github.com/palkan/view_component-contrib#organizing-assets-js-css) or implement your own generator by copying [this file](https://github.com/github/view_component/blob/master/lib/rails/generators/component/component_generator.rb) in your project and adapting it.

[2022-06-15 22:29] #1390 closed

[2022-06-15 22:35] camertron commented on #1390
Released in v2.57.1.

[2022-06-20 13:10] PedroAugustoRamalhoDuarte commented on #1393
Thanks @Spone for the help! I will use view_component-contrib to generate my components

[2022-06-20 13:10] #1393 closed

[2022-06-20 20:31] dkniffin commented on #982
@BigBigDoudou Thanks for the suggestion. I actually ended up finding another way to do this, that is covered by VC's specs [here](https://github.com/github/view_component/blob/4f9fb0f9074144291865b0189eea2d990bad8baf/test/sandbox/app/components/slots_v2_with_empty_lambda_component.rb#L5)

With the original example, this would be the result:

[code]

[code]

[code]

[2022-06-20 20:31] #982 closed

[2022-06-20 20:56] Spone commented on #982
@dkniffin would you mind opening a PR to add this example to the docs? (probably [after this](https://viewcomponent.org/guide/slots.html#rendering-collections))

[2022-06-21 20:11] mjacobus commented on #38
That workaround caused some issues with turbo - can't remember the specifics. This fixed it:

[code]

[code]

[2022-06-22 16:08] progapandist commented on #1064
Hey @Spone, I have created a repo with a test application that demonstrates both the "nested folder" workaround, and the failing attempt to register non-standardly-located Stimulus controllers. I have took time to describe everything in the README.

https://github.com/progapandist/importmap-view-component-stimulus/

So far I cannot pinpoint which library is to blame for the incompatibility, but I

[2022-06-23 15:44] rcdvl opened #1405 "[Feature Proposal] Make component rendering DRY"
First of all, thank you for such an amazing library!

While developing a side project of mine, I started to feel like doing `<%= render(ComponentClass.new(params: ...)) %>` was way too verbose and repetitive.
Looking at how React does things, I had this idea "what if we could simply call `<%= component_class(params: ...) %>`? I was about to start trying to code this for my project-only, but It fee

[2022-06-24 04:06] kzkn commented on #899
@joelhawksley
I've tried to make it. Please check it out!
https://docs.google.com/drawings/d/1dNWYmCLQCg5AVtYRwar-Vw05h4iRjGB9vN19VN8RZVE/edit?usp=sharing

[2022-06-24 09:37] boardfish commented on #1405
Hey @rcdvl! This is a good suggestion, and various folks in the community share your sentiment. #1293 has some example code you might want to drop in to generate those helpers if you wish to use them. I'll be closing this issue in favor of that discussion.

[2022-06-24 09:37] #1405 closed

[2022-06-25 09:14] stevegeek commented on #1322
Just saw this and throwing in a possible work around instead of using `render_with_template`

Im pretty sure you can call `render` on the outer component to ensure the inner component renders in its context, ie

[code]

At least thats what Im doing in my previews, eg

[code]

[2022-06-28 15:36] unikitty37 opened #1409 "JavaScript config instructions are Webpack-specific and do not work with esbuild"
When using esbuild rather than webpack, following the instructions for configuring JavaScript does not work as the example given is Webpack-specific.

### Steps to reproduce
* Create a project with `rails new -j esbuild app`
* Add `view_component` to the Gemfile and run `bundle install`
* `rails g component Thingy`
* Create app/components/thingy_component.js, containing just `console.log('IT WORKS

[2022-06-30 00:48] stephannv opened #1412 "Using components as view/page template"
## Feature request

Any plans to support ViewComponent usage as a view/page template?

The docs says:

[code]

So I tried to do something like this:
[code]

It worked but the experience can be improved:
-  The i18n doesn't work well because the i18n_scope/virtual_path uses `view_component_path` config ("app/components"), this causes the i18n_scope for Posts::IndexPage to be the full file path like

[2022-06-30 00:49] stephannv commented on #1412
I'm pressed enter before complete the description. I will reopen soon

[2022-06-30 17:46] PedroAugustoRamalhoDuarte commented on #1322
I have the same problem with with_content method

[code]

[2022-07-01 12:53] boardfish commented on #1322
@PedroAugustoRamalhoDuarte `#render` appends to the output buffer that your controller returns or your view renders. When you're passing something to `#with_content`, it needs to be a string so that it can be interpolated by the template correctly. You may want to use [`#render_in`](https://viewcomponent.org/guide/getting-started.html#rendering-viewcomponents-to-strings-inside-controller-actions)

[2022-07-01 12:55] boardfish commented on #1322
Come to think of it, that might even be an interim solution here if you really need slot functionality when rendering in this style, but I also feel that how you render components in the controller and view template shouldn't really differ, so I wouldn't say it's optimal.

[2022-07-02 11:18] unikitty37 commented on #1409
I've since given up on esbuild due to other limitations, and moved to webpack, so this isn't affecting me any more. I'll leave this open if you don't mind, as I still think the docs could use instructions for the other JS build systems Rails supports.

[2022-07-02 12:50] Spone commented on #1409
Yes, we're currently looking into this. We'll probably add instructions for this use case to the docs.

[2022-07-05 13:19] #1313 closed, assigned to Spone, camertron

[2022-07-11 13:39] boardfish commented on #1412
Hi @stephannv! Sorry for the lack of activity here. I agree that components have the potential to replace what we'd otherwise call a presenter or view model. That's what we're considering past V3 - you can follow and support discussion in #618.

Both those bullet points you've got there would be good candidates for individual issues that we could potentially solve a lot sooner than #618, if you'd

[2022-07-19 22:18] joelhawksley opened #1424 "Move ViewComponent to its own org"
I’d like to propose that we move ViewComponent to its own organization, `viewcomponent` for the following reasons:

1. So that ViewComponent’s identity can grow beyond the scope of just being a GitHub project. ViewComponent has > 165 contributors from across the industry, not just GitHub employees.
2. So that we can formally extend ownership of the project to non-GitHub members of the community. T

[2022-07-20 10:21] boardfish commented on #1424
All for it! I suppose it does beg the question of whether the gem gets renamed to `viewcomponent` too, but I think that's something we'd need to do with a major release... It's worth thinking through the consequences for developers there.

Part of me wonders if there'd be a way to have Dependabot pick up on the rename. That'd give it a good signal boost.

[2022-07-20 16:45] tjefferson08 opened #1425 "Some capybara assertions (e.g. `assert_button`) failing after 2.58 -> 2.59 upgrade"
### Steps to reproduce
[reproduction in repo here](https://github.com/tjefferson08/view-component-capyabara-assertion-bug)

Basic steps:
- install view_component 2.59 and capybara (3.37.1 in this case)
- add a test which uses `assert_button`
- observe failure!
- downgrade to 2.58 and observe success

### Expected behavior
API from capybara like `assert_button` should correctly flow through to the

[2022-07-20 17:02] rmacklin commented on #1425
Related:
- https://github.com/github/view_component/pull/1423

[2022-07-21 11:06] allmarkedup opened #1426 "Component template changes not reflected in app"
Hey all. I'm running into an issue after upgrading ViewComponent to >= v2.58.0 whereby any changes I make to component view templates are not showing up when the component is rendered in our app views.

Changes to the component class file **are** picked up correctly - and If I make a change to a template and *then* make a change to the component class file, the template change will then show up in

[2022-07-21 15:12] joelhawksley commented on #1426
@allmarkedup thanks for the report! Might you be able to bisect this problem against `main`, testing whether https://github.com/github/view_component/pull/1343 broke this for you?

[2022-07-21 16:09] joelhawksley opened #1430 "Fix incompatibility with `rails` `main`"
### Steps to reproduce

Run the ViewComponent test suite against `rails` `main`.

### Expected behavior

The build passes.

### Actual behavior

The build fails: https://github.com/github/view_component/runs/7417840434?check_suite_focus=true

[2022-07-21 16:10] joelhawksley commented on #1430
Note: we shipped a stopgap for this issue in https://github.com/github/view_component/issues/1430 cc @BlakeWilliams

[2022-07-21 16:56] joelhawksley commented on #1425
Reverted in https://github.com/github/view_component/releases/tag/v2.61.1.

[2022-07-21 16:56] #1425 closed

[2022-07-21 19:17] allmarkedup commented on #1426
Hey @joelhawksley - I've just checked the latest release and I am still seeing the same issue, so I've just done a bit of digging and it seems that PR https://github.com/github/view_component/pull/1343 is the cause of the problem for me. Before that everything works fine.

Just skim-reading the discussion around that PR, might it be possibly something to do that all our components inherit from a b

[2022-07-21 19:27] allmarkedup commented on #1426
@joelhawksley I've just tried removing the `call` method from our BaseComponent and without it the template changes are once again being picked up in the app.

So it looks like it's something to do with `call` method inheritance - is this an anti-pattern? It would be pretty trivial to refactor out of our codebase but would be good to know what you'd recommend :-)

[2022-07-21 21:24] gambala commented on #1170
Nice example of how to fix the issue with just a link to an actual logs: https://github.com/ruby-i18n/i18n/blob/master/CHANGELOG.md

[2022-07-22 20:11] TastyPi opened #1436 "Polymorphic slots missing predicate method"
### Steps to reproduce

1. Create a component with a polymorphic slot
2. Try to use the predicate method for the slot
3. See that the predicate is undefined

e.g.

[code]

### Expected behavior

In the example `icon?` should be defined

### Actual behavior

`icon?` is not defined

### System configuration
**Rails version**: 7.0.3.1

**Ruby version**: ruby 3.1.2p20 (2022-04-12 revision 4491bb740a)

[2022-07-22 20:21] Spone commented on #1436
Good catch! I totally forgot about polymorphic slots when implementing predicate methods...

Would you like to contribute a failing test or a fix?

[2022-07-22 20:23] TastyPi commented on #1436
I'm pretty sure this would be the fix, though I haven't figured out the right way to test it yet https://github.com/github/view_component/compare/main...TastyPi:view_component:graham/view-component-predicate

[2022-07-22 22:38] Spone commented on #1436
Can you open a PR with this fix? I'll help with the tests!

[2022-07-25 10:27] TastyPi commented on #1436
@Spone created #1437, thanks for the help!

[2022-07-25 19:07] MatheusPoliCamilo opened #1440 "Not updating turbo frames on POST when rendering from controllers"
### Description

When rendering a `ViewComponent` from the controllers, it isn't updating the turbo frames tags specifically on POST. Using Rails partials it works fine. Using a Rails partial with a `ViewComponent` inside works too.

### Steps to reproduce

I made an example in this repository: https://github.com/MatheusPoliCamilo/view_component_1440

Basically a request to this `ExampleController

[2022-07-26 17:00] MatheusPoliCamilo commented on #1440
@joelhawksley I've updated the docs, could you take a look in #1422?

[2022-07-26 18:34] #1436 closed

[2022-07-27 17:30] #1430 closed

[2022-07-27 19:41] Spone commented on #1430
I think you meant #1429 ✌️

[2022-07-27 21:26] camertron commented on #1426
@allmarkedup I don't believe we consider `call` method inheritance + templates to be an anti-pattern, everything should work as expected. I just copy/pasted your components into a new Rails app and was not able to reproduce the behavior you're seeing. Is it possible fragment caching (or some other caching mechanism) is at fault here?

One thing I did notice: if you make an initial request and then

[2022-07-27 22:34] #1440 closed

[2022-07-28 08:47] allmarkedup commented on #1426
Hey @camertron - I've just tested with the latest release that includes the changes in https://github.com/github/view_component/pull/1432 and I can confirm that the issue I was seeing is now fixed. Thank you!

FWIW, we are not doing any fragment caching and it wasn't anything to do with deleting templates while the app was running. But whatever the cause it is now resolved :-) Appreciate your help

[2022-07-28 08:47] #1426 closed

[2022-08-01 13:09] pierrickouw opened #1445 "Write component directly as html component"
## Feature request

This gem is great to create a set of reusable component. We are currently using it since 1 year+ and loving it!
It looks like the inspiration came from React, and the presenter pattern (see [here](https://viewcomponent.org/#whats-a-viewcomponent))

Using many components can sometimes lead to a lot of html/erb tag template being mangled together, e.g (not so relevant example as

[2022-08-01 13:54] pierrickouw commented on #1445
Thanks for link, couldn't find it 🙌

[2022-08-02 15:38] shepmaster opened #1447 "view_component + turbo + active_record callbacks can lead to a deadlock"
### Steps to reproduce

This is a tough one to reproduce as it deals with multithreading and occurs in a private application that I will need to spend a chunk of time to obfuscate / minimize. I can do that if useful, but I figured I'd open the issue to start discussion.

The general setup:

1. A Rails application
1. A multithreaded web server
1. Perform **parallel** web requests
1. One web request

[2022-08-02 15:55] BlakeWilliams commented on #1447
I wonder if we need to make the locking a bit more advanced, using something like a [ReadWriteLock](http://ruby-concurrency.github.io/concurrent-ruby/master/Concurrent/ReadWriteLock.html).

Would that solve the issue here, assuming the problem is that both threads are trying to access the same lock in the `#call` method, leading to a deadlock? The `ReadWriteLock` should enable us to call `#call` c

[2022-08-02 16:03] shepmaster commented on #1447
I'll have to poke around the code a bit more to see what pain would be involved in switching from the `Monitor` to a `ReadWriteLock`. I'd also have to read about how `ReadWriteLock` is implemented with regards to fairness — if a read lock waits in a queue behind a write lock attempt, I think the same problem would occur.

My random idea was to make `Compiler` instances thread-local — each thread w

[2022-08-02 17:27] BlakeWilliams commented on #1447
@shepmaster I think that could work too!

I took poked around a bit and ended up reproducing *a* deadlock with https://github.com/github/view_component/pull/1448 the `ReadWriteLock` fixed it. I think that may be close to your scenario, but feel free to give that branch a try and see if it resolves your issues in CI to validate it.

[2022-08-02 17:27] shepmaster commented on #1447
My local changes are:

[code]

This also prevents the deadlock.

[2022-08-02 17:28] camertron commented on #1447
It seems like the thing to do here is to only acquire the lock if templates need to be compiled, and if the lock isn't acquirable, block until it is. In other words, I don't think there's any reason to lock on read. We could do something like:

[code]

[2022-08-02 17:31] camertron commented on #1447
@shepmaster won't a thread-local compiler potentially compile templates and define methods on a VC class more than once?

[2022-08-02 17:32] camertron commented on #1447
@BlakeWilliams right, but as long as we block until the compilation is done, there shouldn't be a problem?

[2022-08-02 17:37] shepmaster commented on #1447
I do agree that changing the concurrency story (such as by splitting reader / writer) could lead to increasing the performance, but I'm not sure that is a concern as this only applies to development and test. However, if you feel comfortable making those changes, it seems like an OK way forward. I'll test with your PR in a second.

I don't claim to be conversant in the VC code base enough to know

[2022-08-02 17:43] shepmaster commented on #1447
Since y'all are here, what _exactly_ is the shared resource that is intended to be protected by `__vc_compiler_lock`?

[2022-08-02 17:45] BlakeWilliams commented on #1447
The `render_template_for` method, which is defined/undefined on the component class (effectively a singleton resource) https://github.com/github/view_component/blob/ab6fc4e06be41aa89ffd50e9ba93cfc025063b2a/lib/view_component/compiler.rb#L135-L146

I'm writing up something a bit longer, but I think the thread-local compiler approach would still run into issues where one thread undefines the method

[2022-08-02 17:50] shepmaster commented on #1447
Why does the monitor live in a `Compiler` instance instead of on the component class? That is, would something like this work?

[code]

Or, if it needed to be somewhere central, what about a per-class monitor in a map of some kind? e.g.

[code]

[2022-08-02 17:55] BlakeWilliams commented on #1447
The compiler used to live in the base class, but was extracted to help readability and understandability of the code, since the base class does a lot.

As-is, I think the existing code is roughly equivalent to your examples, but just lives in a separate class since there should be only one compiler per-component as defined in the base class:

https://github.com/github/view_component/blob/ab6fc4e06

[2022-08-02 18:05] BlakeWilliams commented on #1447
Here's why I think we need a read lock:

Imagine you have a component, `MyComponent` that is already compiled in a `development` environment. We're running Puma with 2 workers, so we effectively have 2 threads that can run concurrently:

Thread 1:
* `render MyComponent` is called, and [`#compile`](https://github.com/github/view_component/blob/ab6fc4e06be41aa89ffd50e9ba93cfc025063b2a/lib/view_compo

[2022-08-02 18:12] shepmaster commented on #1447
Your sequence diagram makes sense to me, thanks. I was going to ask if you could "atomically" redefine the method(s), but I see the comment about that:

https://github.com/github/view_component/blob/ab6fc4e06be41aa89ffd50e9ba93cfc025063b2a/lib/view_component/compiler.rb#L69-L70

And that's where our deadlock is occurring. Over the years, my gut has told me that CI suites operate faster / at differ

[2022-08-02 18:13] shepmaster commented on #1447
I was able to run 400 tests without a deadlock occurring, so that PR (at `ab6fc4e06be41aa89ffd50e9ba93cfc025063b2a`) seems like it addresses our problem as well.

[2022-08-02 18:14] BlakeWilliams commented on #1447
Yep, that's a great observation. We introduced a good amount of complexity to avoid a Ruby warning. 😄

If would be interesting if Ruby could provide a way to redefine a method without the warning, or pass a flag that's like "yep, definitely going to redefine this so don't warn please".

[2022-08-02 18:17] BlakeWilliams commented on #1447
Maybe https://www.rubydoc.info/gems/activesupport/Module:silence_redefinition_of_method is relevant here? 🤔

[2022-08-02 18:19] camertron commented on #1447
@BlakeWilliams ah ok I'm convinced! Nice explanation 😄

[2022-08-02 19:43] hjhart commented on #1288
@camertron @joelhawksley Any updates on this one? Anything I can do to help? (Likely not, since I'm external to GitHub, but figured I'd ask anyway).

[2022-08-02 20:09] #1447 closed

[2022-08-03 01:56] shepmaster commented on #1447
I just wanted to say thank you. I rather dreaded opening this issue, expecting to be told that I was Doing It Wrong or that ultimately Rails needed to be changed, not VC. Instead, I had the opportunity to have solid technical discussions and my issue was resolved in less than 24 hours. It has been a pleasure!

[2022-08-03 08:12] unikitty37 commented on #1093
Please don't disallow view helpers in previews — I need to use them, and I suspect I'm not the only one.

See https://github.com/github/view_component/discussions/1451 for more detail on what I'm doing (though allowing component tests to do `expect(page).to have_rendered_component(ExampleComponent)` would also solve my problem here, but that's a different issue :)

[2022-08-03 22:54] VSPPedro commented on #1064
I was trying to achieve this and asked for help on StackOverflow: https://stackoverflow.com/questions/73223634/how-to-make-viewcomponent-works-with-importmap-rails/73228193#73228193

I'm using the first option and it's working like a charm.

How do you feel about adding the first option to the documentation?

[2022-08-04 14:31] unikitty37 commented on #1064
It gets a bit messy when using namespaced components and sidecar folders. If I use `rails g Page::DarkModeSelector` to generate `Page::DarkModeSelectorComponent` I have to use `data-controller="page--dark-mode-selector-component--dark-mode-selector-component"`.

Granted, that's a fairly long name to start with, but is there a way to make these a little (well, a lot TBH :) less verbose? Having the

[2022-08-04 14:34] PedroAugustoRamalhoDuarte commented on #1064
@unikitty37 we talk about that in this issue: https://github.com/github/view_component/issues/1393

[2022-08-05 16:53] thutterer opened #1456 "Components without the `Component` suffix"
I'm wondering, can we have components without that `Component` suffix? There is this line in the docs:

https://github.com/github/view_component/blob/aab5a4664755c0c5ec65a5c511dfbbec9d8eee91/docs/guide/getting-started.md?plain=1#L13

And all examples follow this rule, but is it a requirement?

A quick test where I renamed a working `Foo::BarComponent` to `Foo::Bar` seems to work just fine.
And I s

[2022-08-05 18:43] joelhawksley commented on #1456
@thutterer it is not a requirement, but is still what I'd consider convention, hence it being specified under Conventions in the docs. I'd be happy to consider a PR to change the wording if you'd like to suggest a diff ❤️

[2022-08-05 19:05] thutterer commented on #1456
Thank you @joelhawksley for the quick reply ⚡
Sure, I can make a PR for this in the next couple of days.

[2022-08-06 09:37] koenhandekyn commented on #1456
input from a user: I share the primer opinion to drop the component suffix for reduced verbosity, one reason is that components are mostly namespaced already in our case.

- [ ] generators should be configurable to add or not add the component suffix

[2022-08-06 09:39] koenhandekyn opened #1458 "config.view_component.generate_stimulus_controller vs config.view_component.generate.stimulus_controller"
the API documentation mentions `config.view_component.generate.stimulus_controller = true` while the current correct syntax seems to be with an underscore, i.e. ``config.view_component.generate.stimulus_controller = true`

[2022-08-06 09:40] koenhandekyn opened #1459 "`config.view_component.generate_preview = true` is not picked up as a default"
`config.view_component.generate_preview = true` does not seem to be picked up as a default (while the others are)

[2022-08-06 09:42] koenhandekyn commented on #1458
relates to https://github.com/github/view_component/issues/1362

[2022-08-06 10:27] Spone commented on #1456
I'd say that in this case, where you chose to diverge from the convention, you can implement your own custom generator. The [contrib](https://github.com/palkan/view_component-contrib) gem can be a good starting point to generate a custom generator.

[2022-08-06 10:28] Spone commented on #1458
This will be solved by #1291

[2022-08-06 11:54] boardfish commented on #1456
This seems similar to #670, and #1005 which followed it. @koenhandekyn @thutterer These might be helpful in understanding how we came to this decision in the past.

[2022-08-09 13:37] #1397 closed

[2022-08-09 13:37] #1458 closed

[2022-08-09 13:37] #1459 closed

[2022-08-12 01:08] fsateler commented on #387
Hi! I saw @joelhawksley just landed a PR in rails, adding a syntax for defining the arguments a view template accepts: https://github.com/rails/rails/pull/45602 . I would be happy to update #451 to allow this.

[2022-08-12 15:04] thutterer commented on #1456
Thank you @boardfish, reading these issues was very insightful.

@joelhawksley I couldn't decide where to best add this information in the docs. I considered linking to this issue here in the "Conventions" section, but that might be bit too distracting for someone who is just getting started.

I'm closing this issue, as I'm sure the conventions section will see some edits anyway when https://githu

[2022-08-12 15:04] #1456 closed

[2022-08-12 21:31] pJeyakumar opened #1464 "Gem using ViewComponent breaks from changes to ViewComponent::Base"
### Steps to reproduce

1. Clone [Matey Repository](https://github.com/harled/matey)
2. Install [Docker](https://www.docker.com/products/docker-desktop/)
3. Open Local Repository in Remote Container using Docker
4. Change view_component gem in **spec/sample folder** to ver. 2.66.0 (in line 224)
5. Run the sample application by following the Development steps [here](https://github.com/harled/matey#

[2022-08-12 22:12] boardfish commented on #1464
In that version, I changed all references to config options called on `ViewComponent::Base` to instead check `Rails.application.config.view_component`. I suppose at the point that this runs, we're not within the context of a Rails app yet, so perhaps I should revert this back to referring to `ViewComponent::Base`.

I think we already have a test that ensures this shouldn't cause any issues. I'll p

[2022-08-15 08:20] boardfish opened #1467 "`pvc` run failing on `main` after #1462 merged"
CI runs are failing with the following message under `pvc`:

[code]

Looks like this was introduced by #1462.

[2022-08-15 15:34] kurt-mueller-osumc opened #1468 "NameError: uninitialized constant ViewComponent::Compiler"
### Steps to reproduce

1. Install the `view_component` gem, version 2.66
2. Run `bin/rails db:seed`

### Expected behavior

It should seed the database.

### Actual behavior

An error is thrown:

[code]

### System configuration
**Rails version**: 7.0.3.1

**Ruby version**: 3.1.2p20

**Gem version**: 2.66

[2022-08-15 15:43] boardfish commented on #1468
Hey @kurt-mueller-osumc! I've just tried to replicate this using our `replicate-bug` environment and failed to do so. In addition to the steps you provided, I added a config line that sets `ViewComponent::Compiler.mode` in `config/environments/development.rb`.

Can you provide any further details about the environment you're experiencing this in so that we can help to resolve it for you?

[2022-08-15 15:46] kurt-mueller-osumc commented on #1468
Hi Simon,

Thanks for the quick reply. I'm currently in the `development` environment. Could you tell me what was the line you added in `development.rb`? Thank you :)

[2022-08-15 15:59] kurt-mueller-osumc commented on #1468
I fixed this by downgrading `view_component` from `2.66` to `2.61`.

[2022-08-15 16:08] joelhawksley commented on #387
@fsateler we were just chatting about this last week! I wrote that Rails PR in part as inspiration from #451. I'm still trying to wrap my head around how we should incorporate the change into VC. I'd love to hear your thoughts and recommendations ❤️

[2022-08-15 16:33] #1464 closed

[2022-08-15 16:50] joelhawksley commented on #1467
Yup, we need to bump VC in PVC. I'll take this one ❤️

[2022-08-15 17:21] joelhawksley commented on #1468
I also ran into this bug here: https://github.com/primer/view_components/runs/7842624213?check_suite_focus=true

[2022-08-15 22:18] #1468 closed

[2022-08-16 15:37] fsateler commented on #387
I think because VC does not have the legacy AV does, we can be a bit more strict about the `locals` marker: a missing `locals` marker means `no arguments`, that is, no marker == `locals: ()`.

That being said, there is still one point which this new marker does not address, is how to expose the compiled method. AV requires you to call `render :viewname`, as the compiled method name is almost gibbe

[2022-08-17 23:13] wooly opened #1479 "DSL for initializer attribute validation"
## Feature request

DSL for describing the type/shape of attributes

### Motivation

I'm building out a component library and have come across multiple cases where I have to pass an attribute that has a particular shape or can be selected from a particular set of values. I'm wondering if there's a simple DSL for articulating this that would raise some error or a warning if the attribute was bad.

[2022-08-19 20:08] Sorc96 commented on #1479
Check out [dry-initializer](https://dry-rb.org/gems/dry-initializer/main/) and [dry-types](https://dry-rb.org/gems/dry-types/main/). There has been a short discussion about this in #639, where multiple people mentioned dry-initializer.

Your example could look like this:
[code]

I'm honestly not a fan of the fact that every other Ruby library reinvents its own type system. I would much prefer havi

[2022-08-20 15:12] hulloitskai commented on #1384
I believe that another PR aimed to resolve this issue was actually merged (https://github.com/github/view_component/pull/1307), and then subsequently reverted: https://github.com/github/view_component/pull/1432.

I've recently run into this issue, and I was wondering if there are any efforts being made to address it, now that we are no longer experimenting with a single output buffer.

[2022-08-21 17:28] ZilvinasKucinskas opened #1485 "helpers.link_to with a block causes broken HTML output"
`helpers.link_to` does not work with a block. Removing `helpers` prefix fixes the behavior.

However, it is very common to use `link_to` in view helpers. A simple usage is marking the links as active or inactive based on the current URL:

[code]

Usage of `link_to_active` with a block just breaks `view_component`.

### Steps to reproduce

Inside a component, render:

[code]

### Expected behavior

[2022-08-22 20:51] joelhawksley commented on #1479
@wooly thanks for sharing your thoughts. I agree that something like this would be useful for ViewComponent, but I don't think that it belongs in the project as a matter of responsibility. All of the proposals I've seen for something like this over the years generally fall into the category of not being coupled to ViewComponent at all!

[2022-08-22 21:29] wooly commented on #1479
Thanks both for the input, I probably should have been more diligent in looking at the issue history to see if anyone had asked the same question before.

Feel free to close this as answered!

[2022-08-22 21:29] #1479 closed

[2022-08-23 16:28] tjefferson08 commented on #1485
FYI this appears to be a variation of the behavior described in #1384, which is rooted in #974

[2022-08-23 20:48] #1467 closed

[2022-08-24 12:01] paulhenri-l opened #1488 "Compile deadlock with ActiveJob"
I think the fix to this issue #1447 has created a regression because I am now experiencing deadlocks when using view_component and turbo streams.

After a lot of digging I found out that ViewComponent may reset the CompileCache while a request running in another thread is rendering some ViewComponents.

The line that refreshes the cache is this one and It seems to be triggered right after action c

[2022-08-24 12:05] paulhenri-l commented on #1488
It looks to me that the most straightforward way to fix this would be to use a different cache per thread

[2022-08-24 14:12] pacMakaveli commented on #1099
@swanson it didn't work for me. Nor did the `helpers.turbo_frame_tag`
However, @HashNotAdam's solution works a treat! Thanks a bunch to everyone that chimed in.

So, if you have issues with the ViewComponent duplicating your content, or messing with the HTML rendering, `tag.turbo_frame` fixes it.

[2022-08-24 16:07] Aesthetikx opened #1490 "Logging Render Times in Development Mode"
## Feature request
Hello, I am currently enjoying rewriting some partials et. al. as components. However, when checking on performance and optimizing, I miss the ability that you have with partials to see the render time of the individual partial in the server output. I see that instrumentation was recently implemented which I believe is a prerequisite for this. After enabling instrumentation in c

[2022-08-24 17:47] joelhawksley commented on #1099
@pacMakaveli mind writing a docs PR to reflect this?

[2022-08-25 13:45] BlakeWilliams commented on #1490
I think an addition to the documentation that shows how to use the instrumentation config option to log would be great. I'd also likely accept a PR that adds Rails style logging as an optional module that can be used with `ActiveSupport::Instrumentation`.

[2022-08-26 13:35] Aesthetikx commented on #1490
Made some progress.

[code]

Note that I had to use `define_method` because you cannot `def !render`. See https://github.com/github/view_component/pull/910#pullrequestreview-677897974 for a brief discussion on the leading `!`, I am thinking perhaps that was a mistake but I'm not sure of the full context.

There is also the option of using `#{event.payload[:identifer]}` (the path on disk to the com

[2022-08-26 14:03] Aesthetikx commented on #1490
The plot thickens. https://github.com/github/view_component/pull/435 already introduced a `LogSubscriber` which was later reverted here https://github.com/github/view_component/commit/5f15ed3b08f29f961ff1e23e9e42600c85b36600 (not sure why.) It looks like at the time there was both `render_template` and `render_collection`, so the log subscriber implementation was actually a bit more fancy then the

[2022-08-26 15:37] Spone commented on #1490
The revert of #453 was due to performance concerns (see the last comments on the PR), I'm not sure what can be done to improve on this front.

[2022-08-29 12:45] danieldiekmeier opened #1498 "Improve error message when using `renders_one :content`"
## Feature request

When naming a slot `content`, ViewComponent shows an argument error:

[code]

[code]

The argument validation happens here: https://github.com/github/view_component/blob/c5308ae62508925408625fffce3b420719093182/lib/view_component/slotable_v2.rb#L274-L280

I think this error message could be improved to tell the user that `content` already _is_ a slot, and they don't have to do

[2022-08-29 13:00] Spone commented on #1498
Thanks for opening an issue to discuss this! I'm all for improving error messages to be more helpful and actionable.

In this case, I'm not sure that using the phrase "implicit slot" make things clearer. I don't think we refer to `content` this way in the docs (but maybe I'm mistaken?)

Could you suggest another phrasing for the error message?

[2022-08-29 13:14] danieldiekmeier commented on #1498
@Spone You're right, that's a good point. In https://viewcomponent.org/guide/getting-started.html#implementation, I found this wording:

My suggestion based on this would be something like:

[code]

But I'm afraid it's a little long. What do you think?

[2022-08-29 20:20] Spone commented on #1498
I agree it's a bit long, but it explains the issue pretty well, so I'd be up for this improvement.

If anyone want to suggest another (shorter) phrasing, please do!

[2022-08-29 20:22] Spone commented on #1498
I agree it's a bit long, but it explains the issue pretty well, so I'd be up for this improvement.

If anyone want to suggest another (shorter) phrasing, please do!

[2022-08-29 21:08] joelhawksley commented on #1498
I don't think it's too long at all ❤️ Open a PR?

[2022-08-29 23:03] fsateler commented on #387
@joelhawksley what sort of conflict are you envisioning? Creating rails view objects is not something you can (easily) do, so how would you access them? Or perhaps you are intending to define them with a slug of the full view path. That is, given a view `app/views/users/new.html.erb`, would it become a global helper `render_app_views_users_new`? And what about partials? Anyway, I think they can be

[2022-08-31 09:49] boardfish opened #1503 "Dependabot no longer shows release notes or changelog"
### Discussed in https://github.com/github/view_component/discussions/1502

<div type='discussions-op-text'>

<sup>Originally posted by **koppen** August 31, 2022</sup>
A new ViewComponent release is a joyous event, and whenever Dependabot notifies me of one, I dig into the changelog to see what's changed.

However, the recent change to move `CHANGELOG` into `docs/` (https://github.com/github/view

[2022-08-31 17:35] #1424 closed

[2022-09-02 10:30] jdelStrother opened #1507 "2.66 forces ActionView to load too soon"
### Steps to reproduce
Add ViewComponent >= 2.66 to Gemfile, boot rails (eg `rails console`).

### Expected behavior

ActionView::Base shouldn't be loaded during the initialization process.
Rails does a poor job of making this explicit, IMO - there's a suggestion that you shouldn't load frameworks (ActiveRecord::Base, ActionView::Base etc) during boot here: https://edgeguides.rubyonrails.org/engin

[2022-09-11 17:49] ZilvinasKucinskas commented on #1485
Yes, it seems to be rooted in https://github.com/ViewComponent/view_component/pull/974.

Just stumbled into another issue while trying to use `turbo_frame_tag` with a block as already described in  https://github.com/ViewComponent/view_component/issues/1099. Seems to be the same root issue.

[2022-09-12 12:33] halo commented on #869
Thank you @seand7565 for hinting towards the storybook gem.

Our stories are located in `spec/components/stories` and not in `app`. We also already had `to_s` applied to the Pathname object, like so:

[code]

Yet, the errors occurred in production since a few weeks back (we did a few `bundle update` and Ruby upgrades lately). It happens a few times per day, and production is the only environment w

[2022-09-13 07:39] boardfish commented on #1503
Having a little think about this – I think it's only recently that this started happening (maybe the past few versions? It's probably less than 5). I'll have a trawl through dependabot updates to see which version kicked this off.

There's every chance it could be a change in the way that Dependabot loads that information – perhaps it's rooted in #972, but I can't imagine that change caused this d

[2022-09-13 08:01] boardfish commented on #1503
Based on Dependabot updates in a repo I'm in, I expect if this was a problem on our end it would've cropped up between v2.66 and v2.69.

[2022-09-13 08:17] koppen commented on #1503
That matches what I am seeing as well.

- 2022-08-15: Dependabot PR with a bump from 2.64.0 to 2.66.0 includes the changelog
- 2022-08-22: Dependabot PR with a bump from 2.66.0 to 2.69.0 has no changelog

The [original change I blamed](https://github.com/ViewComponent/view_component/pull/972) was [merged way before](https://github.com/ViewComponent/view_component/pull/972#event-4906668492) this on

[2022-09-13 10:09] boardfish commented on #1503
I think I might've cracked it - we never explicitly set `changelog_uri`. Instead, Dependabot presumably inferred it from the fact that `homepage` previously pointed to the GitHub repository. Now that `homepage` is `viewcomponent.org`, it's not working.

I don't have code in Dependabot that points to this, but I think it's a well-founded hunch that we'd probably benefit from rolling with regardless

[2022-09-13 10:16] boardfish commented on #1137
I think this could be resolved by using a single output buffer if we come to do it again. In the meantime, [this](https://github.com/ViewComponent/view_component/issues/1322#issuecomment-1172315202) might work since it's akin to rendering a component in a controller context.

[2022-09-13 14:15] koppen commented on #1503
And [this change](https://github.com/ViewComponent/view_component/commit/d28ccb6365d812779d8cbd05ea303fffa5a9efa1#diff-3e84273e5f45cd8f3f128a42fea318e775fa5f6364409602453cd08dda064965) fits the behaviour and timeline. Well done👍

[2022-09-14 13:28] joelhawksley commented on #1507
@jdelStrother thanks for filing this bug. Would you be interested in taking a crack at fixing it?

[2022-09-14 13:29] #1498 closed

[2022-09-14 13:57] joelhawksley commented on #387
Yes. And I'm not sure a namespace is a good way to go, as I don't think consumers would expect that behavior. I'd expect such global helpers to feel just like the existing Rails URL/path helpers.

How about we do `render_template_x` for now?

[2022-09-14 16:00] #1170 closed

[2022-09-14 16:41] #1503 closed

[2022-09-14 20:24] boardfish commented on #1503
Thank you both for the sleuthing and quick fix, @koppen @joelhawksley!

[2022-09-15 03:05] fsateler commented on #387
For VC that sounds good to me! Because the methods are scoped to the component object, there is no ambiguity between templates with the same name but in different components. Just so we are all on the same page, what I want to do is, given the following component:

[code]

I would generate the method `render_template_row` within `TableComponent`.

[2022-09-15 16:25] jdelStrother commented on #1507
Sure, will take a look - it might be a week or so before I get chance though.

[2022-09-15 21:19] ohrite commented on #908
@hjhart :wave: I'm sure you've solved this before, but I wanted to chime in and share that we're testing using a FormBuilder instance. The setup is a little clunky! It requires an `ActionView::Base` instance, which is a little off the beaten path:

[code]

[2022-09-16 13:21] allmarkedup commented on #1488
I just wanted to dive in here quickly to say that I've been trying to debug [an issue with Lookbook](https://github.com/allmarkedup/lookbook/issues/135) whereby the server is intermittently hanging. From reading the description here and in #1447 it seems like it might well be caused by this deadlock issue (or a subtle variation of it).

In Lookbook I believe the problem is especially acute because

[2022-09-16 13:39] Spone commented on #1488
I was experiencing the same issue when working locally with the latest versions of ViewComponent and Lookbook. I was wondering if the issue was related to my project's setup. I'm kind of relieved to learn that this is something others are experiencing as well, I hope we can work together to figure out what the culprit is.

[2022-09-16 14:05] allmarkedup commented on #1488
@spone yes it's been driving me a little bit crazy trying to get to the root cause of it so I was glad to come across this issue too! Hopefully I haven't been too hasty in assuming this is the cause of the problems in Lookbook but it certainly seems likely to be related.

[2022-09-16 14:13] allmarkedup commented on #1488
FWIW the hanging server issues I'm seeing also seem to be resolved by downgrading ViewComponent to <= 2.63.0. As 2.64.0 was the first version that included the fix to #1447 I suspect that it is indeed related to that (as @paulhenri-l suggested above).

[2022-09-16 17:10] p8 opened #1523 "Components rendered in a subclass of AV::Base ignore the subclass"
When rendering a component in a subclass of ActionView::Base, methods called within the component are called on ActionView::Base instead of the subclass.
This prevents overriding methods on ActionView::Base in a subclass.

### Steps to reproduce
[code]

### Expected behavior
Methods called in components rendered in a subclass of ActionView::Base delegate methods to the subclass.

### Actual behavi

[2022-09-20 15:08] TastyPi opened #1526 "Allow more flexibility in polymorphic slot names"
## Feature request

It would be nice if there was more customisation in how polymorphic slots were named. Specifically I would like to have the polymorphic slot name be a suffix instead of a prefix, but I could also imagine use cases where the polymorphic slot name isn't included in the individual slot names at all.

Something like this for example:

[code]

### Motivation

I'm creating a form com

[2022-09-20 19:08] boardfish commented on #1526
I've found a need for this myself and I'd be happy to work on this. I also wonder if having it this way around should be the default?

[2022-09-21 12:25] TastyPi opened #1527 "Delay running slot lambda until after the `render_in` block"
## Feature request

It would be nice if slot lambdas were not called until after the block passed to `render_in` is called.

### Motivation

Sometimes I need to change the behaviour of a slot depending on the existence of another slot. A good example of this is a form field component that supports displaying an error message:

[code]

If this component is rendered like this:

[code]

then the `err

[2022-09-21 17:44] TastyPi commented on #1527
A hacky proof-of-concept workaround is to have the lambda return a component:

[code]

Looks like it would be fairly easy to update the implementation here to support it
 https://github.com/ViewComponent/view_component/blob/88cec826bb43eb070f66acd0b243b22f29f7e178/lib/view_component/slotable_v2.rb#L354-L374

Instead of calling the function and playing with the value it should be possible to create

[2022-09-21 17:45] joelhawksley commented on #1526
Hmm. I'm not immediately convinced that it's worth introducing two potential naming schemes for polymorphic slots. My concern is that it could be quite confusing to have both approaches in a single application, or even across multiple applications.

I get that this would make certain slot names more idiomatic, but I don't feel like that's enough justification for the proposed end result.

I also w

[2022-09-21 22:05] boardfish commented on #1526
I feel like this is important. In the example given above, the word order is important to understanding the function of the slot. `text_field` and `field_text` could mean two different things (a field for inputting text, or text contained within a field of unspecified type). This is bound to be the case for other uses of polymorphic slots. Where I've used the feature in the past, I've experienced

[2022-09-22 10:10] TastyPi commented on #1526
It could even become a DSL:

[code]

[2022-09-22 10:29] danielnc commented on #1490
Looking at this too, it would be helpful to get an idea if a specific component render time is potentially a bottleneck or could be optimized

[2022-09-23 15:14] stillhart commented on #1488
I think I run into the same issue but with some parallel json requests; no ActiveJob, no Turbo Streams. In my case I had a recursive ViewComponent which might render a ViewComponent inside a ViewComponent, this 100's of times. I was refactoring a recursive ApplicationHelper method into ViewComponents.

[2022-09-23 23:10] trappar opened #1534 "Rendering from controller causes double render related to turbo"
There appears to be a bug related to rendering view components directly from controllers. In the specific case shown in the linked reproduction repo, using view component results in a double page render. Beyond just being extremely inefficient, the double render also wipes out flash messages, which is how I originally discovered it.

Here's the reproduction repo: https://github.com/trappar/view-co

[2022-09-23 23:10] trappar commented on #38
I might have found the bugs you were talking about @mjacobus. Opened an issue here: https://github.com/ViewComponent/view_component/issues/1534

[2022-09-26 10:02] paulhenri-l commented on #1488
Well in my case I have been using my fork since then and have had no issue whatsoever so maybe we should work on trying to get this one merged :)

[2022-09-27 15:27] danielnc opened #1537 "Unable to render content from slots in RSpec or Lookbook or direct preview files"
I have a very simple component that wraps part of my layout, when rending in views it works as expected, but I can't render slots in either lookbook or view_component preview
### Steps to reproduce
Component
[code]

Component.html
[code]

View from the app that works
[code]

This is the failing rspec
[code]

This is the preview that has both header and main sections empty, but the rest of the comp

[2022-09-27 17:14] fsateler commented on #387
Hi! I have updated #451 as discussed. Please take a look.

[2022-09-28 12:35] progapandist opened #1541 "BUG: Version `2.73.0` ignores explicitly set`options.show_previews`"
[This particular commit](https://github.com/viewcomponent/view_component/compare/v2.72.0...v2.73.0#diff-fe26dc052312860cc076b99a7f3c0913bf834fc73fe246def378024ffc038164R22) that shipped with version `2.73.0` removes an important condition when setting the value of `options.show_previews`:

Before:

[code]

After:

[code]

That leads to the value of `options.show_previews` set in the environment co

[2022-09-28 16:28] #1541 closed

[2022-10-04 09:10] halo commented on #869
I appreciate the efforts towards improved thread-safety, but I'm puzzled as to why I have this issue in production at all. My latest observation is that when puma increases the number of threads, the exceptions apparently increase as well. I'm thinking about trying out the `rescue` that @elia proposed.

`Rails.application.config.eager_load` is `true` in production and `ViewComponent::Base.descenda

[2022-10-05 16:36] tenpaiyomi opened #1547 "Allow passing ActiveRecord objects to renders_many Component slot"
## Feature request
I'd like to be able to pass an ActiveRecord object along to a `renders_many` Component slot.  As is right now, the reference to utilizing collections explicitly passes in an array of hashes, and the error given when trying to pass along an ActiveRecord object implies that it is trying to convert the ActiveRecord object into a hash as well instead of utilizing it in a manner that

[2022-10-05 21:29] joelhawksley commented on #1526
@boardfish good point about enums. I'd be open to a PR that mimics' the Rails API.

[2022-10-06 08:32] boardfish commented on #1526
Great, I'll give it a shot!

[2022-10-06 17:09] camertron commented on #869
@halo is it possible additional components are being required _after_ the Rails has already booted?

[2022-10-07 12:33] nicbet commented on #1488
FYI, we've been encountering this bug **outside** of Logbook, in our two of production apps:

1. the first application is a "reactive application" in that we asynchronously re-render parts of the UI in response to events triggered by background jobs processing and sending the UI updates through via Turbo stream updates; the UI pieces that get updated are ViewComponents. A page view while a backgro

[2022-10-07 21:30] camertron commented on #1488
Hey everyone! Thanks for all the discussion around the current threadsafety issues. I just submitted a [pull request](https://github.com/ViewComponent/view_component/pull/1550) that removes the locking mechanisms entirely (see the PR description for my reasoning). I'd be grateful if folks could try it in their apps and report back.

[2022-10-08 10:01] kirillplatonov commented on #1488
@camertron tested it on my app. Works great. No more deadlocks! Thank you! 👏

[2022-10-08 12:23] nicbet commented on #1488
@camertron From (limited) testing earlier today - the code on that branch works great, no deadlocks so far! 👍

Would be interested to understand the downsides of removing the locking mechanism for concurrency/thread safety/production apps.

[2022-10-08 14:16] stevegeek commented on #1488
@camertron Seems to have stopped the regular lockups for me too! Thanks!

[2022-10-08 14:48] BlakeWilliams commented on #1488
We chatted about this a good bit internally. The core problem we were originally working around was the Ruby interpreter emitting a warning when you re-define a method.

e.g.

[code]

To get around this, we were un-defining the method right before we re-define it. This is where we ran into concurrency issues since one thread could un-define `call` right before another thread called the `call` meth

[2022-10-08 20:31] allmarkedup commented on #1488
As the others have said, this is working great for me, no more issues. Thanks for your work on this @camertron, much appreciated!

[2022-10-08 23:19] paulhenri-l commented on #1488
@BlakeWilliams In my case the issue only happened in development and never in production.
@camertron I'll try your pull request when I'll be back at work and keep you updated 👍

[2022-10-10 22:58] Spone commented on #1488
[v2.74.1](https://github.com/ViewComponent/view_component/releases/tag/v2.74.1) has been released, please try it out!

[2022-10-12 00:52] hjhart commented on #1288
Sorry to be a pest, but curious what the latest on this might be? Totally fine if the answer is "no update" @camertron @joelhawksley

[2022-10-12 17:15] joelhawksley commented on #1527
@TastyPi thanks for writing this up. I'm cautious changing this behavior as I could imagine others depending on the existing behavior.

Looking at your specific example, perhaps you could set the error as part of the `input` slot instead of having separate slots?

[2022-10-12 17:16] joelhawksley commented on #1488
Closing as fixed, please don't hesitate to comment here if you run into this issue again ❤️

[2022-10-12 17:16] #1488 closed

[2022-10-12 17:19] joelhawksley commented on #869
This should be fixed in v2.74.1. Please reopen if not ❤️

[2022-10-12 17:19] #869 closed

[2022-10-12 17:26] joelhawksley commented on #1547
@tenpaiyomi makes sense to me. Want to write PR?

[2022-10-12 17:36] joelhawksley commented on #1534
@trappar thanks for taking the time to create a repository that demonstrates this issue ❤️

I'm curious why we would be calling `redirect_to` inside a `render` call. In my understanding, that would be a double render in effect.

[2022-10-12 17:44] trappar commented on #1534
@joelhawksley I'm not quite sure I understand what you mean. Can you link to where there's a `redirect_to` inside a `render` call?

[2022-10-12 18:16] joelhawksley commented on #1534
Oh duh! I misread. Yes, the naming confused me. I think it's worth moving this to a PR with a failing test on this repo. Would you be up for looking into a fix?

[2022-10-12 18:33] tenpaiyomi commented on #1547
Yep, I'll see what I can come up with. On a bit of a work crunch right now so will be a bit before I can jump on it.

[2022-10-12 18:52] trappar commented on #1534
Unfortunately, no. I'm far too busy right now. Making the reproduction repo is about the most I can help. Also, I did originally try to look into what was going on under the hood that might be responsible, and I was left totally stumped - probably mostly due to my inexperience with the related concepts. I doubt I'd be able to make any more progress. Sorry :(

[2022-10-12 19:18] joelhawksley commented on #1534
@trappar no worries! I'll leave this open and ask for help.

[2022-10-12 19:47] joelhawksley commented on #1288
@hjhart no updates. I'd be happy to pair with you on getting it started if you'd like to take it on, but IMO it should go into Rails, not ViewComponent.

[2022-10-13 01:26] TastyPi commented on #1527
So I want to be able to use the component something like this:

[code]

There are definitely ways I could make this work other than forcing the `input` to be rendered lazily, e.g. setting the `error` slot first, specifying `error: true` somewhere it can be used in the `input` slot, or moving the CSS class to a parent of the `input` element and have the CSS work with that structure.

My bigger prob

[2022-10-14 19:09] TastyPi commented on #1527
Fair enough, I hadn't thought of it from that angle but I do agree that makes sense.

This would be the main I want,

[2022-10-14 19:25] TastyPi commented on #1527
Fair enough, I hadn't thought of it from that angle, but I can agree that it makes sense. I do still think that returning a component or returning the string from rendering a component should result in the same thing, but that's just an opinion that would have been immediately changed if I was corrected by the documentation. Speaking of...

I couldn't find it mentioned anywhere, I would expect to

[2022-10-14 19:31] joelhawksley commented on #1527
I'd be happy with it too. Would you be up for writing a PR?

[2022-10-16 10:49] marckohlbrugge commented on #234
@joelhawksley Forgive me if this is slightly off-topic, but would you mind elaborating on why GitHub doesn't need view caching? How do you ensure a speedy response without the popular Russian-doll caching approach?

Perhaps there are useful insights here for other View Components users to side-step this whole caching issue.

[2022-10-17 15:14] joelhawksley commented on #234
@marckohlbrugge we cache at the request level for logged-out traffic. For logged-in traffic, we cache RPC calls vs. view rendering as view rendering is generally not a bottleneck for us but RPC calls are.

Much of GitHub's UI changes based on a user's permissions so it is difficult to get a high cache hit rate. We do cache rendered markdown though, as it is more or less viewer-agnostic. It's also

[2022-10-20 23:50] wooly commented on #1537
I think we're experiencing this as well, but it's also happening when rendering `content` as well as slots.

[2022-10-27 08:43] boardfish commented on #1537
Hey folks! I thought I'd replied to this already, but apparently not... [This thread](https://github.com/ViewComponent/view_component/issues/1322#issuecomment-1172315202) may solve your issue.

[2022-10-27 09:15] wooly commented on #1537
Thanks @boardfish, I had worked my way to that solution too - calling `.to_s` on the content causes it to render correctly.

Thanks for the reply though!

[2022-11-02 17:47] #1527 closed

[2022-11-03 02:55] krsyoung opened #1565 "TypeError: no implicit conversion of nil into String"
Thanks for all of your work on 2.75.0! Our gem seems to be less appreciative though...

We are hitting an issue with 2.75.0 causing `TypeError: no implicit conversion of nil into String` in our [matey gem](https://github.com/harled/matey). The problem does not occur in 2.74.1.

For some reason in `base.rb` `ViewComponent::Base.config.view_component_path` is nil which causes `Regex.quote` to throw

[2022-11-03 09:44] boardfish commented on #1565
I think the change to `lib/view_component/engine.rb` and `base.rb` [between these versions](https://github.com/ViewComponent/view_component/compare/v2.74.1...v2.75.0#diff-b69c75ffd85596e0b5fca1327059ecf3b2930f3f77004c78a268fa85e8ec8d9e) might be responsible. This was introduced in #1528.

I'm surprised that the tests that maintain compatibility between `ViewComponent::Base.config` and `Rails.appli

[2022-11-03 11:28] jcoyne commented on #1565
We're also seeing this problem with the Blacklight Rails engine.

[2022-11-03 12:11] krsyoung commented on #1565
Thanks for the digging @boardfish! We (from a gem perspective) are also happy to try to build on top of ViewComponent a different way if that might lead to a better future / less complexity from your side. I'm just not sure how that might look at the moment. 🤔

[2022-11-03 12:50] jdelStrother commented on #1565
Hm, sorry for the issues - I don't think I considered loading this outside of Rails. I'll try and take a look at this sometime next week, if noone else beats me to it.

[2022-11-03 16:53] jcoyne commented on #1565
I found that I can resolve this problem by adding this to my engines base component class:
[code]

[2022-11-03 20:59] krsyoung commented on #1565
Thanks for sharing @jcoyne .. I'm not having as much luck (looking into what I'm doing differently).

[code]

For me it still blows up on `class ApplicationComponent < ViewComponent::Base`.

[2022-11-04 16:50] joshmfrankel commented on #908
@ohrite's answer works well for ViewComponent previews when accepting ActionView::Helpers::FormBuilder objects as arguments

[2022-11-06 12:23] jdelStrother commented on #1565
I think one possible easy fix is like this -

[code]

Then both Rails.application.config.view_component and VC::Base.config will default to the values in VC::Config.defaults.

Will try and add some tests demoing the empty config outside of rails.

[2022-11-06 13:04] jdelStrother commented on #1565
Hm, I think the above fix is fine for the simple case as long as matey/blacklight/etc don't need to mess with ViewComponent config. If they do try and set, eg, ViewComponent::Base.config.view_component_path, that'll get lost after Rails initialization completes  here - https://github.com/github/view_component/blob/fa83442646eff70f1801d6885a3fc8c430a1ce68/lib/view_component/engine.rb#L39

[2022-11-06 14:06] krsyoung commented on #1565
@jdelStrother thanks! Just confirming that this change does indeed make `matey` happy. Thank you for digging into this!

I don't foresee (instantly jinxed) us modifying any of the base configurations as they exist today. In the event we did, might a Rails initializer work (I can try this later today)?

[2022-11-08 00:01] Kingmax1981 opened #1573 "Fuck"
### Steps to reproduce

### Expected behavior

### Actual behavior

### System configuration
**Rails version**:

**Ruby version**:

**Gem version**:

[2022-11-11 15:37] halo commented on #869
That **did** the trick! Thank you indeed.

(I think [ripping it all out](https://github.com/ViewComponent/view_component/pull/1550) was completely genius 🚀)

[2022-11-11 22:02] jcoyne opened #1577 "Relative translations don't work in initializer"
This is similar to #74

If I have an initializer and I use the translation helper, then I get the error:
[code]
This happens even after calling `super`

If I move the translation into an instance method, it works as expected.

Using view_component-2.75.0, rails-7.0.4, ruby 3.1.0

[2022-11-14 13:05] p8 commented on #1523
@joelhawksley Sorry for the late reply. I have no idea how to fix it. But I'll give it a try... 😄

[2022-11-16 19:02] joelhawksley commented on #1577
@jcoyne thanks for filing this issue. Might you be up for writing a PR with a failing test? Perhaps @elia could have a look, then.

[2022-11-22 20:56] dyeje opened #1587 "Mechanism for Using Emepheral Database Records in Previews"
## Feature request
Some mechanism similar to RSpec `use_transactional_fixtures` for component previews.

### Motivation
We often pass active record objects into our components. Currently, we fetch records and hope they have the properties we need. What would be great is if we could use factory_bot or similar to create the exact records we need for a preview. We could do that currently, but it woul

[2022-11-22 21:37] Spone commented on #1587
Hi @dyeje! Have you tried wrapping the `render` method from the preview in a transaction? If you provide an example that solves your issue, we could look at how to implement it in ViewComponent.

[2022-11-24 11:34] elia commented on #1577
This is expected, although I agree would be great to have them working in the initializer as well.

The reason it works as an instance method is that the method is most likely called after initialization and compilation of the component. Happy to review any proposal to make it work from the get go tho 🙌

[2022-11-28 19:29] joelhawksley commented on #1577
@jcoyne given @elia's response, are there any documentation changes you think we should make?

[2022-11-28 20:04] jcoyne commented on #1577
I suppose some warning in the documentation would be nice. I'm not at all clear why this timing concern exists. Maybe an explanation about that?

[2022-11-28 20:14] joelhawksley commented on #1577
@jcoyne perhaps we could just add a warning for now? Like this test case: https://github.com/ViewComponent/view_component/blob/c9b7d36e5dd2a043b20756cf5a6bdef3d3463902/test/sandbox/test/base_test.rb#L37. We could also add something to the docs.

[2022-11-28 20:19] jcoyne commented on #1577
@joelhawksley that would be really helpful

[2022-11-28 21:18] joelhawksley commented on #1577
@jcoyne cool. Would you be up for writing a PR? I can help clean up language if you get something started ❤️

[2022-11-28 22:21] jcoyne commented on #1577
No, because I don't understand the order problem were seeing. I don't understand what the compile step is or what that does.