[2019-08-16 19:08] joelhawksley opened #15 "Wanted: Experience Reports"
👋 thanks for checking out `actionview-component`!

In sharing this gem with the Rails community, we are looking to hear about your experiences with using `ActionView::Component` in your applications.

Please let us know what works well, what doesn't, and what you think is missing ❤️

If you'd rather provide feedback privately, feel free to contact me at joelhawksley@github.com.

[2019-08-21 12:26] metade commented on #15
We've started using `ActionView::Component` in our application and it's really helped clean up some nasty views/helper/presenter combos.

Thank you so much for kickstarting this - it feels to me that `ActionView::Component` was an important missing piece of the Rails toolset and it's great to see this come together.

## Issues

We've noticed a few issues in our application (Rails 5.2) that I'll st

[2019-08-21 12:31] mikker commented on #15
First; I love this so much. Had the exact same experience of coming back from React and "missing" the component way to structure things. And testing – this is so much better ❤️

I'll second the experiences of @metade – in development, changes aren't always picked up. Perhaps it could be solved as easy as disabling template compilation in development (which I think is happening?)

[2019-08-21 17:38] vinistock commented on #15
cc @jennaleeb

We added the gem to a Rails 6.0.0.beta3 project and ran into an issue when rendering a test component (both in dev and test).

Inside the `DummyTemplate` class, `identifier` is hard coded to an empty string, but better_html tries to [split this value](https://github.com/Shopify/better-html/blob/master/lib/better_html/better_erb.rb#L43), which leads to a method being invoked on nil.

[2019-08-22 03:07] joelhawksley opened #19 "Template changes not reflected in development"
In https://github.com/github/actionview-component/issues/15, @metade and @mikker both reported that, when in development mode, edits to a component's template were not reflected when reloading a page rendering the component.

Ideally, edits should be reflected when the page is reloaded.

[2019-08-22 03:11] joelhawksley commented on #15
@metade @mikker thank you SO much for your experience reports. This is _exactly_ the kind of feedback we are looking for.

The local reloading issue definitely needs to be addressed. I've filed an issue here: https://github.com/github/actionview-component/issues/19 and have started working on a fix.

@metade generally, it sounds like we need more of the context Rails provides views when being rend

[2019-08-22 16:24] nogtini opened #21 "Any tips for rendering Components from collections?"
Before I start playing around with this, I wanted to ask if there is a preferred way, best practice, or even a helper to render components for collections [similar to the rails guide for partials](https://guides.rubyonrails.org/layouts_and_rendering.html#rendering-collections)

I think this would be a common use case, and would be willing to submit a PR for a documentation example.

[2019-08-23 06:46] mikker commented on #21
An idea for the API,

[code]

Perhaps. But it's a tiny win over

[code]

Then again; you could say that about a lot of Rails 😆

[2019-08-23 09:09] pmackay commented on #19
I have also found this to be an issue that would be great to resolve. I did a small monkey patch to workaround it, so a fix would be awesome :)

[2019-08-23 13:17] nogtini commented on #21
True, though I would imagine if there were to be an API it might look as similar as possible to the partial api.

### Partial
[code]

### Component
[code]

[2019-08-23 16:52] joelhawksley commented on #19
Closed by #20.

[2019-08-23 16:52] #19 closed

[2019-08-23 22:41] joelhawksley commented on #21
@nogtini I don't think I could recommend a _good_ practice here at this point, let along a _best_ practice!

Generally our approach in writing this library has been to stay consistent with Rails APIs, at least as a default. What @nogtini is suggesting is probably the direction I think we'd go in.

[2019-08-23 22:47] joelhawksley commented on #21
@nogtini @mikker this is definitely something we'll want to consider.

Right now, we're passing an instance of the component into `render`:

[code]

which means we've already defined what data is going to be used to render the component.

We might have to change that syntax in order to accommodate the `collection` key. Perhaps we would do something like:

[code]

Or perhaps we could support both s

[2019-08-24 04:47] inopinatus commented on #21
Rendering a partial collection is also blazingly fast, because Rails only instantiates each template once, and they're also polymorphic.

AV:C can't be either in it's current architecture: firstly, by using ActiveModel's validations it's obliged to instantiate every component individually, there's no flyweight-pattern option; secondly, there's no `to_partial_path`-equivalent hook to select a compo

[2019-08-24 05:13] inopinatus commented on #15
Took AV::C for a test drive today. Here's some freeform impressions.

I immediately started rearranging the innards. The naming conventions blew some fuses. The first was renaming `app/components` to `app/views/components`. AV::C is an element of ActionView, not a whole new subsystem. The revised path is less presumptuous (and avoids conflict), it's also more intention-revealing.  Every component

[2019-08-24 12:49] nogtini commented on #21
@joelhawksley I think whichever syntax you propose people will ingest with zeal, but I think the latter is a better choice. It fits the pre-existing mental model better, adheres to convention, and provides an obvious affordance for collections.

[2019-08-27 15:50] joelhawksley opened #23 "Convention: Component class names end in -Component"
Per @inopinatus' [comment](https://github.com/github/actionview-component/issues/15#issuecomment-524521196), it probably makes sense to match the Rails convention around naming jobs/mailers/controllers and have component class names end in `Component`.

[2019-08-27 16:09] #23 closed, assigned to nobody

[2019-08-27 16:37] joelhawksley opened #26 "Support rendering models via to_component_class"
Per @inopinatus's [comment](https://github.com/github/actionview-component/issues/15#issuecomment-524521196), let's look at supporting `render @model`, where `@model` is an object that implements `to_component_class`.

[2019-08-27 16:46] joelhawksley opened #27 "Expose controller context in components"
Per @metade's [comment](https://github.com/github/actionview-component/issues/15#issuecomment-523433555), let's look at exposing the controller context inside components.

It might be worth considering making this something that can be disabled on a per-component basis (`without_controller_context` macro perhaps?), as coupling components to controllers makes them trickier to test and more difficul

[2019-08-28 13:40] andrewmarkle opened #32 "Lower ruby requirement to match Rails 5"
Hey! Love what you're doing here!

We're testing this out in our app (running Rails 5) and I'm wondering if you would consider lowering the ruby requirement? Right now it's set to 2.5 + (which is great for Rails 6 but leaves out us Rails 5 folks who aren't as up-to-date).

I've been running this with Ruby 2.4 and works fine. Rails 5 has the requirement of ruby 2.2 or higher.

Happy to open a PR if

[2019-08-28 20:01] kenzooooo opened #34 "Want to use Action Pack Variants."
If variants can be used, more uses.

for example

[code]

Currently only one view is supported.

Really please.

[2019-08-28 23:13] joelhawksley commented on #32
@andrewmarkle https://github.com/github/actionview-component/pull/35 adds support for Ruby 2.3 and Rails 5.

I was not able to test against Ruby 2.2 in CI, so I picked 2.3 out of an abundance of caution.

[2019-08-28 23:19] #32 closed

[2019-08-29 08:54] emilebosch opened #37 "Nesting components?"
Hi!

Good work. I was wondering if it would be possible to maybe nest components to? Sometime we want to create component trees in DSL like fashion for quick admins like ActiveAdmin for instance.

Is that a use case that can be covered with this? A bit similar to how react itself allow you to build trees.

[code]

And then

[code]

Or is this totally out of scope? Which I could also understand, bu

[2019-08-29 15:08] joelhawksley commented on #32
@andrewmarkle mind testing `v1.2.1` with your app? It supports Ruby 2.3/Rails 5.

[2019-08-29 17:35] joelhawksley commented on #37
@emilebosch generally, we've been handling nesting via templates. So in your case you might have something like:

[code]

Might that accomplish what work for you?

[2019-08-29 17:37] joelhawksley commented on #34
@kenzooooo thank you for the suggestion! While we aren't planning to work on support for variants in the near future, I have no objection to supporting them.

I'd happily accept a PR 😄

[2019-08-29 17:40] emilebosch commented on #37
Hi Joel. I've seen this example. This does work, when u define everything in rails erb. But not when you do something like AA where the trees are build dynamically.

[code]

But this is good for now!

[2019-08-29 17:50] joelhawksley commented on #37
@emilebosch interesting. Can you elaborate on what the AA functionality enables you to do that cannot be handled in ERB?

This all being said, I'm cautious of introducing a DSL implementation at this stage as Rails does not currently, at least to my knowledge, have any DSLs for views.

I could, however, see us building a DSL like this in a future version.

[2019-08-29 17:56] emilebosch commented on #37
I feel you. I also have a hmm/hate/love 🤔 relationships with DSLS. However ActiveAdmin makes it possible to build Admins super fast. It abstracts way controllers, views, and erb. Its literally a couple of lines per model. Its good enough for prototyping, and even for production in some cases.

However, it comes with downsides. Because of the DSL nature. It is hard to extend and mix and match with

[2019-08-31 07:25] ushis opened #38 "Allow rendering components in the controller"
Hi @joelhawksley

I am happy to see a view model lib, that integrates smoothly with rails. While playing around with `ActionView::Component` i noticed that it is not possible to render components in the controller. I saw, that you are monkey patching `ActionView::Base#render`. So i tried to override the `render` method in my `ApplicationController` in a similar way, but without success.

At the mo

[2019-09-02 20:52] mikker opened #40 "ActionView::Component previews"
It struck me; AV::Components ought to have previews the same way ActionMailer does.

I realise this might be overkill for a 1.0 release but I'll be happy to throw a first draft together if you folks think it's as good an idea as I do.

Otherwise I might just make it as a gem on its own.

[2019-09-07 02:06] dark-panda opened #41 "ArgumentError - Missing host to link to on *_url helpers"
The following exception occurs when trying to use a `*_url`-style route helper:

`ArgumentError - Missing host to link to! Please provide the :host parameter, set default_url_options[:host], or set :only_path to true:`

This occurs when the `Rails.application.routes.url_helpers` has been included in a component and you try to use any sort of `*_url` method, like `root_url` or similar.

[2019-09-13 21:47] pinzonjulian opened #42 "How should components be cached?"
Hi! I'm starting to use components for a big project at my company and I absolutely love them.
 Thanks for open sourcing this!

I have some usage questions that ultimately relate to caching.

By the examples in @joelhawksley 's talk at RailsConf and the examples in the repo, I understood that the arguments you pass to your component should be as lean as possible. I infer it wouldn't be a good prac

[2019-09-15 15:44] jensljungblad commented on #15
@topherfangio Thanks for checking out https://github.com/jensljungblad/components. I always thought with Ruby we should be able to one-up React :) If `AV:C` won't incorporate a DSL, perhaps a DSL could build on top of `AV:C`.

@joelhawksley I was checking out the sample application and I've got a question!

[code]

This passes a `state` symbol to the component. But is it possible to use this data

[2019-09-15 17:28] xdmx commented on #40
It'd be awesome to have some kind of preview of components, with the ability of grouping the by categories/subcategories. I'm thinking about something like storybook, where you can easily navigate and search the available components.

It'd also be great having a configuration to allowing the access of it from different environments (like mailer previews), that way it could be enabled on a staging

[2019-09-15 17:30] xdmx commented on #40
It would also play very well with the [rails conductor](https://github.com/rails/rails/pull/35489) planned for 6.1, which from my understanding is also the planned version for merging components into rails

[2019-09-16 14:35] topherfangio commented on #15
@jensljungblad So, that should be totally possible. When you create the component, you can define any methods you wish, and they can definitely be based off of any instance variables.

So something like this should be totally valid:

[code]

[2019-09-16 18:31] jensljungblad commented on #15
@topherfangio How would you access them from the template?

[2019-09-16 20:21] mikker commented on #15
@jensljungblad they're available directly, like `<%= color %>` would output the result of the `color` method.

[2019-09-16 21:17] jensljungblad commented on #15
Strange, I got errors when I tried that. I'll try again :)

[2019-09-17 20:17] jcoyne opened #43 "Unable to render forms/button_to from a component"
Originally posted in #15, but also a problem for me:

we'd also need `form_authenticity_token`

[2019-09-18 13:01] mhw commented on #43
#28 seems to be working towards addressing this issue

[2019-09-18 13:03] jcoyne commented on #43
@mhw I agree. I've monkeypatched my project with that code and it's working well.

[2019-09-18 14:10] topherfangio commented on #15
@joelhawksley @jensljungblad

I have created a gist that shows how to get AV:C working with the DSL provided by https://github.com/jensljungblad/components!

I have some notes/thoughts at the end about some issues I ran into while building this. The biggest one is that debugging is very difficult because it seems to die on the `render(MyComponent)` call inside the HAML file instead of showing me t

[2019-09-18 22:38] jcoyne opened #44 "Make the controller instance in a test case be accessible."
In my component I'm using the cancancan gem. This defines a controller method `can?` in the controller context.  So my component does:

[code]

In my test, I'd love to mock out the `controller.can?` method, but I don't think `ActionView::Component::TestHelpers` gives a way to get the controller instance.  Is it possible to expose  that?

[2019-09-19 03:51] topherfangio commented on #37
@emilebosch I'm currently working on getting the DSL that https://github.com/jensljungblad/components provides working based off of AV:C if you're interested.

I'd love some more eyes on it!

https://github.com/github/actionview-component/issues/15#issuecomment-532702473

[2019-09-19 03:59] emilebosch commented on #37
Hi yes! Ive already spotted your implementation yesterday! 👀 I will give soom feedback tomorrow!

Sent from my iPhone

[2019-09-19 08:59] mikker commented on #44
You could stub the `controller` method on the component itself instead?

[2019-09-19 13:09] jcoyne commented on #44
@mikker I'd rather not, because then I would loose access to forms (see #43).

How would one go about stubbing the controller method when you do `render_inline`?

[2019-09-19 16:39] jcoyne opened #45 "Private methods should not be accessable in templates"
Presently they are.

[2019-09-19 17:41] joelhawksley commented on #45
@jcoyne I'd be interested to hear your reasoning why you believe this should be the case.

The current architecture expects components to be objects that have a single public instance method, `render_in`, which is called when a component is passed to `render`, or in the case of a test, `render_inline`. `render_in` in turn renders the provided template _within_ the context of the component object i

[2019-09-19 22:34] joelhawksley commented on #38
@ushis I agree. This is definitely something that should work.

I have no objections to the proposed API.

One thing I'm curious about: Do you think we should support passing content to components via a block argument when rendering them from a controller?

[2019-09-19 23:01] joelhawksley commented on #42
@pinzonjulian it's exciting to hear that components are working well for you on your project!

Honestly, I'm becoming less sure about this as time goes on. I think that it's good to keep interfaces as lean as possible _in general_, but I don't think it's necessarily a bad thing to pass in an entire object. I don't think view components are any different in regards to this than any other Ruby objec

[2019-09-19 23:03] joelhawksley commented on #41
@dark-panda thank you for the bug report!

This is definitely something that should [_just work_](https://github.com/github/actionview-component#design-philosophy).

How do you think we should implement it?

[2019-09-19 23:05] joelhawksley commented on #40
@mikker this sounds great! I'd happily accept a PR for this that mimics ActionMailer previews as much as possible 😍

[2019-09-20 09:01] ushis commented on #38
@joelhawksley Thanks for the feedback.

Depends on the complexity. It would enable the implementation of layouts using components:

[code]

This approach leads to other questions, because `ActionView` depends on a controller in some cases. E.g. to render `csrf_meta_tags` in the layout, we need a controller, that provides `request_forgery_protection_token`. But i think this is addressed in #28

Wha

[2019-09-24 18:39] cjbottaro commented on #15
It doesn't work with:
- forms
- other partials
- content_for

We went down that path of storing the view context and setting certain instance variables so that various `ActionView::Base` methods would work, but ultimately gave up. It just felt dirty and hack-y, and I'm guessing it won't work anyway because of Rail's rendering buffers.

[2019-09-24 21:04] cjbottaro commented on #15
https://github.com/github/actionview-component/pull/28 with a little tweak to get it working with `content_for` addressed all my issues above.

So now after actually using it...

It causes a proliferation of classes and files in my codebase. Consider the example of a PostsController, and the feasible components that go along with basic crud: index, index_item, new, edit, show, form. That's 10 file

[2019-09-25 01:18] inopinatus commented on #15
I'm not sure that's the intended pattern. This seems congruent to rendering views according to controller actions, just with more scaffolding, and it sounds like you're looking at it and wondering "what's the point?", which is reasonable given the outcome.

_warning: strongly held opinions from this point on_

I have some thoughts on how AV:C "ought to be used". By which I mean, how it can fill a

[2019-09-25 12:19] czj commented on #42
We've been using components for a while in our applications. Thanks to all contributors, `ActionView::Component` is really great !

We've been thinking a lot about caching a lot because we use extensively Russian doll caching, and collection caching with Rails' syntax where you pass a Proc as the cache key.

I think we should be able to use components exactly like we use (and cache) partials.

Thi

[2019-09-25 12:22] czj commented on #15
We've been using `ActionView::Component` with great pleasure to cleanup helpers, presenters, decorators and some tiny partials. Using and testing are a real pleasure.

I would suggest adding to the documentation a more prominent section about having a component that renders directly without a template, for people how have complex logic but need, at the end, only a `content_tag` with a large hash o

[2019-09-25 15:48] cjbottaro commented on #15
That makes a lot of sense. So in my example, `index, show, new, edit` would remain normal Rails views and `index_item` (arguable) and `form` would be good candidates for AV:C.

I think a lot of my views (pun) are skewed by my love for Phoenix, so seeing render calls that look almost identical started to give me tunnel vision.

[2019-09-27 23:06] joelhawksley commented on #44
I believe this should be addressed in https://github.com/github/actionview-component/releases/tag/v1.3.0. Please re-open this if it isn't ❤️

[2019-09-27 23:06] #44 closed

[2019-09-27 23:06] joelhawksley commented on #43
I believe this should be addressed in https://github.com/github/actionview-component/releases/tag/v1.3.0. Please re-open this if it isn't ❤️

[2019-09-27 23:06] #43 closed

[2019-09-27 23:06] joelhawksley commented on #41
I believe this should be addressed in https://github.com/github/actionview-component/releases/tag/v1.3.0. Please re-open this if it isn't ❤️

[2019-09-27 23:06] #41 closed

[2019-09-27 23:06] joelhawksley commented on #27
I believe this should be addressed in https://github.com/github/actionview-component/releases/tag/v1.3.0.

[2019-09-27 23:06] #27 closed

[2019-09-28 07:33] koenhandekyn opened #49 "relative i18n paths"
i'm getting an error that relative I18n paths are not available (Cannot use t(".register") shortcut because path is not available). Is there a know 'workaround' ?

[2019-09-30 10:54] afuno opened #50 "Problems after upgrading to version 1.3.0"
I used version 1.2.1. Everything was fine. Today I upgraded to version 1.3.0. And part of my components broke.

For example, there is such a component:

[code]

And the template:

[code]

Next, I use this component, for example, this way:

[code]

As a result, in the code of the source page, I do not see the classes from the component. That is, I immediately see the code from the `content` variabl

[2019-09-30 10:59] afuno commented on #50
I can’t understand what exactly is the problem. But this is precisely related to version 1.3.0. As I wrote above - version 1.2.1 is stable.

[2019-09-30 15:57] joelhawksley commented on #50
@afuno thanks for the report. I'm seeing something similar on our end.

Might you be able to provide a PR with a failing test?

[2019-09-30 19:05] koenhandekyn opened #51 "simple path helpers not working, need explicit id passing"
we are implementing the current release into our project, which we recently have brought to rails 6. path helpers require for some reason that you explicitly pass the id, so we need to change edit_instrument_path(instrument) into edit_instrument_path(id: instrument.id).

this feels like unintended / a bug. any fixes?

[2019-10-01 17:28] #50 closed

[2019-10-01 17:48] joelhawksley commented on #50
@afuno this should be fixed in v1.3.1. Can you check? Going to go ahead and close this issue, but please reopen it if this is still occurring in v1.3.1 ❤️

[2019-10-01 17:51] afuno commented on #50
@joelhawksley Thank you for your prompt work. I will check the new version in the coming hours time and write to you.

[2019-10-01 18:10] joelhawksley commented on #51
@koenhandekyn I agree that this should work. I will happily accept a PR ❤️ 😄

[2019-10-01 18:10] joelhawksley commented on #49
@koenhandekyn thank you for the issue report. Might you be able to provide a PR with a failing test for this use case?

[2019-10-01 18:16] afuno commented on #50
@joelhawksley Everything is fine. Thanks.

[2019-10-01 19:28] joelhawksley commented on #51
@koenhandekyn I attempted to reproduce this issue in a test on the gem, and I couldn't seem to get a failure. If you could provide a demo Rails app, or a PR to this repo with a failing test, that would be super helpful!

[2019-10-01 19:29] joelhawksley commented on #45
Closing this as stale. Feel free to re-open ❤️

[2019-10-01 19:29] #45 closed

[2019-10-02 06:17] koenhandekyn commented on #49
i'll revalidate the issues on a 'blank slate fresh'  rails 6 app first to see if we can reproduce them there.

[2019-10-02 06:17] koenhandekyn commented on #51
i'll revalidate the issues on a 'blank slate fresh' rails 6 app first to see if we can reproduce them there.

[2019-10-02 16:25] AlecRust opened #55 "Best practice for CSS?"
I have a component structure like so:

[code]

I'm importing the CSS file in Webpacker's `application.css`.

Unfortunately this setup gives me the error:

[code]

I'm currently working around this by using `_alert.css` instead of `alert.css`, but it seems odd `actionview-component` is treating this CSS file as a template file?

Is there a best practice here I should be following? Or is this an iss

[2019-10-02 16:31] joelhawksley commented on #55
@AlecRust you're right, `actionview-component` should only raise an error if there is more than one template file. It shouldn't care if there is a sidecar CSS file.

[2019-10-02 19:16] #55 closed

[2019-10-02 19:50] joelhawksley commented on #55
@AlecRust can you check your app against v1.3.3 to see if this is fixed for you?

[2019-10-03 10:11] AlecRust commented on #55
@joelhawksley works great, many thanks!

[2019-10-04 16:36] jcoyne opened #60 "Unable to mock methods on the view config"
It appears the view config is different:

[code]

[code]

So the mocks are never called.

This may be because my component calls a regular view render.

e.g.:
`app/components/list.html.erb`:
[code]

[2019-10-04 17:49] joelhawksley commented on #60
@jcoyne I believe you are correct in that it is due to the use of a regular view render, as we are passing those calls to the enclosing view context.

[2019-10-05 02:51] jcoyne commented on #60
So, even without the nested render, the view context in the test is not the view context in the component:

[code]

[2019-10-05 02:54] jcoyne commented on #60
Ah, I think my problem is that view_context is not stable:
[code]

[2019-10-05 02:54] #60 closed

[2019-10-05 03:07] jcoyne opened #62 "Allow testing a "shallow" render"
Currently it is challenging to test a component without rendering it deeply.
One thing that makes this challenging is the lack of something like [rspec's stub_template method](https://relishapp.com/rspec/rspec-rails/v/2-2/docs/view-specs/stub-template)
It's also impossible to mock `render` on the `controller.view_context` as this is a new instance on every call.

I've found this workaround, but it

[2019-10-07 05:25] koenhandekyn commented on #51
the issue seems to be related to the combination of using a namespace (scope) in the routes table (e.g. `scope "/c/(:c)" do`) in combination with default_url_options in our application controller that refers to current_user. the question whether or not this is to be seen as a bug (or not) is probably more a question for the path helpers codebase and not so much for the actionview components code,

[2019-10-07 06:43] koenhandekyn commented on #51
mm, i just saw #59. it seems you already have decided that access to the request scope makes sense :)

[2019-10-07 09:02] koenhandekyn opened #63 "1.3.3 release broken?"
we had to step down to 1.3.1 release because our templates are not found on 1.3.3. our developer traced this to the following

in version 1.3.1. we have this:

sibling_files = Dir["#{filename_without_extension}.*"] - [filename]
It will find the files in the path: XYZ/app/components/page/paginate.*

THIS IS WORKING, we have a file pagina.slim in the folder

but in 1.3.3 we have this

sibling_templa

[2019-10-07 19:38] joelhawksley commented on #63
@koenhandekyn thank you for the report. Sorry if this caused you any pain ❤️

_At least from what I've read_, Rails templates are _supposed_ to be in the format `name`.`format`.`handler`. However, Rails does support omitting the `format`, likely for backwards compatibility.

For now, the fix would be to rename the templates to include the format. That being said, we probably should allow folks to

[2019-10-07 20:44] koenhandekyn commented on #63
we'll survive ;)

thoughts:

- as a minor version update, it is surely an unexpected change :)
- if this is going to become rails core, it will probably make sense to align this with the rest of rails, either require it everywhere or else allow to omit everywhere :)
- personally i could accept a general rails policy that a format is 'mandatory' everywhere :)

[2019-10-07 21:32] joelhawksley commented on #51
@koenhandekyn thanks for following up. Might you be able to see if `1.3.4`'s including of the `request` context addresses this? Feel free to re-open if it doesn't ❤️

[2019-10-07 21:32] #51 closed

[2019-10-08 08:06] afuno opened #65 "[1.3.4] private method `controller' called"
In version 1.3.3, everything was fine. There was a problem after upgrading to version 1.3.4. I checked - the problem is really in the new version.

One of my components started to throw this error:

[code]

The component has input values.

[2019-10-08 16:16] koenhandekyn commented on #65
i'm fighting the same issue. 1.3.1 is still running smooth but 1.3.4  is throwing the same. it's throwing it on a rails path helper but i can't drill it down further.

`node_id_merge_path(template_id: node_type_deliverable_type.id, target_id: node.id, action: :node_id) title=t('component.upload.node.open_merged', deliverable_type: "#{deliverable_type_name}" )`

what is 'special' is that these are

[2019-10-08 17:30] koenhandekyn commented on #65
did some more research. at the bottom our full component template.

1. as soon as we reference "node_id_merge_path" helper, we have the above error (private method controller called)
2. BUT ALSO as soon as we have `= form_for Deliverable.new`, even with an empty block, we have the same error.

quite confusing ...

[code]

[2019-10-09 22:35] joelhawksley commented on #65
@koenhandekyn interesting. Regardless of why, it isn't a surprise that this is happening due to `controller` no longer being publicly accessible.

I'll look into this soon ❤️

[2019-10-11 20:56] tijmenb commented on #40
Hi! I'd be very interested in this. [GOV.UK](https://www.gov.uk/) has been working with components for the last couple of years, and one of the key features is the ability to spin up a "component guide" that documents all the components.

The main one is publicly available at: https://components.publishing.service.gov.uk (repo is https://github.com/alphagov/govuk_publishing_components).

For examp

[2019-10-12 19:26] mikker commented on #40
I haven't yet so feel very free to take over 👍

I love the gov.uk guides and of course you already have something like this going.

[2019-10-12 23:04] juanmanuelramallo commented on #62
Why would you want to mock the rendering if the actual thing you want to test is the output HTML?

So maybe your component view has some conditions, then you would want to check that (given the conditions are met) the view does reflect those by rendering the expected HTML.

Copying some ideas from react, they tend to use ["snapshots" with Jest](https://jestjs.io/docs/en/snapshot-testing) which are

[2019-10-14 15:12] rosendi opened #67 "How do you organize components?"
Could you please tell us how do organize components in GitHub?

In React development there is a common rule - one component, one folder. For example in my daily work we have about 1000 components and it works great. In my recent Rails project I do the same:

<img width="328" alt="Screenshot 2019-10-14 at 17 55 10" src="https://user-images.githubusercontent.com/803388/66761180-27248080-eeac-11e9-98

[2019-10-15 10:16] michaelem commented on #65
After upgrading from 1.3.3 to 1.3.4 we also hit the same error. In our case it happens when a component renders another component that uses a path helper method (```root_path``` in our case).

[2019-10-15 11:41] michaelem commented on #65
I've created a PR with a failing test to illustrate the issue!

[2019-10-15 15:13] mellowfish opened #69 "image_url and image_tag ignoring configured asset_host value"
When I call `image_url("some_image.png")` directly in my views, I am getting a relative path vs a full asset url (which in our case is a CDN).

If I call `view_context.image_url("some_image.png")` it works fine and generates the full url.

Similar issues for `image_tag` which delegates to the same method.

I have temporarily added a `delegate :image_url, :image_tag, to: :view_context` in my compon

[2019-10-15 18:45] cjbottaro commented on #69
I'm seeing the same thing. Tracked it down to `config.asset_host` returning nil.

So it seems that `@_config` needs to be set to `view_context.config` or something like that.

[2019-10-15 19:16] mellowfish commented on #69
Curious, I see a `include ActiveSupport::Configurable`, but no actual references to `config` or `configure`. Can we just delegate the `config` method to `view_context`, or were components meant to be separately configurable?

[2019-10-16 14:53] juanmanuelramallo opened #70 "How to access controller helper methods?"
## Question
Is there a way to access controller helper methods? (The ones created like this https://api.rubyonrails.org/classes/AbstractController/Helpers/ClassMethods.html#method-i-helper_method)

## Why
We may want to use controller helper methods like [Devise](https://github.com/plataformatec/devise)'s ones (`current_user`, `user_signed_in?`), or any other helper method defined by the applicati

[2019-10-17 01:59] juanmanuelramallo commented on #70
I think I just answered to my own question.

We would just need to pass them as arguments in the render call, right?

So we keep components clean and less prone to nil errors due to these external attributes.

[2019-10-17 01:59] #70 closed

[2019-10-17 16:03] juanmanuelramallo commented on #49
Here I created an example of the failure https://github.com/joelhawksley/actionview-component-demo/pull/28/files.

Should I create a PR in this repo so that we actually see tests failing?

[2019-10-17 17:45] #65 closed

[2019-10-17 20:38] joelhawksley commented on #69
@mellowfish might you be able to test this issue against `v1.3.5`?

[2019-10-17 20:57] koenhandekyn opened #78 "1.3.5 release resolves paths wrongly?"
sorry ... duplicate from previous ticket ... seems the framework still is expecting .html.slim extension and not .slim extension (which is painful because in other places we actually have issues with .html.slim as extension where we need to make it .slim)

[2019-10-17 21:20] joelhawksley commented on #63
Closing in favor of https://github.com/github/actionview-component/issues/78.

[2019-10-17 21:20] #63 closed

[2019-10-17 21:21] joelhawksley commented on #78
@koenhandekyn `1.3.5` did not contain any changes meant to fix this issue. We'd happy accept a PR!

[2019-10-18 02:42] eshnil commented on #15
@cjbottaro @inopinatus I think validations come in two flavors. (1) To check integrity of the record (2) Business logic. The first kind is best declared at the class. And the second one should be pure function calls the way you showed. In fact, if ActiveRecord integrate better with the underlying databases, (1) would be directly mapped to the `CHECK` constraints on the table.

Conditional validati

[2019-10-18 16:30] benreyn opened #79 "not an ActiveModel-compatible object. It must implement :to_partial_path."
Freshly installed `actionview-component` (version `1.3.5`) on rails version `6.0` with the following setup...

`config/application.rb`
[code]

`app/components/application_component.rb`
[code]

`app/components/example_component/example_component.rb`
[code]

`app/components/example_component/example_component.slim`
[code]

and in a view file...
[code]

Results in....
[code]

Any tips on what I might

[2019-10-18 16:49] benreyn commented on #79
Poking around with this a bit more and it looks like the line...
`require "action_view/component/base"`
is silently failing and returning `false` but interestingly
`require "action_view/component/test_helpers"` succeeds

[2019-10-18 17:59] #78 closed

[2019-10-18 21:05] DylanReile commented on #79
In our case the nesting of `app/components/example_component/example_component.rb` caused Rails to autovivify the `ExampleComponent` module. Action component was looking for `:to_partial_path` on the module instead of the class.

We fixed it by removing the nesting.

[2019-10-21 21:42] afuno opened #83 "[1.3.6] Could not find a template file for BodyComponent"
For version 1.3.5 everything is fine. The problem appeared in version 1.3.6. Rails 6.0.0.

---

I have a simple component. Only `content` is transferred to it. After upgrading to version 1.3.6, I started getting the following error:

[2019-10-21 21:48] joelhawksley commented on #83
Uh oh! Can you provide a failing test?

[2019-10-21 21:53] afuno commented on #83
@joelhawksley I can show you the code of my component:

[code]

[code]

[code]

[2019-10-21 22:09] joelhawksley commented on #83
@afuno might you be able to open a PR with a failing test? Your code looks fine to me.

[2019-10-23 20:39] joelhawksley commented on #67
@rosendi a couple folks have brought up this same concern, both publicly and privately.

With the convention to organize class files in the `module/class_name.rb` format, giving each component its own folder unfortunately leads to naming issues as you've identified.

For now, we've been pretty aggressive about using modules to namespace / group our components.

We have app-specific components in `

[2019-10-23 20:48] joelhawksley commented on #49
This should be resolved by https://github.com/github/actionview-component/pull/74. Feel free to re-open if it wasn't.

[2019-10-23 20:48] #49 closed

[2019-10-23 20:49] joelhawksley commented on #37
Closing due to inactivity. Feel free to reopen if desired ❤️

[2019-10-23 20:50] #37 closed

[2019-10-23 20:51] joelhawksley commented on #79
I believe @DylanReile is correct here. Feel free to reopen if desired ❤️

[2019-10-23 20:51] #79 closed

[2019-10-23 20:52] joelhawksley commented on #38
@ushis a monkey patch is probably a good place to start! I'd definitely welcome a PR.

[2019-10-23 21:08] juanmanuelramallo commented on #40
I'd like to take this one

[2019-10-24 02:20] juanmanuelramallo commented on #34
@joelhawksley I've been trying to solve this, but with not much success 🙈

The lookup_context variable has the `variants` method which returns an array of variants from the request, so that's ok. I also managed to update the `compiled_template` and `template_file_path` methods to receive a variant name as an argument. That works fine, I added some tests, **but I'm not sure how to update the class_

[2019-10-24 12:23] rosendi commented on #67
We do exactly the same in our React app. We have a UI component library which we extracted into a npm package and the app-specific components which build on top the UI library. In our `views` we use layout-specific components (like you do I think - https://primer.style/css/utilities/layout), so our `views` **don't have stylesheets at all**.

For example our UI library:

<img width="617" alt="Scree

[2019-10-24 16:38] bdtomlin commented on #83
I have had the same issue with v 1.3.5 and v 1.3.6, but only in a staging environment (basically production settings). I have not been able to duplicate it in development, but downgrading to 1.3.4 resolves it.

[2019-10-25 13:35] koenhandekyn commented on #49
i can't reopen but see #74 for a proposed fix of the current issue. putting this comment as a reference.

[2019-10-25 19:03] juanmanuelramallo opened #85 "Better error backtrace"
Motivated by #15 here's one report.

Definitely a nice to have, not entirely important, but would be great to have it.

## Steps to reproduce
1. Render a component on a page
2. Use an inexistent image on the component view

## Expected
Action::View::Template::Error is raised indicating the line in the component view file where the error was raised.

## Actual
Action::View::Template::Error is raise

[2019-10-28 17:47] mellowfish commented on #69
@joelhawksley was away on vacation. It looks like v1.3.5 still doesn't properly insert the asset_host config value.

[2019-10-29 17:59] breim opened #88 "Deprecation Warning"
DEPRECATION WARNING: passing component instances to render has been deprecated and will be removed in v2.0.0. Use render MyComponent, foo: :bar

In view:
[code]

Depreciation is telling me to change render method to render. You might show a complete example?
Thx

[2019-10-29 22:45] joelhawksley commented on #62
@jcoyne thanks for raising this.

Do you have any thoughts on what a preferred testing API might look like for this functionality?

Perhaps we could pair again if you'd prefer.

[2019-10-30 00:53] jcoyne commented on #62
Would something like a registry of components and templates that we know not to pass to the parent render work?   Something like this?

[code]

Be a place we could start?

[2019-10-30 15:43] #88 closed, assigned to nobody

[2019-10-30 17:39] joelhawksley commented on #62
Definitely!

My memory is fuzzy, but I think I remember that we looked at this when we paired last, and that you had some ideas on how we might implement this in a way that matched an existing Rails convention.

Do you remember that?

[2019-11-04 20:09] #34 closed

[2019-11-04 20:39] joelhawksley commented on #83
@afuno might you be able to test this against `master`? I'm curious to know where we stand on this problem.

[2019-11-04 22:42] joelhawksley opened #93 "Remove initializer requirement for Ruby 2.7"
Per https://blog.saeloun.com/2019/09/17/ruby-2-7-module-const-source-location.html, we should be able to remove the requirement of having initializers in Ruby 2.7.

[2019-11-04 23:55] joelhawksley opened #95 "Support `helpers.` syntax"
It would be wonderful if we could support the `helpers` syntax in components, much like @rafaelfranca added for controllers in https://github.com/rails/rails/pull/24866.

[2019-11-05 16:00] joelhawksley opened #97 "Add component generator"
@vinistock I heard you might have made some progress on this. Would you be interested in sharing what you have so far?

[2019-11-05 16:11] joelhawksley opened #98 "Add 'strict' mode"
It could be useful to have a flag/mode for components that disables access to the global Rails context.

Doing so would allow us to write "stateless" / "context-free" components that can be more confidently reused, especially outside of the request path.

[2019-11-05 16:20] joelhawksley opened #99 "Add benchmark script"
It would be great to have some form of integration-level benchmark script that we can use to make sure changes to this library are not slowing things down.

I've used https://github.com/evanphx/benchmark-ips in the past, but am open to other options as well.

[2019-11-05 16:38] vinistock commented on #97
Absolutely. I played around a bit using a generator to create a component class with its respective html template and test.

I also experimented a bit around having the generator create javascript files for each component (which could be too much, but I was exploring different ideas).

The general goal would be to have something like this:
[code]

That would create the files for a component with t

[2019-11-05 18:47] joelhawksley commented on #97
@vinistock a PR sounds great!

I think we should wait on the JS bit, as I'm wary of implying that components encapsulate JS, when they currently do not.

[2019-11-05 19:56] joelhawksley opened #100 "Compile components on application boot"
In production, it would probably make sense to `compile` all descendents of `ActionView::Component::Base`, so that components render quickly on the first request, instead of compiling lazily as they do now.

[2019-11-06 20:07] afuno commented on #83
@joelhawksley The error based on the code from the master branch is still present.

I do not understand what could be the problem. I use your library in several applications. And only one application has this problem. All applications are similar in structure.

See, I cut the code to a minimum:

[code]

And there is a problem. If I comment out the line with render, then everything will be fine. I

[2019-11-06 20:21] joelhawksley commented on #83
@afuno I've tried to reproduce this and still can't seem to. Are you seeing the error in local development?

This is the branch I'm working on, for what it's worth: https://github.com/github/actionview-component/tree/83-missing-template

[2019-11-06 20:22] afuno commented on #83
@joelhawksley Yes, the problem is with local development.

[2019-11-06 20:24] afuno commented on #83
@joelhawksley After version 1.3.5, something was done, which causes this error.

[2019-11-06 20:31] afuno commented on #83
Changed the component code:

[code]

The template is completely empty. That is, the component doesn't accept anything, doesn't wrap anything, and returns nothing.

And the error is still present...

[2019-11-06 20:36] afuno commented on #83
@joelhawksley https://github.com/github/actionview-component/compare/v1.3.5...v1.3.6

A search of the modified files yielded the following:

https://github.com/github/actionview-component/compare/v1.3.5...v1.3.6#diff-4ea3d395eff742fa0d8952d23a16d377L123-L138

[2019-11-06 20:42] joelhawksley commented on #83
@afuno might you be able to reproduce this on https://github.com/joelhawksley/actionview-component-demo?

[2019-11-06 21:00] afuno commented on #83
@joelhawksley I could not reproduce. Too many things. I sent you an invite to the application.

Update gem version in gemfile. Run through:

[code]

[2019-11-06 22:46] joelhawksley commented on #83
❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️

HUGE thanks to @afuno here! We were able to figure out the source of this bug: file paths with other periods in them _besides_ the suffix of the component file.

I'll have a fix for this shortly.

[2019-11-06 23:13] #83 closed

[2019-11-06 23:13] joelhawksley commented on #83
@afuno the fix is in `master`. Can you make sure it works for you?

I'll try to get a release out tomorrow.

[2019-11-06 23:18] afuno commented on #83
@joelhawksley I checked - everything is fine. Thank you.

[2019-11-07 03:25] topherfangio commented on #83
@joelhawksley Just hit this error myself and can totally wait for a new version tomorrow; just curious, it seems that there are a bunch of other changes between 1.3.6 and now. Will this be a 1.3.7 release, or more like a 1.4 release?

[2019-11-07 03:49] joelhawksley commented on #83
@topherfangio I don't hold especially strong opinions about SemVer. What would you suggest?

[2019-11-07 03:58] topherfangio commented on #83
@joelhawksley I like SemVer 😄

Specifically, we're building a larger project based off of AV:C and I'm a bit afraid to try out master at the moment because there's so many changes, and...at the moment, we're overriding a bunch of code to get it to work, so I'm kinda **assuming** that master will break things.

Whereas I would assume a 1.3.6 to 1.3.7 bump would really just be bug fixes like this on

[2019-11-07 08:47] kaspermeyer commented on #95
I can take a stab at this, @joelhawksley ✌️

[2019-11-07 08:48] kaspermeyer commented on #100
I'd be interested in giving this a go, @joelhawksley!

[2019-11-07 15:58] joelhawksley commented on #83
@topherfangio that's helpful context!

You're right that we're in an early place and that things are changing a lot. It's been hard for us to know what will be a breaking change and what won't be due to our still evolving set of test cases! I do think that in this case we've made enough changes to warrant going to `1.4.0`.

On another note, would you be able to share what overrides you've made and

[2019-11-07 15:59] joelhawksley commented on #95
@kaspermeyer 😍 thanks! I've assigned this to you so no one else takes it 😄

[2019-11-07 16:10] topherfangio commented on #83
@joelhawksley Sure thing! I actually shared this a while back. It's changed a bit since then, but the basic concept (and the overrides) are the same:

https://gist.github.com/topherfangio/76615f32f7ebb25e3caa03741cb13a59

[2019-11-07 16:25] topherfangio commented on #83
@joelhawksley To expand upon that slightly, if we could fix this line to add `self` to the `view_context.capture` call and then add a `after_validate` hook, I wouldn't need to override anything (except the `content` method to make it public for sub-components).

https://gist.github.com/topherfangio/76615f32f7ebb25e3caa03741cb13a59#file-better_component-rb-L17

[2019-11-07 17:04] joelhawksley commented on #100
Thanks @kaspermeyer! I've assigned it to you. Feel free to unassign yourself if you decide not to take it on.

[2019-11-07 23:40] joelhawksley commented on #83
@topherfangio thanks for sharing that! (again)

I'd be open to a PR that adds `self` to `view_context.capture`, as well as one that adds hooks.

I'm also not against making `content` protected, if not public.

Feel free to file issues for any of these ❤️

[2019-11-11 23:28] #95 closed

[2019-11-12 23:30] #97 closed

[2019-11-14 21:46] rainerborene opened #109 "Include test case class for components"
Here is what I'm currently using on my `test_helper.rb` file.

[code]

I think it's a good idea to provide this base for class for testing components.

[2019-11-15 14:52] joelhawksley commented on #109
Sounds good to me! I’ll happily accept a PR ❤️

[2019-11-18 16:09] joelhawksley opened #110 "Incorporate generators into README"
https://github.com/github/actionview-component/pull/106 introduced a generator for components. Might we update the main README to incorporate this new ability?

[2019-11-18 16:09] joelhawksley commented on #110
Maybe you could take this one @vinistock?

[2019-11-18 16:33] vinistock commented on #110
That makes perfect sense. We should add example usage to the README. I'll put together a PR and ask feedback on the copy.

[2019-11-18 21:47] #110 closed

[2019-11-19 14:06] vinistock opened #114 "Allow rendering collection of components"
When rendering jbuilder partials, the following can be used instead of explicitly writing a loop that renders each partial:

[code]

It would be interesting if we could have something similar for components. The example below assumes a PostComponent is defined.

[code]

In this case, for each record we would get the associated component and render it. I'd love some feedback and implementations ide

[2019-11-19 23:29] juanmanuelramallo commented on #40
@mikker this issue has been addressed in #96 so I'm closing it

It's just a start btw, we can come back later and make improvements

[2019-11-19 23:29] #40 closed

[2019-11-20 09:31] mikker commented on #40
Wow! That's great work! Thanks @juanmanuelramallo 💙💚💛💜❤️

[2019-11-20 14:22] juanmanuelramallo commented on #114
It seems like this is related to #21 no?

[2019-11-20 16:04] joelhawksley commented on #114
@juanmanuelramallo @vinistock let's close this in favor of https://github.com/github/actionview-component/issues/21 ❤️

[2019-11-20 16:04] #114 closed

[2019-11-20 16:05] joelhawksley commented on #21
Let's move forward with this ❤️. PRs welcome!

[2019-11-21 15:27] kinduff commented on #15
Good experience so far, sometimes component creation (specially attr_reader) feels repetitive but I like it.

One of the pain issues I've had is testing with Rspec using helpers (based on #105) and Devise. Had to dirty fix my tests with `type: :controller` to make them work, besides adding `config.include ActionView::Component::TestHelpers, type: :controller` to my `rails_helper.rb`.

I'm going to

[2019-11-21 19:05] afuno opened #122 "[1.5.0] Migration from version 1.4.0"
Could you please tell about migration from version 1.4.0?

I updated the gem.

I changed this line:

[code]

To this:

[code]

After that, I can't start the project:

[code]

[2019-11-21 19:09] joelhawksley commented on #122
@afuno thanks for the report, you're on top of things!

Might you be able to provide a PR with a failing test?

[2019-11-21 19:11] afuno commented on #122
@joelhawksley I don't know how to do PR. I have a project in which I took these two steps. And after that I can't start it. In version 1.4.0 everything is fine.

[2019-11-21 19:19] joelhawksley commented on #122
@afuno it might be easier to provide a demo Rails application in a new repo that shows this issue.

I'm going to guess that it's a compatibility problem with Bootsnap.

[2019-11-21 19:21] afuno commented on #122
@joelhawksley You have access to this repository :)

[2019-11-21 19:26] joelhawksley commented on #122
@afuno I'm unable to reproduce the issue in the repository. The server boots with `rails s` and the page loads.

[2019-11-21 19:29] afuno commented on #122
@joelhawksley Could this be somehow related to a point in the path to the project directory? I don't know, just the first thought :)

[2019-11-21 19:58] afuno commented on #122
Deleting all components does not help.
This problem is also present in my other applications, in which everything was fine before.

[2019-11-21 20:53] juanmanuelramallo commented on #15
@kinduff Check #120
Would that help?

[2019-11-21 21:05] kinduff commented on #15
@juanmanuelramallo looks like I'm already doing exactly that, happy to see there's a PR for it. I switched to treat components as controllers with Rspec and I'm also including the `Component::TestHelpers` class. I'll post my findings in the PR just in case.

[2019-11-21 21:10] juanmanuelramallo commented on #122
Just found the issue will try to open a PR shortly
It's in our railties.
```ActiveSupport::Dependencies.autoload_paths``` That's the  frozen array it seems

[2019-11-21 21:16] franciscoj commented on #122
I have a small patch for it, I can share it in case you think it can be of help.

[2019-11-21 21:18] juanmanuelramallo commented on #122
Please @franciscoj

[2019-11-21 21:19] franciscoj commented on #122
[code]

[2019-11-21 21:20] juanmanuelramallo commented on #122
Amazing thank you!

[2019-11-21 21:21] franciscoj commented on #122
I managed to reproduce the issue from @afuno in an app with rails 6.0.1 by using Zeitwerk.

The issue disappears if you disable Zeitwerk with:

[code]

on `config/application.rb`

[2019-11-21 21:23] juanmanuelramallo commented on #122
Yep, it was working fine for me in a Rails 5.2 app.

But as soon as I switched to Rails 6, I saw the issue.

This should solve it https://github.com/github/actionview-component/pull/124
Thanks for the patch @franciscoj

[2019-11-21 21:24] franciscoj commented on #122
You're welcome!

[2019-11-22 00:54] afuno commented on #122
@joelhawksley It seems that the problem is resolved in version 1.5.1. Thanks.

[2019-11-22 01:11] joelhawksley commented on #122
Marking this as resolved. Thanks for the fix @juanmanuelramallo!

[2019-11-22 01:11] #122 closed

[2019-11-22 10:03] kaspermeyer opened #126 "Initializer crashes when eager loading is enabled"
When eager loading is enabled, one of the initializers:
https://github.com/github/actionview-component/blob/1aad6f4b9ccdd87c15491d31785dd1c1da5b992e/lib/action_view/component/railtie.rb#L44-L48
crashes with an error:
[code]
It makes sense, since `#action_methods` isn't implemented on `ActionView::Component::Base`.

Can you shed some light on this, @juanmanuelramallo? Was the intention to mimic the

[2019-11-22 15:42] #126 closed

[2019-11-22 15:55] dark-panda commented on #79
Sorry to raise this issue from the grave, but I've installed this gem on a Rails 5.2.3 project and it gives this same error as of version 1.5.1. Version 1.3.5 worked. Any hints?

[2019-11-22 17:55] ozzyaaron commented on #79
We got this error on a Rails 6.0.0 app by upgrading to from actionview-component 1.4.0 to 1.5.2.

Investigating now ...

[2019-11-23 01:08] vinistock commented on #26
I'm putting together a draft PR to get some feedback.

[2019-11-25 21:30] joelhawksley opened #131 "Remove fallback support for old render syntax"
We have two cases where we support old syntax in `actionview-component`:

https://github.com/github/actionview-component/blob/1164a2e7eba2de8e0808be27a77c0495fad23d26/lib/action_view/component/monkey_patch.rb#L10

https://github.com/github/actionview-component/blob/master/lib/action_view/component/test_helpers.rb#L20

Let's remove these cases and the associated tests, merging right before we cut `

[2019-11-25 21:30] joelhawksley opened #132 "V2 Roadmap - Contributions welcome!"
👋 hello folks!

As we look towards upstreaming our work on `actionview-component` into Rails, it feels like it might be time to think about working towards a major release.

I've added the `v2` label to issues we think would make sense to get in ahead of this release: https://github.com/github/actionview-component/issues?q=is%3Aissue+is%3Aopen+label%3Av2

I'd love to hear what you think we should

[2019-11-26 07:06] inatomitk commented on #131
I'd like to take this issue.

[2019-11-26 18:09] givemetraffic opened #135 "Version 1.5.2 on Rails 6.0.1 causing deprecation warning"
Rails 6.0.1
Gem version 1.5.2

In config/application.rb,
`require "action_view/component"`

Causing:
[code]
at `development.log`

Which is highly difficult to track

Related issue https://github.com/rails/rails/issues/36546

[2019-11-26 18:11] givemetraffic commented on #135
Version 1.4.0 works ok, though

In `config/application.rb`,
require "action_view/component/base"

[2019-11-26 21:19] #26 closed

[2019-11-26 23:36] joelhawksley commented on #38
@kaspermeyer I know you had some interest in this one a while ago. Might you be able to have a crack at it?

[2019-11-27 00:15] richardkmiller commented on #135
For me, v1.5.3 also works if I change `require "action_view/component"` to `require "action_view/component/base"`.

[2019-11-27 08:04] kaspermeyer commented on #38
Absolutely! Thanks for pinging me on this, @joelhawksley ❤️ I can dedicate some time at the end of this week to get started on this along with tests for pre-compiled templates (#112).

[2019-11-27 09:50] givemetraffic commented on #135
`require "action_view/component/base"` doesn't work with 1.5.3 though -- it's causing something like `'ExampleComponent' is not an ActiveModel-compatible object. It must implement :to_partial_path.`

#79

[2019-11-29 12:06] Martin-Nyaga opened #140 "Name conflict with ActionView for local variable "tag" in a component"
In our application (rails 5.0.7.2, actionview-component: 1.5.2), we have a component which looks roughly as follows (simplified to highlight the issue):

[code]
View (haml):
[code]
Render (haml):
[code]

With this setup, the call to `image_tag` in the view fails with:
[code]

The stack trace points to [this](https://github.com/rails/rails/blob/5e3a23a3079488a9fc8434e312df838a51732917/actionview/li

[2019-12-02 20:10] kaspermeyer commented on #38
@joelhawksley Just following up on this — I didn't get time and the end of last week as I hoped, but I haven't forgotten 😌 I'll get to it as soon as I can!

[2019-12-03 00:03] joelhawksley commented on #140
@Martin-Nyaga this is an interesting report. I'm curious to know how this case manages to work as intended with partials.

I would thank that, in general, shadowing a helper method name with a variable name would not be wise.

[2019-12-03 15:44] asgerb opened #141 "Should variants fall back to default template?"
Thanks a lot for the amazing work! I'm really happy to be using this gem, it's bringing some much needed clarity and testability to my views 🙂

I'm finding the newly implemented variants logic a bit surprising though. Notably the `:variant_exists` validation, which forces me to add templates for every variant.

`ActionPack::Variants` simply falls back to the default template, in case there is no t

[2019-12-03 22:41] joelhawksley commented on #141
@asgerb if that's how things work in Rails, a PR would be more than welcome!

[2019-12-06 00:07] kylefox opened #144 "Allow components to have multiple content areas"
First of, this library looks _awesome_ and I can't wait to start using it :)

Something that would be really nice is the ability for a component to have more than one output area, or _"outlet"_ (for lack of a better term). Essentially, the idea is very similar to using `yield(:foo)` and `content_for(:foo)` in normal Rails views.

Often, the dynamic content within a component cannot be declared wit

[2019-12-06 22:17] dark-panda opened #145 "render_inline produces bad output for some templates"
The following line in the test helpers produces incorrect results depending on the template being rendered:

https://github.com/github/actionview-component/blob/99fc8dd285cf98f3121fff45f590d6be5da550bc/lib/action_view/component/test_helpers.rb#L7

This isn't a consistent thing though -- it chokes on certain types of input. Consider the following:

[code]

This returns an empty string. This will si

[2019-12-06 22:37] joelhawksley commented on #145
@dark-panda good catch!

@elia it looks like this change was introduced in https://github.com/github/actionview-component/commit/a7688a4b4826c9914b039ab92dcce33a3ef82d0d#diff-672e600924ab3139bed663637694cdcb. What do you think we should do here?

[2019-12-06 22:39] joelhawksley commented on #144
@kylefox this is _fantastic_. I love the proposed API.

I'd love to see even a draft PR that takes a crack at this. I'm also happy to chat this through / hack on it together: joelhawksley@github.com

[2019-12-06 23:58] kylefox commented on #144
@joelhawksley Cool :)

Do you think it's worth distinguishing attributes (like `title:`) and outlets (like `modal.body`) as distinct concepts?

After posting my initial comment I began wondering if the two mechanisms for providing content to the component could be used interchangeably:

[code]

As I begin mapping our existing application to components, in some instances the content is a simple str

[2019-12-09 21:57] joelhawksley commented on #141
Closed by https://github.com/github/actionview-component/pull/147 ❤️

[2019-12-09 21:57] #141 closed

[2019-12-11 19:06] joelhawksley opened #150 "Resolve compatiblity issue with better_html"
In https://github.com/github/actionview-component/pull/149, I had to add a temporary patch to prevent `better_html` from breaking on component render calls.

Let's revisit this patch and come up with a more robust solution.

cc @EiNSTeiN-

[2019-12-11 21:19] mellowfish commented on #69
Looks like `helpers.image_url` and the like should work.

[2019-12-11 21:19] #69 closed

[2019-12-11 22:01] #145 closed

[2019-12-12 08:31] elia commented on #145
@dark-panda @joelhawksley thanks for fixing this!

[2019-12-12 23:09] joelhawksley commented on #144
I love the interchangeability, since you're right that sometimes you might just want to pass a string while other times you might want to pass a whole block.

Also, given that we are going to support rendering components in controllers, where having a block argument with ERB in it is unlikely to work, having the option to set content via a `content` param would be really convenient!

[2019-12-13 20:55] mellowfish commented on #144
This is great. What do you think the component code would look like? Just the normal
[code]
or something else?

[2019-12-13 21:45] kylefox commented on #144
@mellowfish Yeah, exactly — I was thinking that it'd be much simpler for developers if the API for specifying attributes and blocks was the same. And it especially makes sense if attributes/blocks can be used interchangeably.

However, validation might complicate things significantly 😕

Consider the [example](https://github.com/github/actionview-component#implementation) from the README:

[code]

[2019-12-14 15:49] bostanio commented on #144
Would an API like `content_for` be a more natural fit and parallel to existing Rails patterns?

[code]

[2019-12-15 00:49] joelhawksley commented on #144
@bostanio oh, I like that! I think that using the `content_for` API makes sense, assuming we can make it behave in a manner consistent with how it currently behaves.

[2019-12-15 18:30] bostanio commented on #15
I've been running some simple experiments with AV:C and like it a great deal. The testability is key and a bit reason I suspect we will adopt this widely. A couple of thoughts/comments:

- One folder per component seems key for large codebases #67.
  It sounds like GitHub has experience with a bunch of components and a larger codebase and found organizing by modules to be enough. I struggle to see

[2019-12-15 23:04] kylefox commented on #144
@bostanio Good idea — I prefer that syntax, and it will probably be more straightforward to implement.

[2019-12-15 23:57] bostanio commented on #144
@kylefox Yup I would expect the implementation to be much simpler too. I'd imagine that we could have a `yield :body` kind of syntax in the components view too. I'd also imagine that we could still validate the "outlet" names against known attributes of the component etc.

[2019-12-16 21:39] rainerborene opened #154 "deprecate: dont require railtie by default"
We should remove [this line](https://github.com/github/actionview-component/blob/master/lib/action_view/component.rb#L6) on the next major release:

[code]

[2019-12-16 21:52] joelhawksley commented on #140
Closing due to inactivity.

[2019-12-16 21:52] #140 closed

[2019-12-17 01:14] juanmanuelramallo opened #155 "[Contributing] How to run test app from the gem?"
How are you guys running the test app from [test/](https://github.com/github/actionview-component/tree/master/test)?

I've been using `RAILS_ENV=test rackup` but it's not working now, due to the error:
[code]

If I comment out that line, the app starts correctly but whenever I visit `localhost:9292` then I get
[code]

I don't know what's causing this, maybe some of you might know what's going on?

[2019-12-17 17:07] jcoyne opened #156 "ActionView::Component::Base#format shadows Kernel#format"
This makes it confusing if you try to use Kernel#format

[code]

Of course you can work around by explicitly using `Kernel.format(...)`

[2019-12-18 00:36] xdmx commented on #132
Hey @joelhawksley, do you already have a date in mind as a deadline for submitting it for upstreaming?

I'm sure that having people from the core already working/touching/reviewing/using this code may speed up the process, but I was just wondering if you've thought about a date you'd like to do it, as after some date there will be a feature freeze for getting ready for the final 6.1 (May 2020 / Ra

[2019-12-18 14:42] dark-panda opened #157 "Allow rendering without a template"
It would be nice to be able to render a component without requiring a template. Currently, `render_in` forces a template compile and render, but what if I want to do something like say dispatching to another component, or just rendering a string or something similar? Basically it would be nice to be able to skip the template in certain situations.

[2019-12-18 22:26] joelhawksley commented on #132
@xdmx in general, we'd hope that this makes it into 6.1.

More specifically, I think we need to hit `v2` before we give upstreaming too much thought. I'm hoping we can get there in the next month or two.

[2019-12-18 22:39] joelhawksley commented on #157
@dark-panda I agree that this could be useful in theory. Might you be able to provide an example, even in pseudo-code, of what you're hoping to accomplish that you can't do currently?

[2019-12-19 15:12] dark-panda commented on #157
@joelhawksley Something like this for instance:

[code]

This would require basically an empty template that does the following:

[code]

Whereas if we could render directly within the component itself without the need for effectively pointless template file, that would be neat. You could move the logic in `#do_the_thing` to the template I suppose, but that's not really helping all that much. We'v

[2019-12-19 18:10] joelhawksley commented on #156
@jcoyne interesting. This definitely isn't desired behavior. Any ideas for how we might get around this?

[2019-12-19 18:40] joelhawksley commented on #15
@bostanio thank you for the thoughtful feedback ❤️

This remains the case for us internally. @mellowfish is using a fair number of components, perhaps he could provide examples of his folder/module structure?

I agree that this would be _awesome_. I don't think we need to have this before `v2`, but it's a killer idea that would give us something _better_ than what React offers, in my opinion.

I'd

[2019-12-19 18:49] #100 closed

[2019-12-19 18:58] joelhawksley commented on #157
@dark-panda this makes sense. Would you be interested in writing a proof of concept PR?

[2019-12-19 19:02] joelhawksley commented on #67
@rosendi that's all super interesting.

What I like about the approach you're suggesting is how it leverages encapsulation to limit the scope of CSS/JS to the component. I'd love to see a proof of concept for how this might be done in practice.

Until we can provide encapsulation of sibling assets, I'm wary of including them in the same folder, as doing so would imply a relationship to the compone

[2019-12-19 19:11] mellowfish commented on #15
@bostanio I have been organizing my components like I would models or anything else. Where it makes sense, I have module namespaces (sometimes deep ones), and appropriate folders.

But I am not sure I would agree with one folder per component, that seems excessive. Maybe if there were a way to optionally handle that (same folder name as component, without expecting a module namespace). If we start

[2019-12-19 19:15] joelhawksley commented on #38
@kaspermeyer I landed a patch to Rails that adds support for component rendering: https://github.com/rails/rails/pull/37919. I might take a crack at implementing the equivalent change with a monkey patch in this gem 😄

[2019-12-19 19:20] jcoyne commented on #156
@joelhawksley one could check the arity of the method and delegate to Kernel if it's 2.

[2019-12-19 19:36] kaspermeyer commented on #38
@joelhawksley That's wonderful news! 👏 It's great to see more of these component related features getting upstreamed in Rails. Go nuts with the monkey patch and let me know if you need me ✌️

[2019-12-19 19:39] bostanio commented on #15
@mellowfish I completely here you on view/component pairs. My commentary is more about including assets JS, CSS and Images (SVGs) 'scoped' to a component. Of course the challenge is that Ruby has very particular expectations around folders meaning namespaces. I certainly don't want a namespace for every component that would be overkill. Maybe due to the constraints of Ruby we can't offer other opt

[2019-12-19 19:52] bostanio commented on #15
Agreed it doesn't need to before v2 but it would be slick.

I agree scoping of CSS/JS would be a nice option but IMO its not a requirement. In React land there are solutions for scoping but you don't have to use them (and I've seen very successful, large code bases NOT use those solutions and simple rely on BEM naming conventions and avoid css class collisions). There are other advantages of organ

[2019-12-19 20:14] jonspalmer opened #159 "Supercharging Previews"
[Storybook.js](https://storybook.js.org/) has taken off as a powerful and interactive way to document the React components in a project. The ViewComponent Previews could be enhanced to provide much the same power and allow teams to create automated "Design System" playgrounds for their server side rendered components.

Key Features to add that would make a big difference:

- Load components in and

[2019-12-19 20:15] bostanio commented on #15
@joelhawksley here is a Storyboook inspired ticket around Previews #159

[2019-12-19 20:23] joelhawksley commented on #156
Hmm. I wonder if there might be a more general-purpose solution. Perhaps we should look into removing the need to define `format` at all?

[2019-12-20 01:52] joelhawksley commented on #159
@bostanio these are all excellent suggestions. I almost wonder if we should consider similar improvements for Mailer previews as well, as that's what we modeled the existing behavior after.

[2019-12-21 03:31] bostanio commented on #144
I'm hacking on a version of this and have something just about working. The nice surprise is that validation happens after capture of the block passed to the component so we *can* validate properties set via content_for!

[2019-12-21 03:45] bostanio commented on #144
The interesting discovery (thanks to an existing test example) is using the method name `content_for` as I suggested has the effect of changing the method in the Component's view file as well. This commit 4a52b3db585662a020266cb5a97ba2adaba445f9 explicitly added support for using the existing `content_for` in components views. I doubt we want to mess with that.

I see a couple of choices a) we pic

[2019-12-21 20:13] rainerborene commented on #157
This is something very easy to achieve. I'm currently using the following piece of code:

[code]

Best thing is you can continue using the same `render` syntax, and no need for boilerplate templates.

[2019-12-22 09:39] michiboo commented on #154
Hi Can I try this?

[2019-12-22 13:56] bostanio commented on #159
Agreed. The Mailer Previews a pretty bare bones IMO.

[2019-12-22 15:11] bostanio commented on #159
I have a theory that it might be possible to leverage Storybook directly. They've recently added support for "standalone" mode where the list of stories is loaded from an external source. Perhaps we can figure out the right dsl to provide AV:Components to Storybook?

https://github.com/storybookjs/storybook/tree/next/examples/standalone-preview

[2019-12-23 02:58] shilman commented on #159
@bostanio Standalone mode was the first step towards supporting ANY backend, with Rails in mind as the most active server-side environment. We'd love to work with somebody from the Rails community to make Storybook for Rails a reality.

As a little background:

- Standalone mode was released in [Storybook 5.2](https://medium.com/storybookjs/storybook-5-2-794958b9b111) and community members have be

[2019-12-23 03:11] tmeasday commented on #159
Hey, I've spend some cycles thinking about how "Storybook for Rails" could work in the past, and would be keen to get a POC going. A while back I posted some thoughts in the #server channel of Storybook's Discord, which @bostanio seems to have found.

Can continue the conversation there for the next little bit perhaps.

[2019-12-23 15:24] afuno opened #163 "[1.6.0 - 1.6.1] uninitialized constant ActionView::Component::Base"
Rails 6.0.2.1

---

**Gemfile:**

[code]

**application.rb:**

[code]

**body_component.rb:**

[code]

**layouts.html.slim:**

[code]

As a result, I get the error:

Gem installed on a new application, following the instructions in the [README](https://github.com/github/actionview-component#installation) file.

[2019-12-23 15:33] afuno commented on #163
If replace this line:

[code]

On this:

[code]

That everything works.

[2019-12-23 16:01] afuno commented on #163
https://github.com/github/actionview-component/pull/162

[2019-12-24 19:17] rainerborene commented on #163
You're looking at the `master` branch. Latest version of `actionview-component` wasn't released yet on RubyGems.

[2019-12-25 13:46] afuno commented on #163
@rainerborene Oh, okay.

[2019-12-25 14:22] joelhawksley commented on #163
My apologies for the confusion here folks. I've published `v1.6.1` which should work with the `rail tie` syntax. Please re-open this if needed ❤️ 🎄

[2019-12-25 14:31] afuno commented on #163
@joelhawksley I updated gem to version 1.6.1. Next, I replaced the code with this:

[code]

https://github.com/github/actionview-component/compare/v1.6.0..v1.6.1

The application does not start:

[code]

Everything works successfully with this code:

``ruby
require 'action_view/component'
[code]

[2019-12-25 23:56] bostanio commented on #159
Proof of concept of using a rails backend as the preview url for Storybook running in standalone more: https://github.com/bostanio/avc_storybook

There are a few of things we could do in AV:C to simplify that approach as well as provide meta data to support Storybook knobs

[2019-12-26 22:09] joelhawksley commented on #163
@rainerborene I'm seeing this well in my environment. Might you be able to have a look?

[2019-12-28 18:15] rainerborene commented on #163
@joelhawksley done. https://github.com/github/actionview-component/pull/167

[2019-12-28 18:35] rainerborene commented on #163
I guess the solution is to specify the `require` path on Gemfile.

[code]

[2020-01-01 21:17] leonard-henriquez opened #168 "Best practices for javascript"
Is it possible to have javascript as a sidecar file (like this)?

[code]

If that's not possible what is the best practice to handle javascript? Should it be mentioned in the `readme`?

Is it planned to develop a feature to pass ruby variables from components to javascript (as it's done by the `gon` gem)?

PS: Please be gentle, it's my first issue 🐣
@joelhawksley Thank you so much for this gem! I

[2020-01-01 21:58] bostanio commented on #168
There is a decent set of prior conversations around this topic - #67 and in this thread: https://github.com/github/actionview-component/issues/15#issuecomment-565834219

TL;DR; there isn't a clear answer yet but one folder per component is tough due to Ruby's folders==namespace requirement.

[2020-01-03 08:40] kaspermeyer commented on #109
Resolved in #138

[2020-01-03 08:40] #109 closed

[2020-01-03 10:01] bazzel opened #169 "Preview 'index' page also shows instance variables"
I have a preview component that contains some instance variables:
[code]

When I navigate to `http://localhost:300/rails/components` both the 'getter' and 'setter' are listed. I know this is easy to fix by changing `ActionView::Component::Preview#examples` but currently I'm having trouble finding the time to set up a unit test for this.

[code]

[2020-01-03 15:16] joelhawksley commented on #169
@juanmanuelramallo care to have a look here?

[2020-01-04 00:06] afuno commented on #163
So what about the current situation? How to install versions 1.60 and 1.61 now? Like this?

[code]

[2020-01-04 00:09] dylnclrk commented on #15
@topherfangio Brought up something that I've also found confusing. When creating a component that takes no arguments besides content, calling render raises "wrong number of arguments (given 1, expected 0)".

[code]

[2020-01-05 19:15] dylnclrk commented on #93
I took a stab at this here: dylnclrk#1, but it seems like we're a bit blocked because doesn't yet support Ruby 2.7 (actions/setup-ruby#45).

[2020-01-05 19:52] bostanio commented on #93
@dylnclrk Can you make that a PR on against this repo so we can have the conversation here?

[2020-01-05 20:20] dylnclrk commented on #93
@bostanio done (#174). Was thinking I didn't want to clutter up the PRs here with stuff that wasn't totally ready, but you're right, it will get confusing.

[2020-01-06 18:28] afuno commented on #163
At first glance in version 1.6.2 everything is fine.

[2020-01-06 20:22] joelhawksley commented on #163
Thanks for resolving this @bostanio ❤️

[2020-01-06 20:22] #163 closed

[2020-01-07 21:16] johanandre commented on #135
I'm using Rails 6.0.2.1 and latest release of AVC and getting the deprecation warning too... Any ideas of how to get rid of it?

[2020-01-07 21:48] joelhawksley commented on #135
@johanandre we've yet to have someone look at reproducing / fixing this issue. Might you be interested in taking a crack at it?

[2020-01-10 01:08] joshleblanc commented on #168
Stimulus is a great companion to actionview components. I'd say they just exist in app/javascript/controllers like normal. The data-controller in the erb specifies the controller.

https://stimulusjs.org

[2020-01-10 19:59] juanmanuelramallo commented on #169
Sure thing!

[2020-01-10 20:10] juanmanuelramallo commented on #169
@bazzel Sorry for the late answer.

Do you think a private `attr_accessor` would also work?

[code]

I don't see why we would need to use attribute accessors publicly on a `ActionView::Component::Preview` object, maybe you can elaborate a bit more the example? I might be missing something.

[2020-01-10 20:11] juanmanuelramallo commented on #155
Closing as it might not be that relevant for development since we can always install the gem locally instead of running the test app from inside the gem.

[2020-01-10 20:11] #155 closed

[2020-01-10 21:24] bazzel commented on #169
Haven't thought of using a private variable 😳but that removes the need for filtering out the instance variables. Thanks for the reply!

[2020-01-10 21:24] #169 closed

[2020-01-11 18:47] AlecRust opened #178 "Overriding default previews layout"
I have a hand-rolled styleguide of `actionview-component` components that I'm looking to migrate to  the built-in component previews introduced in #96.

I want to utilise [this gem's `ComponentsController`](https://github.com/github/actionview-component/blob/master/lib/railties/lib/rails/components_controller.rb) rather than maintain my own, but I'd like to override the layout for the index page a

[2020-01-13 15:16] joelhawksley commented on #178
@juanmanuelramallo mind having a look at this?

[2020-01-13 16:20] juanmanuelramallo commented on #178
Hey @AlecRust, the template is actually [being used manually in the controller](https://github.com/github/actionview-component/blob/master/lib/railties/lib/rails/components_controller.rb#L17). So if you want to override it I would suggest overriding the index controller action.

[code]

And in order to use this controller you would need to auto load it in development:
[code]

And to make the route

[2020-01-13 23:22] guilherme-andrade opened #179 "Ability to pick template rendered by component."
Hey! I started using your API recently and love it. I wanted to ask however if the following would be in your timeline.

### Feature request
Have the ability to pick the template rendered by the component (similar to Smart / Dumb component architecture in React)

Example:
[code]
*Note: `template :template_name` is simply a syntax suggestion*

### Motivation
Reusable component templates, and abilit

[2020-01-14 01:49] jonspalmer commented on #179
Would you use case be solved by thinking about the problem as composition rather than inheritance?

components/timeline_component.rb
[code]

components/timelines/form_one_component.rb
[code]

components/timelines/form_one_component.html.erb
[code]

It's one more view file than the requested feature but more flexible.

[2020-01-14 19:01] AlecRust commented on #178
I'm afraid that doesn't work for me, I get an empty `<body>` at `/rails/components` URL. The logs say this file was rendered:

[code]

I was hoping to avoid overriding your controller. Considering what's involved I should probably stick with my existing `StyleguideController` for now. I looked at using `ActionView::Component::Preview.all` for the components list, but when it came to the "show" par

[2020-01-14 21:08] kylefox commented on #144
I think this can be closed now that [content areas](https://github.com/github/actionview-component#content-areas) from #161 are available

[2020-01-14 21:08] #144 closed

[2020-01-17 11:20] guilherme-andrade commented on #179
@jonspalmer yeah you're right. I will go with this 👍

[2020-01-17 16:57] mellowfish opened #188 "Bug: variant detection broken if Rails.root.to_s includes a ".""
### Steps to reproduce
Make a rails app in a directory where your path includes a `.`, like `/Users/first.last/sample_rails_app`.

### Expected behavior
Component variants should be detected appropriately.

### Actual behavior
No variants are ever detected.

### System configuration
**Rails version**: 6.0.2.1

**Ruby version**: 2.6.3

### Background/Explanation

I noticed that I could never get al

[2020-01-17 20:15] mellowfish commented on #188
Whoops, this was already fixed. Thanks!

[2020-01-17 20:15] #188 closed

[2020-01-21 21:33] joelhawksley commented on #179
I agree with @jonspalmer here. Closing ❤️

[2020-01-21 21:33] #179 closed

[2020-01-22 11:55] sjayanna commented on #38
@joelhawksley @ushis  how would one test if the component is rendered in the controller tests using the above hack?

[2020-01-22 14:59] anhari commented on #67
I think one approach that might work - although maybe a bit heavy handed - for encapsulating the sidecar CSS/JS would be:

- Wrapping the component in a `div` with a generated hash class at compile time
- Wrapping the css in a rule with the generated hash class, and modifying it to work with postcss-nesting
- Serving up the JS via webpacker

[2020-01-24 00:21] kylefox opened #195 "Make `initialize` optional?"
I'm wondering if it would be possible to remove the requirement for components to implement `initialize`. (I'd also be curious to know why this requirement was added in the first place).

Some of our components do not require parameters from the view: some components are entirely static, and others are able to encapsulate logic (accessing helpers, etc) from within the component's Ruby class.

But

[2020-01-24 00:26] joelhawksley commented on #195
@kylefox thanks for the thorough write-up! ❤️ You're right to raise this question.

The short answer is that @dylnclrk is working to remove this requirement, at least in Ruby 2.7+: https://github.com/github/actionview-component/pull/174. The related issue is https://github.com/github/actionview-component/issues/93.

The longer explanation is that we use the `initialize` method to derive the source

[2020-01-24 17:01] kylefox commented on #195
Thanks @joelhawksley, that makes sense. Feel free to close this issue if it's already something on the radar. (#93 didn't appear when I searched issues for "initialize" before submitting this one 🙃).

Forgive my ignorance, but is there a reason `__FILE__` can't be used to infer template locations?

[2020-01-24 17:18] joelhawksley commented on #195
@kylefox if I remember correctly, `__FILE__` returns the current file being executed, which in this case would be the file containing `Base`, not the component that is subclassing `Base`.

I'll close this for now, as I _believe_ the Ruby 2.7+ solution is the only viable route at this point.

[2020-01-24 17:18] #195 closed

[2020-01-31 21:15] jaredcwhite commented on #168
If you want to add Stimulus controller files directly into your components tree, you can set it up like this:

[code]

Works with Stimulus namspacing as well, so for instance `app/components/parent/child_controller.js` would be identified by `parent--child` which works nicely alongside `Parent::ChildComponent` on the ActionView::Component side.

[2020-01-31 22:36] joelhawksley opened #199 "Improve testing experience"
In talking with @dylnclrk, we thought it might make sense to explore ways to improve the testing experience with components.

Right now, we generally do something like the following:

[code]

It would be lovely if we could provide an API similar/identical to https://guides.rubyonrails.org/testing.html#testing-views:

[code]

[2020-02-01 06:50] dennyf opened #201 "Rendering components outside of view context"
I'm trying to find if there is a way to render a component outside of the view context. I'm working on a feature to register a custom tag in my markdown processor - so basically, I want to replace the custom tag/shortcode with the markup generated by a component.
So, I'm wondering if there is a way to call the component to generate the markup from another class, outside the view context?
Thanks!

[2020-02-03 19:43] dylnclrk commented on #201
Not sure if I understand correctly, and maybe this is too hacky, but could you set up a fake view context in much the same way that `[render_inline](https://github.com/github/actionview-component/blob/3b822bb07192e5c4bc5d0a8f9dd2f5b3e393b433/lib/action_view/component/test_helpers.rb#L6)` does?

[2020-02-03 21:34] joelhawksley commented on #201
@dennyf - @dylnclrk is probably on the right track.

I'd love to see a PR for this. Let me know if you'd like to pair program on it 😄

[2020-02-05 07:38] dennyf commented on #201
@dylnclrk @joelhawksley Thank you both! I did something similar too, the following code worked fine for a very simple component :
[code]
but it felt too hacky and probably it's not a good idea to call `render_in` directly.
I'll dig into the ActionView Component code to better understand how it works internally - I'll submit a PR if I can get to find a good way to implement this.

[2020-02-05 13:43] joelhawksley commented on #201
@dennyf `render_in` is the public interface for components - it's definitely the right way in!

What if we had changed `render_in` from:

[code]

to:

[code]

I'm not sure if that would work in all cases, but I think we'd be fine to use that kind of fallback.

[2020-02-06 12:10] kinduff commented on #135
I was able to track it down to this line: https://github.com/github/actionview-component/blob/22068157e0083589cf350407aa80473e85926ecd/lib/railties/lib/rails/components_controller.rb#L3. Based on this [documentation](https://guides.rubyonrails.org/autoloading_and_reloading_constants.html#introduction) , this should be avoided.

I'm taking a shot of fixing this warning, I'll post my progress soon.

[2020-02-06 19:01] joelhawksley commented on #135
Thanks @kinduff! Please let us know what you find, even if it's not a complete fix ❤️

[2020-02-06 19:49] dylnclrk commented on #93
PR #174 (merged) closes this, right? Should we wait for a release to close the issue?

[2020-02-07 08:11] dennyf commented on #201
@joelhawksley  Thanks, that's good to hear! Actually I just noticed that Rails is throwing a warning when initializing `ActionView::Base` with no arguments:
[code]
so I guess it won't be as simple as that, I think it will be an overkill to initialize it with all the required parameters... I'll see if I can get any other ideas.

[2020-02-07 11:16] joelhawksley commented on #201
@dennyf It might be possible to provide all of those things, FWIW. Let me know if you want to have a look at this together: joelhawksley@github.com

[2020-02-10 14:20] skahlert commented on #135
@kinduff if I can support you, let me know! Also have this issue in my setup.

[2020-02-11 08:00] dennyf commented on #201
@joelhawksley Sorry for the late reply - my schedule is very ovestretched these days - the best I can do is spend a few minutes here and there when I get any free time. So can we continue the discussion here in this issue? In this way I can be more flexible with my time.

As for providing all the options - I noticed that at this point `view_context` is the only parameter that's actually required (

[2020-02-11 09:56] bartekadams opened #203 "Previews of components in modules"
Hello, I am trying to preview components which are in modules.

When I try to write it like this all my components under rails/components disappear.
[code]
To make preview list work again I must not only remove this code, but also restart server (puma-dev).

However, code written like this is valid and works right.

[code]

Is it a bug or I am doing something wrong?

### System configuration
**Rai

[2020-02-12 13:18] rickychilcott commented on #99
The following might be examples of how to implement:

https://github.com/rom-rb/rom/blob/master/core/rakelib/benchmark.rake
https://github.com/rom-rb/rom/blob/master/core/benchmarks/basic_bench.rb
https://github.com/rom-rb/rom/blob/master/core/benchmarks/setup.rb

[2020-02-12 18:09] juanmanuelramallo commented on #99
The tricky part here is that we need to boot a rails app to render the components and compare them with partials. Maybe then parse the logs to have the actual benchmark results. Will try to take a look at some point this week if no one else is on it

[2020-02-12 20:42] joelhawksley commented on #203
@juanmanuelramallo might you look into this?

[2020-02-12 20:52] #132 closed

[2020-02-12 20:54] joelhawksley opened #206 "Renaming to ViewComponent, Syntax Changes"
👋 Hi there folks!

After some conversations with the Rails team, we’ve decided to make the following changes to ActionView::Component:

* Rename the gem to ViewComponent
* Revert to the original `render(MyComponent.new)` syntax

We hope that these changes will better communicate the relationship between this project and Rails. To that end, this library will not be upstreamed into Rails 6.1, but wi

[2020-02-12 20:55] juanmanuelramallo commented on #203
Hey @bartekadams, can you try upscoping the parent class with double colons? Something like:
[code]

[2020-02-12 20:56] juanmanuelramallo commented on #203
This might be a sign of something else, like auto loading is not happening correctly for these preview classes. We might want to look into that.

[2020-02-13 02:30] jonspalmer commented on #206
Great progress!

[2020-02-13 16:52] joelhawksley opened #209 "Support Ruby 2.4 in CI"
https://github.com/github/actionview-component/pull/207 removed support for Ruby 2.4 as it was breaking CI: https://github.com/github/actionview-component/runs/444076324.

It would be nice to re-introduce this test coverage.

[2020-02-14 02:39] rainerborene commented on #206
Today I had a great chat with @joelhawksley about the future of `actionview-component`, well, now renamed to `view-component`. Before we get into that, let me share why I decided to use this gem in the first place.

About a year ago I was using a combination of Rails built-in helpers and [`active_decorators`](https://github.com/amatsuda/active_decorator) at the startup I'm working with, and it qui

[2020-02-14 20:20] andrewmcodes commented on #206
Sad this will no longer be upstreamed into Rails but excited for the future of this project 🎉

[2020-02-14 23:06] joelhawksley opened #215 "Add testing support / examples for passing ERB to blocks"
I'd love to be able to write a unit test like:

[code]

Right now, we have to test this kind of block in an integration test, which isn't ideal.

[2020-02-15 03:39] jonspalmer commented on #215
seconded that this would be great. I'm sure is possible and there must be prior art. I briefly scanned the Rails codebase for something similar and didn't find it obviously but I bet its there.

[2020-02-15 14:28] xdmx commented on #206
I'm a bit sad about this. What's the reason behind it? Not ready yet for prime time or is there no interest from the Rails Core team to have it provided by Rails itself? Will it be in the future (6.2?) or is it a final decision?

[2020-02-18 16:57] joelhawksley commented on #206
@xmdx I'm a bit sad too, but I'm also conscious of how much this library is still in flux. I don't think it was going to be mature enough to be upstreamed this year.

Given more time, a stable API, and support from / usage by the community, I could see our chances being better for the next release cycle.

[2020-02-18 23:16] joelhawksley commented on #199
@dylnclrk I've got a work in progress here. I'll share it soon 😄

[2020-02-19 06:08] jaredcwhite commented on #168
I also started experimenting with an actual web component JS pattern too, rather than use Stimulus, so in that case I created an `app/javascript/components.js` file to import into the webpack and it just does this:

[code]

Now any sort of file like `widget_component.js` that lives somewhere in `app/components` will get automatically imported into the pack.

[2020-02-19 18:13] jaredcwhite commented on #206
It's a bummer this won't be builtin to the Rails framework, but I'm glad the underlying Rails view layer now supports rendering objects of any kind, whether ViewComponents or otherwise. Seems like a major step forward for the ecosystem.

[2020-02-19 22:43] joelhawksley commented on #199
Closed by https://github.com/github/actionview-component/pull/216

[2020-02-19 22:43] #199 closed

[2020-02-20 23:15] biow0lf opened #221 "Ruby 2.7 support is broken"
### Steps to reproduce

/app/components/character_employment_history_row_component.rb

[code]

/app/components/character_employment_history_row_component.html.erb

[code]

### Expected behavior

Component render

### Actual behavior

Could not find a template file for CharacterEmploymentHistoryRowComponent. excluded from capture: DSN not set

ActionView::Template::Error (Could not find a template

[2020-02-20 23:48] joelhawksley commented on #221
@dylnclrk might you be able to look at this?

[2020-02-21 00:51] dylnclrk commented on #221
@biow0lf thanks for the bug report!

In this case, what’s returned by `const_source_location`? is it nil? some other sort of object?

Everything you’re doing seems to match the setup in the tests for this feature.

Can you reproduce this error in a demo repository?

[2020-02-21 09:17] biow0lf commented on #221
Demo: https://github.com/biow0lf/actionview-component-issues-221

Just open "/".

[2020-02-21 21:27] rmacklin commented on #221
After applying this patch to [opt out of the `zeitwerk` autoloader](https://guides.rubyonrails.org/autoloading_and_reloading_constants.html#opting-out) in the `actionview-component-issues-221` repo
[code]
the application works (this error doesn't get raised).

Similarly, applying this patch in the `actionview-component` repo (which enables `zeitwerk`)
[code]
causes the test suite to fail on ruby 2

[2020-02-21 21:50] joelhawksley commented on #221
@rmacklin thanks for the diagnosis. Given that constraint, I'm wondering if we should just revert the 2.7-specific behavior. What do you think?

[2020-02-21 22:15] rmacklin commented on #221
It seems like at least in the short-term, reverting would be fine. But it's still probably worth figuring out if this is revealing a bug in either `zeitwerk` or in ruby 2.7's `const_source_location` method. (It's also possible this is "expected behavior", but in that case it may be worth documenting as a potential caveat when using `zeitwerk`.)

I am not familiar with the `const_source_location` m

[2020-02-21 22:30] jonspalmer commented on #221
My sense is either the example or the gem or both are "doing autoloading wrong" wrt Ruby 2.7. I remember there being a bunch of documentation around those details in the upgrade guides.

[2020-02-22 00:28] jonspalmer commented on #221
I did a little digging the problem isn't that ruby thinks that CharacterEmploymentHistoryRowComponent is defined in the erb file. The problem is that it thinks its defined in "lib/zeitwerk/loader.rb", 351

I'm a little suspicious that the new `const_source_location` doesn't actually behave the ways we want with zeitwerk loading. It would be great fo @fxn to chime in.

[2020-02-22 00:55] rmacklin commented on #221
That's not what I'm seeing. If I apply this patch to the `actionview-component-issues-221` repo (which monkey patches [`ActionView::Component::Base::source_location`](https://github.com/github/actionview-component/blob/v1.11.0/lib/action_view/component/base.rb#L143-L153) to print the value of `const_source_location(self.name)` and adds a test to reproduce the bug):
[code]

and then run that test:

[2020-02-22 01:48] jonspalmer commented on #221
Fascinating. Seems like we have work to do to figure this out. Seems like we should revert until we have this figured out.

[2020-02-22 09:32] fxn commented on #221
Hey, these days I am very busy working on a talk. Glad to help whenever I have the time.

I am not sure I understand the description. Is it saying that if the template has an error (unknown constant `Anything`), the expected behaviour is to get it rendered? Or does "Anything" mean "any valid content"?

[2020-02-22 13:49] jonspalmer commented on #221
@joelhawksley Curious about the origin of using `source_location` to determine the view location. I don't think Rails does it that way for determining views for controllers. Why cab't we just use the namespace of the Component to deduce the view locations?

[2020-02-22 17:24] rmacklin commented on #221
@fxn, thanks for taking a look! I think "Anything" in the first post of this thread was a stub for "any content", but I think reading just that example is probably not very helpful - it'll be easier if you can reference the example application in the https://github.com/biow0lf/actionview-component-issues-221 repo.

What we're seeing in that application is that when it's using `zeitwerk`, the retur

[2020-02-24 19:15] ultrawebmarketing opened #226 "Accessing session scope?"
I really can't wait until they enable discussions in this repo.

This is just a question. Is there a preferred way of accessing and setting session information in components? Reason being is that while porting over some partials, we had some logic in the partial for keeping tracking of rendering that we would keep in the session of the user. This made it very easy to reuse the partials in other ar

[2020-02-24 20:14] joelhawksley commented on #226
@ultrawebmarketing for our internal components, we generally try to avoid having components use state that is not explicitly passed into them. Doing so makes them easier to unit test and to reuse in different views / outside the request path.

You may be able to get the behavior you want using the `helpers.` escape hatch, which allows you to make a method call in the containing view context.

But

[2020-02-24 20:25] joelhawksley commented on #221
@jonspalmer it's been a while since I've looked at this part of the library in depth, but you raise a fair question. I'd love to see a spike PR for going that route 😄.

[2020-02-24 20:51] ultrawebmarketing commented on #226
An example... We have a component that displays a set of tabs. This component can be used in multiple areas of the site. Now what we want to do is save which tab is active so that if the user comes back to that page, the tab that was active, is active again and not the default tab, thus we store the active tab in a session. Yeah, we probably could do this stuff in the controller and pass the activ

[2020-02-24 21:40] joelhawksley commented on #226
@ultrawebmarketing you're correct that you could pass that in from the controller. What if you instead had it at the callsite?

Something like:

`render(MyTabNav.new(current_tab: session[:current_tab])`

That way, you are reducing your coupling to the potential values of `session[:current_tab]`, not all of `session`.

[2020-02-24 22:36] ultrawebmarketing commented on #226
while that will work for retrieving, it's the setting which is the main part. for instance, in the partial i have:

[code]

so now I can not only get the active_tab but also set it without having any external code.

[2020-02-24 22:54] joelhawksley commented on #226
@ultrawebmarketing I see. That's generally the kind of logic we'd put in a controller.

But for the sake of migrating, you should be able to use `helpers.session` and `helpers.params` to make this work. It will just be tricky to unit test.

[2020-02-25 16:06] joelhawksley opened #227 "Wanted: Case Studies"
As we work towards [v2](https://github.com/github/actionview-component/issues/206), it would be helpful to have some case studies about how people are using components in their applications, so those new to the library can see how others are using it.

It would be helpful to see:

- Before/after refactors to components
- ApplicationComponent examples
- Stories of how components have improved your

[2020-02-26 14:35] #221 closed

[2020-02-26 15:10] joelhawksley commented on #93
Closing this for now as we've had issues with this approach and Zeitwerk.

[2020-02-26 15:10] #93 closed

[2020-02-26 15:12] joelhawksley commented on #135
This should be fixed in 1.12.0, by @seanpdoyle's https://github.com/github/actionview-component/pull/225. Please re-open if not! ❤️

[2020-02-26 15:12] #135 closed

[2020-02-26 16:37] ozzyaaron commented on #15
I'm just building on some previous reports primarily around where templates live and the filenames of the template/s. My concerns come down to integrating with Rails caching basics.

The issue that we run into is basically summed up by

[code]

In this case if the template for `MyComponent` is changed the cache will not be invalidated. I tried to add `MyComponent` to the array used by `cache` and

[2020-02-26 16:38] dpaola2 opened #231 "Case Study: Bootstrap components"
In response to [this tweet](https://twitter.com/joelhawksley/status/1232674647327547394):

I recently began refactoring many of my partials into components. Along the way I discovered an interesting use case, which was to componentize the various bootstrap components I was already using.

Some examples:

- I've componentized the specific layout that I've designed using the grid system. I have defi

[2020-02-27 15:55] #85 closed

[2020-02-27 19:09] joelhawksley commented on #15
@ozzyaaron thank you for the detailed report!

Might you be willing to file this as an issue so we can track and discuss it further?

[2020-02-27 19:12] joelhawksley commented on #231
@dpaola2 thanks for sharing this! I've had the idea of making a Boostrap components library in the back of my mind for a while, but I won't have time to take it on in the foreseeable future. I'm definitely happy to help you need a second set of eyes 😄

Also @mellowfish might have some input on making a component library gem.

Might you be willing to open a PR with this case study in markdown forma

[2020-02-28 07:31] bartekadams commented on #203
@juanmanuelramallo Sorry for responding so late. Putting double colons before as you wrote works.

Unexpectedly for me when I was recreating version that didn't work earlier is appears to work now 😮

[2020-02-28 17:49] ozzyaaron opened #234 "Components should play nicely with Rails caching mechanisms"
### Feature request

Components should provide a digest to Rails views, or be able to use Rails explicit caching directive comments or be able to provide a cache_key.

Essentially we should be able to invalidate a cache based on whether the Component class or template has changed.

### Motivation

I'm just building on some previous reports primarily around where templates live and the filenames of

[2020-02-28 17:50] ozzyaaron commented on #15
No problems @joelhawksley I have filed it! https://github.com/github/actionview-component/issues/234

[2020-02-29 00:50] nicolas-brousse commented on #15
Hey! I currently work with `komponent` gem, and there is a while that I wanted to try `ActionView::Component`.

There is also some months that I was looking to do some tries with Rails form helper + components. So it was a good opportunity to try `ActionView::Component` too.

I did a small Rails project to test what I had in head. So my idea was simply to supercharge Rails form helper with compone

[2020-02-29 14:57] nicolas-brousse opened #236 "Use ActiveModel::AttributeAssignment or similar"
### Feature request
Does `ActionView::Component::Base` could include `ActiveModel::AttributeAssignment` and use `#assign_attributes(attributes)` in `#initialize`?

Like following:

[code]

Or maybe just manage a similar assignment.

### Motivation

Let use the following component as example.

[code]

I notice two things:
1. We need to write twice the attribute name (in `#initialize` and add it to

[2020-03-02 16:55] #38 closed

[2020-03-02 22:19] joelhawksley commented on #236
@nicolas-brousse thanks for filing this!

This is definitely something that would sit nicely in an ApplicationComponent though ❤️ 🙏.

We'll be removing validations shortly in `v2.0.0`, so using `attr_reader` will no longer be as common of a pattern in components.

If you have a specific case where you think this would be useful, might you be able to open a PR with a test case?

[2020-03-03 09:41] nicolas-brousse commented on #236
@joelhawksley thanks for your answer.

Ah good to know! No I don't think keeping `ActiveModel::Validations` in `ActionView::Component::Base` is necessary. Since we could create an `ApplicationComponent` in our projet, it sounds good enough.

So if I'm correct, we could imagine the following in the future:
[code]

Or even
[code]

[2020-03-03 12:53] javierav opened #241 "Strange behavior with code blocks using form helpers and Slim"
Hi!

I'm playing with this project for use in production but I encountered a possible bug related with passing a Slim/HTML block to Rails helper.

[code]

[code]

[code]

Expected output:

[code]

Current output:

[code]

In normal Rails the block of code passed to the helper works perfectly. Any ideas? Thanks!

[2020-03-03 14:07] BlakeWilliams commented on #241
This looks really similar to the issue I ran into that caused me to open https://github.com/github/actionview-component/pull/240.

[2020-03-03 18:08] joelhawksley commented on #236
@nicolas-brousse that's correct. I'd love to see some example components using this behavior shared here: https://github.com/github/actionview-component/issues/227.

In the meantime, I'm going to close this issue ❤️

[2020-03-03 18:08] #236 closed

[2020-03-03 20:08] joelhawksley commented on #154
Closed as we now use an engine.

[2020-03-03 20:08] #154 closed

[2020-03-03 20:59] bunnymatic opened #243 "Upgrade from 1.12 -> 1.14 (and 1.14.1) causes errors `to_partial_path` must be implemented?"
After an upgrade from 1.12 to 1.14, my app completely fell over because none of the components will render any more.  They complain that `to_partial_path` is not available.

I made a simpler repro case which was to use the generator to build a brand new component, uncomment the tests and run them.  And that fails for the same reason. Hopefully the steps below are enough to expose the problem.

##

[2020-03-03 21:03] joelhawksley commented on #243
@bunnymatic good catch! It looks like I forgot to update the generator 🤦‍♂. I'll look at this now.

You mention that your other components are failing to render. Can you provide an example component and the render call site that is failing?

[2020-03-03 23:39] nicolas-brousse commented on #236
@joelhawksley I'm working on demo project to do some test before we implement it on real projects (https://github.com/nicolas-brousse/avc_form_builder).

I'm doing some tests with `ApplicationComponent` and `ActiveModel::Model`. The main annoying thing I notice it is that it always need to defined an `#initialize` method in all my components, since we need it for [`#source_location`](https://githu

[2020-03-04 14:04] joshleblanc commented on #15
Is there any solution available for component scoped CSS?

Whether that's some other dependency, or built in?

[2020-03-04 14:46] joelhawksley commented on #15
@joshleblanc not to my knowledge, no. It's on our radar, but not until later this year at the earliest.

[2020-03-04 15:53] dpaola2 commented on #231
@mellowfish would love your thoughts. I may take a stab at it this week. I suppose I'll make a gem that simply specifies this library as a dependency....

@joelhawksley PR opened: #246

[2020-03-04 16:24] joelhawksley commented on #236
@nicolas-brousse we've tried and failed to remove the initializer requirement using `const_source_location` in Ruby 2.7.

@jonspalmer did have an idea on how to address this in https://github.com/github/actionview-component/issues/221#issuecomment-589958005, but I don't it's been worked on yet. Would you be interested in taking it on?

[2020-03-04 16:56] dpaola2 commented on #231
Was just working on this today -- I'm wondering what y'alls thoughts are on an elegant way to extend this library in the case of a Bootstrap component library.

I'm currently specifying this library as a dependency, which is problematic at the moment in a ruby gem because of [this line](https://github.com/github/actionview-component/blob/master/lib/view_component/base.rb#L135). It's not currently

[2020-03-04 17:04] joelhawksley commented on #231
@dpaola2 interesting. Could you open a PR with a failing test?

[2020-03-04 17:21] joelhawksley commented on #231
@dpaola2 that doesn't sound too bad! I think we can get around the issue by checking to see if `Rails` is defined on that line.

Would you like to open a PR?

[2020-03-04 17:56] nicolas-brousse commented on #236
@joelhawksley I see. I may take some time later to do some check and see if I have a proposal.

For now I work and a proof of concept for a component structure. I'll check after that.

[2020-03-04 18:41] bunnymatic commented on #243
That does not appear to solve the problem.

In the same repo, upgrading to 1.14.1, my app won't render components in tests or IRL.

To demonstrate, I added a new component, added a `plain.html.slim` page which only renders that component (with no layout for simplicity) and I get the same error.

[code]
[code]
[code]

Added a route to a page with no layout that just renders 1 component
[code]

I ge

[2020-03-04 18:43] bunnymatic commented on #243
I also tried regenerating a component with the new generator but same issue.  Still won't render in a test or in the app with `missing to_partial_path`.

[2020-03-04 18:47] joelhawksley commented on #243
@bunnymatic how are you loading the gem in your application? Are you including it in your `application.rb`?

This error means that the monkey patch on `render` isn't working properly.

[2020-03-04 18:51] bunnymatic commented on #243
That was it...

[code]

I missed the first line in the migration readme *and* `action_view/component` still exists so that require did not fail so I didn't catch it.

Thanks

[2020-03-04 18:51] #243 closed

[2020-03-04 18:52] joelhawksley commented on #243
Thanks for following up, and sorry for the trouble!

[2020-03-05 22:04] nicolas-brousse commented on #236
What do you think about using

[code]

Or using [`ActionView::ViewPaths#append_view_path`](https://api.rubyonrails.org/classes/ActionView/ViewPaths.html#method-i-append_view_path)

[2020-03-06 16:32] joelhawksley commented on #236
@nicolas-brousse the `caller` approach is super clever! Any idea how performant it is?

I'm wary of using `ActionView::ViewPaths#append_view_path`. I don't think it's a great idea to commingle component views with other Rails views.

[2020-03-06 16:44] nicolas-brousse commented on #236
@joelhawksley

For now I only did test. But I haven't any successful results. I did more tests with `caller` and have weird results. I'll try to go deeper, then if I've better results I'll do some benchmarks to tests performances.

I guess you're right with this point.
Could we imagine having `ViewComponent::ViewPaths` with a dedicated collection? I'm not sure it's a good idea too, but it may be i

[2020-03-06 19:24] nicolas-brousse commented on #67
:wave: I'm currently doing some tries with a proof of concept application.

I initially worked on a custom `FormBuilder` to proxy form helper inside components. And by the same time I used this app to try a component organization.

I currently have the following structure.
[code]

* css is loaded with `@import` in  `app/javascript/css/_component.css`
* stimulus controllers are loaded dynamically i

[2020-03-06 20:25] joelhawksley commented on #236
@nicolas-brousse if we had our own list of view paths, I could be  open to that idea. I'm excited to see what you come up with for a PR :)

[2020-03-06 20:56] nicolas-brousse commented on #236
@joelhawksley okay, I'll make a try then. :)

[2020-03-06 22:54] joelhawksley opened #252 "Help wanted: What is our documentation missing?"
Ahead of finishing our [renaming work](https://github.com/github/view_component/issues/206) for `v2.0.0`, I'd like to give our documentation a refresh.

I'd love to hear your thoughts on what we have right now, and to the following questions:

- What do you find yourself explaining to other developers you work with about components?
- What confuses you about components?
- What is your favorite thi

[2020-03-07 14:45] jonspalmer commented on #236
I'd done an experiment with something akin to view paths. I think it works well and IMO it would be a good way to solve this problem. Overall I'd be much happier there was a config you might have to touch vs us requiring a constructor in all ViewComponents.

As I see it there are three "common" cases to figure out:

1. Normal use of the library with components and views in app/components (98% case

[2020-03-07 14:58] nicolas-brousse commented on #236
@joelhawksley I'm agree.

I started to work on it locally yesterday and for configuration part I did the following in `ViewComponent::Engine`.

[code]

That way it should easy to customize view paths as it is for regular view.

My tests are not working well for now, but I didn't feel comfortable with this subject since I don't really know `ActionView` system. But since it's funny to discovery it I

[2020-03-09 11:59] jcoyne opened #254 "Regression in 1.14.1"
When I upgraded from 1.12.0 to 1.14.1 and ran my tests I got the following error:

[code]

As this wasn't a major version upgrade, shouldn't that file remain where it was to provide backward compatibility?

[2020-03-09 14:04] joelhawksley commented on #254
Oh, darn! You're right, we missed this one. I'll get to this soon.

[2020-03-09 14:05] jcoyne commented on #254
Also:
[code]

[2020-03-09 19:52] #254 closed

[2020-03-09 20:06] joelhawksley commented on #254
@jcoyne can you give https://github.com/github/view_component/releases/tag/v1.15.0 a try and let us know if this fixes your issue?

[2020-03-11 12:27] nquocvuong opened #257 "Help: bug when upgrade to latest version"
Hi guys,

after upgrade actionview-component from 1.5.3 to 1.15.0.

I start rails server and got this error

![image](https://user-images.githubusercontent.com/33539765/76405165-4fac9a00-63ba-11ea-9cde-4835a91dfab6.png)

I dig into your codebase.  and I found that the following snippet code cause this error

[code]
any suggestion for me?

### System configuration
**Rails version**: 6.0.0

**Ruby v

[2020-03-11 16:55] joelhawksley commented on #257
@nquocvuong thanks for the report!

Jumping from `1.5.0` to `1.15.0` is a big leap. Would you be willing to step through the releases to see which one introduced this error in your codebase?

[2020-03-11 22:39] aagrawal2001 opened #258 "Implement Factory for Creating Optimizely::Project instances to Avoid Passing in a Large Number of Positional Arguments"
### Feature request

The constructor for `Optimizely::Project` expects 10 positional arguments. This is pretty unwieldy because it's hard for a caller to remember which argument is which. It also requires a bunch of `nil` values to be passed in if only some of the non-default values are desired.

It would be helpful to introduce a factory that takes in keyword arguments as input and constructs the

[2020-03-11 22:39] #258 closed

[2020-03-11 22:39] aagrawal2001 commented on #258
I opened this for the wrong repository!

[2020-03-12 01:14] nquocvuong commented on #257
Hi @joelhawksley

thank for the response. it occur on version 1.13.0 with the appearance of Component::RenderingMonkeyPatch

[2020-03-12 16:00] joelhawksley commented on #257
@nquocvuong interesting, it looks like something is frozen that isn't frozen in other environments.

Can you inspect the state of `ActionController::Base` before that line to see if perhaps it's trying to prepend multiple times?

[2020-03-13 04:56] nquocvuong commented on #257
I tried to inspect all ancestors of `ActionController::Base` and look like this code run twice -> prepend twice
![image](https://user-images.githubusercontent.com/33539765/76590798-e98e5700-6520-11ea-93a8-53785f962c6a.png)

but if I write a condition to make it prepend one time, this bug still occurs.

note: it raises an error whenever `ActionController::Base` call render( visit a URL of my app) n

[2020-03-13 15:07] joelhawksley commented on #257
@nquocvuong thanks for taking the time to do that diagnostic.

Would you be willing to take on writing a fix?

If not, could you provide an example Rails app repo that reproduces this failure?

[2020-03-13 15:16] dark-panda commented on #221
Adding this here, this is what we currently use in our `ApplicationComponent` to avoid having to specify `#initialize` and also to move our views path. Our devs wanted to avoid mixing our Haml files with the Ruby files, so we put our views into `app/components/views` and the component definitions themselves into `app/components`. This seems to work fine in our case and all tests are passing withou

[2020-03-14 12:10] rosendi commented on #206
@joelhawksley do you plan to add something like:

[code]

It's much simpler than:

[code]

[2020-03-14 13:29] rainerborene commented on #206
You can use this gem https://github.com/barsoom/attr_extras

On Sat, Mar 14, 2020, 9:10 AM Dimitri Rosenberg <notifications@github.com>
wrote:

[2020-03-14 13:57] rosendi commented on #206
@rainerborene I could but if it fits the plans it should be available out of the box without an additional gem. Also this or different DSL will give the developers the explicit way of how the component should be defined.

[2020-03-16 20:35] joelhawksley opened #261 "Add test helper for asserting component wasn't rendered"
While the Capybara matchers we have in this library are helpful, in practice there has been one test that is tricky to write: asserting that nothing was rendered for a component, often due to returning `false` for `render?`.

I'm thinking we need something like `refute_component_rendered`.

Right now, we have something like this:

[code]

But it's not foolproof. What if the component renders an ic

[2020-03-16 20:50] BlakeWilliams commented on #261
Thanks for opening this!

I did some testing, and I *think* `assert_no_selector('body')` might actually work for this case since Capybara seems to render each component with a doctype, `html` tag, and `body` tag even if the component doesn't contain those tags. It will seemingly omit the `body` tag when nothing is rendered though.

It's not my favorite solution, but thought it was a discovery wort

[2020-03-16 21:24] joelhawksley opened #262 "Disable monkey patch if Rails version >= 6.1"
Once we ship `v2`, let's short-circuit the monkey patches entirely in 6.1, as they will no longer be necessary.

I'm almost wondering if we could/should move the monkey patches to their own gem at that point. What do you think @jonspalmer?

[2020-03-19 18:27] andrewmcodes commented on #209
@joelhawksley I’ll open a PR for this today or tomorrow

[2020-03-19 18:44] rmacklin commented on #209
Is this still worth doing? We're only 12 days from the official EOL date for ruby 2.4:

![image](https://user-images.githubusercontent.com/1863540/77103033-06ba9e00-69d7-11ea-9314-6d7395be677d.png)

https://www.ruby-lang.org/en/downloads/branches/

[2020-03-19 19:22] joelhawksley commented on #209
@rmacklin if @andrewmcodes has a simple enough solution, I'm cool with adding support. I'd love to be compatible with as many folks' apps as possible 😄

[2020-03-19 19:42] rmacklin commented on #209
Fair enough. If any new changes break CI on ruby 2.4 again, though, I think it'd be worth considering dropping support.

(Folks should take the time to update to a supported version of ruby so they can continue to receive security updates. To that end I personally think gem maintainers should be comfortable investing their time supporting only the officially supported versions of ruby.)

[2020-03-19 19:44] joelhawksley commented on #209
@rmacklin I agree 100%. There's a reason we don't have 2.4 support right now 😄

[2020-03-20 18:03] #252 closed

[2020-03-20 19:32] joelhawksley commented on #261
Closed by #263

[2020-03-20 19:32] #261 closed

[2020-03-20 20:37] joelhawksley commented on #157
I'm going to consider https://github.com/github/view_component/pull/259 as a solution to this for now. Please feel free to reopen/add to that work with another PR ❤️

[2020-03-20 20:37] #157 closed

[2020-03-23 14:57] #209 closed

[2020-03-23 15:55] #131 closed

[2020-03-23 16:09] joelhawksley commented on #206
@rosendi I'm hesitant to add a DSL here, as it doesn't seem consistent with Rails.

[2020-03-23 16:10] joelhawksley commented on #206
Closed by https://github.com/github/view_component/pull/268

[2020-03-23 16:10] #206 closed

[2020-03-23 16:10] joelhawksley commented on #262
Closed by https://github.com/github/view_component/pull/268

[2020-03-23 16:10] #262 closed

[2020-03-23 16:15] AlecRust commented on #206
@joelhawksley are validations removed all together? README/this issue implies it can still be enabled somehow?

[2020-03-23 16:17] jaredcwhite commented on #206
@AlecRust In my `application_component.rb` base class, I added:

[code]

and that restored the validation functionality.

[2020-03-23 16:36] joelhawksley commented on #206
@AlecRust - @jaredcwhite is correct.

 The test suite contains many example components, but this is the one that will be of interest to you: https://github.com/github/view_component/blob/master/test/app/components/validations_component.rb

[2020-03-23 16:59] joelhawksley commented on #257
@nquocvuong can you attempt to reproduce this bug on `v2.0.0`, and if so, provide an example Rails app that reproduces the failure?

[2020-03-23 16:59] #257 closed

[2020-03-24 03:17] nquocvuong commented on #257
ok, I will give a try on `v2.0.0`

[2020-03-24 21:54] spdawson commented on #257
I hit what may be the same problem using `view_component` in a fairly complex Rails application. In my case, I was eventually able to track the issue down to an incompatibility between `view_component` and [`wicked_pdf`](https://github.com/mileszs/wicked_pdf) &mdash; demonstration application [here](https://github.com/spdawson/view_component-frozen-error).

It seems that the technique of monkey pa

[2020-03-25 00:03] jaredcwhite commented on #168
@joelhawksley Would the two posts above be helpful in getting added to documentation somewhere for further review and revision? Seems like it shouldn't be stuck in an issue. I'd be happy to move stuff to a doc or wiki file somewhere.

[2020-03-25 20:37] ultrawebmarketing commented on #206
very sad that it won't be upstream, though i get it why. what i don't understand was the decision to remove the validation by default. personally i thought that was one of the strongest features of using this project. if i may ask, what was the reason for that and is there any change to reconsider?

[2020-03-25 22:16] joelhawksley commented on #206
@ultrawebmarketing the main reason we removed validations was that we found the pattern to be dangerous. Introducing a path to raise exceptions to the view layer ended up causing runtime errors in production.

Instead, we've moved to coercing our component's parameters to one of several known values, using a helper called `fetch_or_fallback`:

[code]

Which we use in a component like:

[code]

Thi

[2020-03-25 22:52] joelhawksley commented on #168
@jaredcwhite do either of those solutions prevent a component-specific JS file from containing code that interacts with other components/views?

I'm wary of encouraging the use of sidecar JS files until we have a solution that gives us this isolation guarantee.

[2020-03-25 23:34] jaredcwhite commented on #168
@joelhawksley Well, in either the case of it being a Stimulus controller or a Web Component, the HTML markup and the JS are pretty well aligned and nothing's "leaking" out into anything else (plus it makes use of the typical way Webpack keeps different files pretty well isolated). But nothing would prevent someone from manually writing JS code to affect some other part of the page with DOM command

[2020-03-26 14:51] joelhawksley commented on #257
@spdawson thank you for taking the time to reproduce this bug! 🙇

@nquocvuong are you using a gem that also monkey patches `ActionController::Base#render`?

What do you think is the right solution here? I have some ideas, but I'd like to hear your thoughts first 😄

[2020-03-27 11:55] joshleblanc commented on #168
The stimulus solution is mounted by markup, so while you *could* mount the stimulus controller in mutliple components, you probably wouldn't.

If you have a component for badges, and you wanted to attach a stimulus controller to that, your component's markup just looks like

[code]

That would attach the `BadgeController` controller to the div element there. It would be up to the programmer to tha

[2020-03-27 16:24] #21 closed

[2020-03-30 10:26] nquocvuong commented on #257
HI @joelhawksley,
sorry for late.
today I upgrade to `2.1.0` and still get the same error ( error 41 render_monkey_patch)

[code]

I'm not sure, let me check it out. I'm investigating the solution

[2020-03-30 14:59] joelhawksley commented on #168
@jaredcwhite @joshleblanc thanks for following up!

@jaredcwhite let's move forward with adding a section to the README. I'd love to have @dpaola2 give an opinion on this as well.

FWIW, we haven't pursued sidecar JS files internally, which is the source of my hesitation here, having not seen these ideas in practice. Would you be willing to provide a demo component in your PR?

[2020-03-30 18:32] jaredcwhite commented on #168
@joelhawksley That sounds cool, I'll write something up for the readme and submit a PR. I'll see if I can pull a generic component example or two out of the work I've been doing (and obviously other people might have different approaches as well so the more feedback the better!).

[2020-03-31 12:39] ultrawebmarketing commented on #206
That is really cool, perhaps consider putting that in core?

[2020-03-31 16:15] dpaola2 commented on #168
I have no experience adding javascript (yet) to components. It should be noted that I am using Bootstrap heavily and it utilizes javascript in a more global way - the JS is not packaged with the component, it's part of the bootstrap library and its dependencies.

[2020-03-31 21:53] joelhawksley opened #280 "v2.2.0 assigns source_location incorrectly"
### Steps to reproduce
Create a component that inherits from another component, such as ApplicationComponent. Attempt to render the component.

### Expected behavior
The component renders.

### Actual behavior
`ViewComponent::TemplateError: Could not find a template file for MyChildComponent.`

### System configuration
**Rails version**:
6.0.2.2

**Ruby version**:
2.6.3p62

**Gem version**:
2.2.0

[2020-03-31 21:54] joelhawksley commented on #280
@nashby it looks like 2.2.0 might be broken. I'm looking into this now.

[2020-04-01 04:27] holman commented on #243
Just as an aside for The Future Googlers- we ran into this problem because we had `render(NeatoComponent)` calls still. A bit confusing given the error stemming from it. Changing them to `render(NeatoComponent.new)` calls fixed things up. 🌈

[2020-04-01 15:10] #280 closed

[2020-04-02 21:36] joelhawksley commented on #226
Closing.

[2020-04-02 21:36] #226 closed

[2020-04-03 10:11] rosendi commented on #15
@joelhawksley Thank you for collection rendering! It's awesome!

[2020-04-03 10:33] rosendi opened #285 "Pass an argument to content area"
I have a component with the `form_for` helper:
[code]

And I want to pass the `f` into the form area.

[code]

Then render it like:

[code]

How should I handle this case?

[2020-04-03 14:32] thomasbrus commented on #285
@rosendi I think it might be better to render the form itself in the view and perhaps extract some parts to the component, for example via a method `def build_form_url(opts ={})` and then call `form_for(url: component.build_form_url)` etc in the view. It's also an option to have a method `def form(&block)` on the component, you can then call `component.form do |f|` in the view. However you might r

[2020-04-03 14:33] joelhawksley commented on #15
@rosendi don't thank me, thank @tclem! (and @jonspalmer / @rainerborene 😄 )

[2020-04-03 17:17] joelhawksley commented on #168
Closing this for now, as we've merged https://github.com/github/view_component/pull/283. I'd love to see more examples/discussion on this topic, especially in the form of PRs to add to @jaredcwhite's README section ❤️

[2020-04-03 17:17] #168 closed

[2020-04-03 17:18] joelhawksley commented on #231
Closing, as https://github.com/github/view_component/pull/246 has been merged.

[2020-04-03 17:18] #231 closed

[2020-04-04 16:43] rosendi commented on #285
@thomasbrus yep, currently I pass a complete form to `editor`.

[2020-04-06 18:36] ocarreterom opened #288 "coexistence with wicked_pdf"
### Steps to reproduce

Add `wicked_pdf` to your Gemfile.
[code]

### Expected behavior

Work well.

### Actual behavior

I get an error:
[code]

### System configuration
**Rails version**:  6.0.2.2

**Ruby version**: 2.6.5

**Gem version**: 2.2.1

[2020-04-06 19:06] joelhawksley commented on #288
@ocarreterom thank you for the report!

This was also being discussed here: https://github.com/github/view_component/issues/257

Do you have a proposed solution in mind? Unfortunately the conflict is due to competing monkey patches of `render`.

I could see having an option to turn off the ViewComponent monkey patch, potentially allowing some sort of alternate render method such as `render_compone

[2020-04-06 21:13] ocarreterom commented on #288
This monkey patch is due to the backport and it might will be fixed in Rails 6.1?

[2020-04-06 21:24] ocarreterom commented on #288
Also, `render_component` looks good to me.

<img src="https://media3.giphy.com/media/tIeCLkB8geYtW/giphy.gif" width="200">

[2020-04-06 21:57] joelhawksley commented on #288
@ocarreterom correct. If you're running `6.1`, the monkey patch isn't used.

[2020-04-06 22:42] jonspalmer commented on #288
@joelhawksley Providing a view helper like `render_component` and then a config option to prevent the monkey patch seems very sensible and simple to implement. I'd agree that seems like the simplest approach.

I do wonder if we implemented the monkey patch like wicker_pdf could they coexist: https://github.com/mileszs/wicked_pdf/blob/08a104c2115147410b8008079cba08c5d8a5f226/lib/wicked_pdf/pdf_help

[2020-04-06 23:07] joelhawksley commented on #288
@jonspalmer oh, interesting. It would certainly be worth a shot!

@ocarreterom would you be interested in giving that approach a try? Our CI builds against Rails 5, 6, and master in a matrix, so we should be able to be fairly confident in test feedback here.

[2020-04-07 00:02] jonspalmer commented on #288
@ocarreterom I have a spike of this approach going...stay tuned.

[2020-04-07 00:43] jonspalmer commented on #288
Actually scratch that. As I dig into the wicked_pdf code it's functionally equivalent to the code we have already given we're prepending the monkey patch. For some reason wicked_pdf is also trying to handle the included case as well as prepend. I don't think we care about that.

So I think we're back to our original idea. That said I'd love to know why this breaks in the first place. Is it view_co

[2020-04-07 05:47] spencersteiner commented on #288
One hacky workaround is to use the `render_with_wicked_pdf` method included with wicked_pdf (instead of using `render`) and remove the render method in the wicked_pdf initializer:

[code]

Obviously not the most desirable workaround haha, but it will allow the two to exist together until a more legitimate solution exists (I've been experimenting with this in my rails 5.2 environment where it is cu

[2020-04-07 10:17] tchak opened #289 "Preview index actions use application layout instead of rails application layout"
It seems that `/rails/view_components` page is rendered with "application" layout instead of "rails/application" layout. It is a problem because `RailsApplicationController` is missing methods implemented in `ApplicationController` and potentially used in the "application" layout. I checked the difference in implementation with mails preview and I can't really spot the difference.

[2020-04-07 14:49] joelhawksley commented on #289
@juanmanuelramallo mind having a look at this one? ❤️

[2020-04-08 23:11] n-rodriguez opened #292 "Capybara as runtime dependency?"
Hi there!

Do we really need `capybara` as runtime dependency? See : https://github.com/github/view_component/blob/master/view_component.gemspec#L36

It's used in test helper : https://github.com/github/view_component/blob/master/lib/view_component/test_helpers.rb

Thank you!

[2020-04-09 00:18] joelhawksley commented on #292
@n-rodriguez only one way to find out! Would you be up for opening a PR to move it to development only?

[2020-04-09 00:49] n-rodriguez commented on #292
@joelhawksley done https://github.com/github/view_component/pull/293

[2020-04-09 01:53] joelhawksley commented on #292
@n-rodriguez - per @jcoyne's comment here: https://github.com/github/view_component/pull/293#issuecomment-611273636, we need Capybara for the test helpers to work.

While most people will have it in their apps already, I don't think it makes sense to require folks to install it themselves to use the test helpers.

Was there an issue you ran into that prompted the desire to make this change?

[2020-04-09 02:37] n-rodriguez commented on #292
Because it will be installed in production environment. I do use Capybara locally but not in prod :)

[2020-04-09 12:55] joelhawksley commented on #292
@n-rodriguez is there is a way to have a gem provide different dependencies for `development` and `prod`?

From what I understand, `development_dependency` functions to identify dependencies needed for the development _of_ the gem, not using the gem _in_ development/test.

[2020-04-09 14:06] n-rodriguez commented on #292
Good point! At first I thought you were actually using Capybara in *your* tests but it seems that it's not the case.

I would say... documentation.

[2020-04-09 18:13] crolla97 commented on #70
Hey @juanmanuelramallo do you have any examples of how you called and used the `user_signed_in?` helper method? Pretty new to rails still and struggling to find the solution thanks!

[2020-04-10 23:45] juanmanuelramallo commented on #289
Hey @tchak sorry for taking so long

I don't think you actually want to use the `rails/application` layout given that most of your components will need CSS and javascript to work properly. That's why the default layout is the application layout.

Maybe, one easy way to solve your problem would be to create a dedicated layout for view_component previews. This layout should just include CSS and java

[2020-04-11 10:07] tchak commented on #289
hey @juanmanuelramallo. I agree about previews. I am talking about preview listing pages. There is no way to override the layout there.

[2020-04-11 10:08] tchak commented on #289
And it would be nice if the show with the same minimal list style as mailers preview listings.

[2020-04-11 15:47] tkoenig commented on #15
@joshleblanc @joelhawksley what I am currently trying in combination with stimulus, is scoping on the `data-controller[...]` in the css.

So in the `description_component_controller.js` file I import the css

[code]

and the css looks something like this:

[code]

If you don't need any javascript for the component, just using the import statement is fine as long you use webpack for css.

[2020-04-11 20:18] juanmanuelramallo commented on #289
Oh I see that's true. I think we got two options then:

1. Update the gem to use rails' layout for the index of previews
2. Allow default layout configuration (not only for previews) but also for the previews index

I think the easier would be just to go with 1? What do you think?

I'll try to create a PR with this change

[2020-04-11 22:02] tchak commented on #289
Option 1 seems good to me :+1:

[2020-04-11 22:29] juanmanuelramallo commented on #289
Nice! That's the option I went for! Would you mind reviewing #296 pls?

[2020-04-12 01:12] jonspalmer commented on #289
How about a third option that the PreviewController inherit from the apps ApplicationController?

[2020-04-12 02:58] juanmanuelramallo commented on #289
Good one, but what do we gain by doing so?

I see a few scenarios where this might be problematic, for instance:
- using Devise, it's common to have a `before_action :authenticate_user!` in the application controller, so if we inherit the previews controller from that controller, all the preview views will be accessible only for authenticated users 🤷
- using Pundit, it's common to have a `after_ac

[2020-04-12 03:12] jonspalmer commented on #289
Testing Components and Previews already assume the existence of an ApplicationController and we provided configuration to allow you to customize it #184. I suspect testing components and Previews don't run a full controller action, they just use a controller instance to render the component html and therefore don't fall foul of before actions.

My thought would be to use a configuration like that

[2020-04-12 03:19] juanmanuelramallo commented on #289
Oh I see what you mean.

I don't think it's really necessary to allow users to set a parent controller for the previews. In fact, action mailer's previews don't do that. They just render the list of previews defined by the app, and when rendering a given preview they set the layout to `false`.

In our case, instead of using no layout we use the application's one by default.

For the index view we

[2020-04-12 04:34] jonspalmer commented on #289
Yeah I think I agree with you just trying to talk through the options. I wish we could make the fix a bit more intuitive.

[2020-04-12 13:11] juanmanuelramallo commented on #289
I think there's a potential refactoring we can make. Given we are now using the `app` folder, maybe we should also move the previews templates there, to the `app/views` folder. By doing so we might no even need to call `render` in the controller, we would just let rails do its job. But I would tackle that in a subsequent PR, given is not entirely related to this issue.

[2020-04-12 14:32] jonspalmer commented on #289
I can confirm that the approach of moving the views to `app/views` works. I just did exactly that in a different but related gem. It's much cleaner that way. Can we make that change first and reevaluate how things look after that?

On that topic it's also strange to me that we namespace these controllers with "Rails". I think we're pattern matching off ActionMailer previews but we probably shouldn

[2020-04-12 15:36] juanmanuelramallo commented on #289
I totally agree with moving the view to `app/views`. But do you think by doing so we will solve this issue?

I think there are two different issues, one is #289 the index views using the application's layout instead of the rails internal layout, and the other one is refactoring the preview templates so that they live inside `app/views.

Regarding the namespace of the controller, that's true. We do

[2020-04-12 17:03] jonspalmer commented on #289
Fair enough. Perhaps we just take this as is.

[2020-04-12 17:06] jonspalmer commented on #289
Can we add code comments to explain the logic we want?

The other thing that tripped me up reading this change was that there is both class and instance versions of of `prepend_view_path` It would be great to add a test case that they work as expected. That is a) call the preview index b) call a preview c) call preview index and validate that the right layout is still applied. That is that the cal

[2020-04-12 19:09] juanmanuelramallo commented on #289
Let's move the discussion to the pull request #296

[2020-04-12 20:39] juanmanuelramallo opened #297 "Refactor the preview templates to be located in `app/views` folder"
### Feature request
Following the discussion started in https://github.com/github/view_component/issues/289#issuecomment-612612056 we should make use of the `app/views` folder for our preview templates.

Also we might not need to namespace the previews controller with `Rails`.

### Motivation
Just to improve code quality and maintainability in the gem

[2020-04-12 20:40] juanmanuelramallo commented on #297
@jonspalmer is there something I missed here?

[2020-04-12 22:46] rmacklin commented on #292
I agree that it's not ideal to require `capybara` in a production environment - given that it's not used in production, it is essentially a waste of memory to load it.

So personally, I lean towards removing the dependency from `view_component` for a few reasons:
- Many (most?) rails apps will already declare a `test` dependency on `capybara` because [Rails System Tests](https://guides.rubyonrails

[2020-04-13 03:37] jonspalmer commented on #159
For anyone following this I just release the first version of ViewComponent::Storybook that provides a bridge between ViewComponents previewed in Storybook: https://github.com/jonspalmer/view_component_storybook

[2020-04-13 03:52] jonspalmer commented on #292
Do we really need TestHelpers to have a dependency on Capybara? Can't we rewrite it to do without? The only place we use it is `refute_component_rendered` which could be stated with some more native assertions.

Another though is that for folks using something other than Minitest these TestHelpers aren't helping as much. Really just says these helpers should be some other gem.

[2020-04-13 03:53] jonspalmer commented on #297
Looks right to me.

[2020-04-13 05:56] rmacklin commented on #292
See https://github.com/github/view_component/pull/216 - I think the reason for including `Capybara::Minitest::Assertions` was to give access to those assertions inside instances of `ViewComponent::TestCase` (those methods leverage the `page` definition we supply). The `refute_component_rendered` helper was only added later in https://github.com/github/view_component/pull/263.

[2020-04-13 11:01] franks921 opened #301 "Access collection counters"
Hi

### Feature request

Be able to access collection counters in the component template linked to `collection_parameter_name`. The desired outcome would be to use `user_counter` in the template if a collection is passed in.

### Motivation

This will closely align to Rails' own `render collection:` functionality.

----

If anyone has any workaround other than looping over the collection, renderin

[2020-04-13 11:42] jonspalmer commented on #292
@rmacklin makes sense in the Minitest case. How much does this logic help if you're using RSpec or some other testing library? The testing pattern if very different there and you wouldn't be inheriting from `ViewComponent::TestCase` and would be requiring `capybara/rspec` yourself.

[2020-04-13 11:43] jonspalmer commented on #301
Could you provide an example use case of how you're like the API to work in practice?

[2020-04-13 12:58] franks921 commented on #301
Sure thing @jonspalmer

### Usage

[code]

### Component setup

[code]
It's at this point it could be useful having access to a `{collection | user}_counter` and / or `collection_size` method. I've added an arbitrary example with the `if` statement in the template.

[code]

I am also looking at some solutions of sending this information to the component class from `ViewComponent::Collection` so I

[2020-04-13 17:27] joelhawksley commented on #301
@tclem I'd love to hear your thoughts here ❤️

[2020-04-13 18:08] tclem commented on #301
Seems reasonable and useful.

I think partial rendering of collections supports this with a _partial_name_`_iteration` object that's available to each template. It also provides helpers like `first?` and `last?` in addition to `index` and `size`. Might be worth double checking that and sticking to what Rails is doing now. We've already got `with_collection_parameter` so the view component author w

[2020-04-13 18:17] franks921 commented on #301
Hi @tclem, that is it exactly. 💯

[2020-04-13 19:39] joelhawksley commented on #301
@franks921 I'm 👍 to @tclem 's solution. I eagerly await your PR ❤️

[2020-04-13 20:06] franks921 commented on #301
Thanks @joelhawksley and @tclem. I've already forked and brought the library into my current project and will be doing this in realtime on a feature I am building.

I will be in touch after my deadline 👍

[2020-04-13 23:40] jaredcwhite commented on #159
@jonspalmer Oooo, I can't wait to try this out.

[2020-04-14 14:43] #289 closed

[2020-04-14 22:57] joelhawksley commented on #292
Closed by https://github.com/github/view_component/pull/298

[2020-04-14 22:57] #292 closed

[2020-04-15 00:30] rmacklin commented on #292
@jonspalmer I think you're right that things are a bit murky w.r.t. rspec. We're including capybara's minitest assertions module in `ViewComponent::TestHelpers`:
https://github.com/github/view_component/blob/d3952cb35c82734b5119bc2c173e99cc08219d5c/lib/view_component/test_helpers.rb#L7
but we also have documentation suggesting that `ViewComponent::TestHelpers` should be included in rspec `componen

[2020-04-15 18:01] rmacklin opened #304 "RSpec and ViewComponent::TestHelpers"
Opening this issue based on the discussions started in https://github.com/github/view_component/issues/292#issuecomment-612737914

and https://github.com/github/view_component/pull/299#discussion_r409022216:

[2020-04-15 18:28] rmacklin commented on #304
One thought re:

---

The example code from capybara's README below that sentence is:
[code]

This seems to leverage the `rendered` instance variable from `ActionView::TestCase::Behavior`:
https://github.com/rails/rails/blob/9303873e57dd86a82ef69d58ed7e7af6bc7ed344/actionview/lib/action_view/test_case.rb#L122
which has a public reader (and writer):
https://github.com/rails/rails/blob/9303873e57dd8

[2020-04-15 18:30] rmacklin commented on #292
I've opened https://github.com/github/view_component/issues/304

[2020-04-15 21:27] franks921 commented on #301
Hi @joelhawksley and @tclem

Before I create a PR and write some tests, I wanted to run a solution past both of you. This turned out to be a lot simpler than I first thought, using `ActionView::PartialIteration` already built into Rails and here it is: https://gist.github.com/franks921/ddf94371bec83d6736d2c7df9d2bef73

My changes are in the `initialize` and `render_in` methods.

I'm also willing t

[2020-04-15 23:43] franks921 commented on #301
Hi again @joelhawksley and @tclem

I went ahead and opened a PR #306. I figured it might be easier to have discussions around the actual code.

[2020-04-16 19:53] jaredcwhite opened #310 "Alternative to helper mixin "anti-pattern""
### Feature request

One of the things I first set up in using View Component on a project was to bring in common helpers I'd been using in traditional view templates. So for example I have this line in my component superclass to get the logged-in user record as well as the relevant Pundit policy:

[code]

But I'm kind of feeling like that's an anti-pattern at this point, and I'd prefer some other

[2020-04-16 19:57] jaredcwhite commented on #310
Sorry to comment on my own issue 🤣, but I just realized because the component's view template can access all the accessors from the component .rb, I think it becomes even more important to roll with the assumption that any local variables/methods in the template come solely from the component and aren't a bunch of helpers from afar (other than perhaps common Rails conventions like forms, links, et

[2020-04-17 06:35] koenhandekyn commented on #257
@joelhawksley for your info, I'm working on the same project as @nquocvuong and I can confirm we also have wicked_pdf in that project

[2020-04-17 17:10] joelhawksley commented on #310
@jaredcwhite we just worked on a first attempt at providing `current_user` to our components.

In our ApplicationComponent, we have:

[code]

And then in our app-specific component test helpers, we have:

[code]

Which allows us to write tests like:

[code]

However, we're not sure if this is the best approach- it's just our first attempt.

I'm generally wary of making global state _too easy_ to u

[2020-04-17 17:35] jonspalmer commented on #310
@joelhawksley Curious why you aren't passing current_user as a parameter to the component?

Why isn't it

[code]

@jaredcwhite I'm kind of anti helper too. ViewComponents using url of form helpers makes sense - they're essentially static methods. However, the helpers that rely on or derive state (like current_user) should be passed explicitly. It's analogous to the difference between explicitly pa

[2020-04-17 19:00] joelhawksley commented on #310
@jonspalmer we had some cases where components were passing `current_user` down three or four levels of nesting. It wasn't pretty. That being said, there's a reason that code ☝️ isn't in the README- we're not sure if it's a good idea or not.

Generally, we too are hoping to avoid the use of stateful helpers.

[2020-04-18 03:39] jaredcwhite commented on #310
I think I'll pursue some kind of passing a simple "context" object down the chain…at least then the method signatures don't need to be updated everywhere to go from current_user to something else or support multiple state values. At some point further down the road I'll report back and see if I liked it. 😄

[2020-04-18 06:21] pinzonjulian commented on #234
Happy to see another report on caching! [Issue 42](https://github.com/github/view_component/issues/42) also opened up this question in the early days and is marked with the V3 tag.

I'll start doing some research on my end based on your research @ozzyaaron and try to see if I can take a stab at it 🤘🏽

@joelhawksley , anything I'd need to do or know before starting? All help is welcome!

[2020-04-18 11:30] jonspalmer commented on #310
@joelhawksley makes sense. I haven't hit that problem yet. I suspect we should be mindful of the advice the React folks give on other ways to avoid needing this kind of context: https://reactjs.org/docs/context.html#before-you-use-context

I would imagine that a Context API inspired by React Context would make sense. I don't immediately see how we'd implement it. Could we implement some special wr

[2020-04-20 19:50] joelhawksley commented on #234
@pinzonjulian I don't know if there's much I can add here, as my experience with caching is fairly minimal. Anything we can do to improve our compatibility with Rails gets a big 👍 from me 😄

[2020-04-20 21:07] #301 closed

[2020-04-22 06:55] rosendi commented on #206
Why? ActiveModel has the same DSL, Mongo ruby-wrapper has `field`, other component-based frameworks such as Cells

I'm asking again because after a half year working with rails components there is too many boilerplate code and the definition could look much cleaner.

With the Attribute-DSL we can do coercions, fallback validation, etc.

[code]

Also the `comment` property could be added in additio

[2020-04-22 07:01] abitrolly commented on #15
@joelhawksley I am a n00b in Ruby on Rails and found this while looking for how can I add Jekyll-style rendering of .md files to [this website](https://github.com/minsk-hackerspace/hackerspace.by). Over initial scanning of the text, I have no idea what a component is, other that it should probably meant to be used in `render` function. The thing that attracted me is the promise that I can unit tes

[2020-04-22 09:43] pinzonjulian commented on #15
Hey @abitrolly !
Good to see you're starting out with Rails!

### On using it outside of Rails
I believe it's not possible at the moment (and probably not in the future). The objective of this gem is meant to work as a first class citizen in Rails and it depends on some of Rails' core modules. See [the docs](https://github.com/github/view_component#isnt-this-just-like-x-library) for a list of othe

[2020-04-22 16:29] joelhawksley commented on #206
@rosendi interesting. Might you open an issue so we can discuss this idea by itself?

[2020-04-22 16:31] joelhawksley commented on #15
@abitrolly welcome! @pinzonjulian has done a better job responding that I ever could! Thank you Julián!

[2020-04-23 18:06] abitrolly commented on #15
@pinzonjulian thanks! Help to set the limits. I have little experience in JS, so don't know what React is. From what I know, React looks similar to game loop, where each frame is a iteration - data preparation, rendering, handling of input events. But maybe that's Flux. Not sure.

Among the Ruby on Rails tutorial I found this one to be the best - http://installfest.railsbridge.org/intro-to-rails/i

[2020-04-24 23:20] mrjonesbot opened #319 "Unable to render Inline Component Variants"
Hello and thank you for work on this amazing library!

Having a blast so far, but am unable to render inline components per the documentation.

I've attached a code snippet and a screenshot at the bottom.

### Steps to reproduce
1. In a new rails app run `$ rails generate component inline_component`
2. Define the method `call` in InlineComponent, returning any markup:

[code]

3. Render the compon

[2020-04-25 16:34] nashby commented on #319
Hey @mrjonesbot! You don't really need to invoke `call` method when you render your inline component. Just do:

[code]

[2020-04-25 18:44] nashby commented on #319
@mrjonesbot just define `def call_phone` method where `phone` is your variant (see docs https://github.com/github/view_component#inline-component)

[2020-04-27 14:52] joelhawksley commented on #319
@mrjonesbot right now, `variant` is set by the controller/request.

In tests, you can use `with_variant`:

https://github.com/github/view_component#action-pack-variants

There is not a documented way to directly set the variant when rendering a component. I could see this being useful. Would you be willing to open a PR with proposed API to get the conversation going?

[2020-04-29 06:41] alhafoudh opened #321 "helpers references parent component when nested not controller view_context"
### Steps to reproduce

parent_component.rb
[code]

parent_component.html.erb
[code]

nested_component.rb
[code]

nested_component.html.erb
[code]

action.html.erb
[code]

### Expected behavior

I expect to see following output:

[code]

### Actual behavior

[code]

### System configuration
**Rails version**: 6.0.2.2

**Ruby version**: 2.6.5p114

**Gem version**: 2.5.0

[2020-04-29 12:44] pinzonjulian commented on #201
Hi everyone
I'm looking into caching (#42 & #234 ) and my research (still in early stages) is pointing me towards `LookupContext` too. Do you guys know enough about it? I could use a quick lesson on it if you have the time.

[2020-04-30 21:58] joshleblanc commented on #15
I wonder if there's a way to integrate StimulusReflex into view component.

https://docs.stimulusreflex.com/quickstart

If your view component was a stimulus reflex controller itself, then it could obscure the line between front and backend.

[2020-05-01 21:10] joelhawksley commented on #321
@alhafoudh thank you for the report!

In this case, where would you expect `current_user` to be defined and thus be available to the component?

[2020-05-02 11:41] jonspalmer commented on #285
@rosendi Could you perhaps provide a larger example of why you need this solution. In particular its not clear to me why you need to call `form_for` in the component's view rather than inside `<% component.with(:form)` when the component is used.

[2020-05-03 13:16] bbugh commented on #15
Firstly, hi 👋, and this is awesome 🔥. I really appreciate the extra effort y'all are doing to make this have third-party (and hopefully first-party) support in Rails. Rails lack of view objects for partials has made me crazy since it came out, and this is the best solution I've seen yet.

The below is written from the perspective of a team that already has a large Vue-based application (which we a

[2020-05-03 15:03] jonspalmer commented on #15
@bbugh Great feedback 💯 Also mostly inline with my experience as we get deeper into using ViewComponents in anger. Hoping you can help explain your use cases. I'm confident we can address many of the ideas you bring up.

I've faced similar situations. I switch between thinking the multiple views would be an AWESOME feature and considering it an anti-pattern better solved with composition of inheri

[2020-05-03 15:04] bbugh commented on #285
I think this is going to be a common requirement for reusable object-agnostic components. I have an example of this use case for a `NavComponent` in my feedback comment here:

https://github.com/github/view_component/issues/15#issuecomment-623108834

[2020-05-03 17:26] bbugh commented on #15
Hey, thanks for the reply! I appreciate how engaged y'all are in making this as awesome as possible. It's refreshing from some of the other open source projects I've worked with lately. 😀

I think you're right, maybe it can go either way.

I'm not sure how often our specific use case of multiple templates with one view model would come up for other people. We were thinking of it in the way that [D

[2020-05-03 20:54] jonspalmer opened #325 "[Design Discussion] Multiple calls to content-area"
In #15 we got into a detailed discussion of the use cases for multiple calls to content areas. Breaking that conversation off into a separate issue so we can continue the discussion.

Prior conversation:
https://github.com/github/view_component/issues/15#issuecomment-623108834
https://github.com/github/view_component/issues/15#issuecomment-623123684
https://github.com/github/view_component/issues/

[2020-05-03 20:58] jonspalmer commented on #325
I'm going to start from here:

@bbugh Thank's for the details and patient response. I hadn't thought through the use cases of multiple content-areas fully. I can see now why you're want to 'template' the items around them.

However, the combination fo suppling the multiple content-area plus arguments to `with` feels like a strange API that is hard to document. I think I would expect that problem t

[2020-05-03 21:03] jonspalmer commented on #15
@bbugh Thank's for the details and patient response. I've broken the multiple content-area conversation into its own issue #325. Please keep the awesome feedback coming. You clearly have some deep practical experience with ViewComponents. Real-world problems and their solutions are crucial for us deliver the next set of features. Keep it coming. 🎉

[2020-05-04 02:02] bbugh commented on #325
Thanks for continuing the conversation @jonspalmer!

It's hard to talk about this multi-content area issue separate from the other ones I was discussing, because they are all involved with solving the same root problem.

The proposals are 1) `with` available to loops, 2) `with` taking in arguments, and 3) #285 `with` being able to pass back arguments to the block (which I *would* have mentioned as

[2020-05-04 15:03] #297 closed

[2020-05-04 15:16] juanmanuelramallo opened #326 "Make previews entry endpoint configurable"
### Feature request
Allow users to configure the entry endpoint for previewing components.

### Motivation
Started here https://github.com/github/view_component/pull/324#discussion_r419091598.

Also several gems allow users to mount their views in a given endpoint, for instance Split, Flipper, Sidekiq:

[code]

Although, we may not need to let the users to mount the previews like this, but instead

[2020-05-04 23:30] jonspalmer commented on #325
@bbugh Got it super helpful context. I agree the various feature sets are interrelated.

I see the need for a version of 3 that you're proposing. The need to render HTML drives us towards support it via some version of the `with` syntax.

### Sidetrack comment
As a total aside the "reading other instance variables" is, IMO and experience, not a great pattern. I've learned too many times that putti

[2020-05-05 18:06] mickenorlen opened #328 "Rendering a component with both js.erb and html.erb"
Hi and thanks for this gem!

I'm wondering if it is possible to render a component that uses both `js.erb` and `html.erb`. If possible I would also like to be able to render this component from both `js.erb` and `html.erb` files. I think this could be solved with more html markup to communicate with sidecar js assets. But i think there are often benefits of working directly in `js.erb` syntax so t

[2020-05-05 20:55] joelhawksley commented on #325
@jonspalmer @bbugh thank you for digging into this question in such detail. I'm excited to see where we end up!

The only way I can think of this being palatable would be to allow for "internal" components, where an internal component is defined inside of another component, and thus can have its own initializer, which brings me to:

This is one reason I like the idea of using hashes for these argu

[2020-05-05 21:21] joelmoss commented on #67
I'd love to see a config option to use directory based components...

[code]

I think that is much cleaner, otherwise we end up with fat directories. :(

I'd be happy to submit a PR if this is something that would be accepted.

[2020-05-05 21:55] jonspalmer commented on #325
This i my sense too. When I look at the examples I documented above I think "boy you know want looks a lot like passing a set of arguments and a block to a content area? Another ViewComponent".

I can buy that argument. 👍

I'm sure we can use the inflections for the implementation. The need for a static declaration might be
1. Would we want to always create the plural versions of the methods (whic

[2020-05-06 10:50] jonspalmer commented on #326
Curious what others think but I think I lean towards requiring the user of the gem to choose the mount point in routes.rb. Its would be a 'breaking' change for anyone using previews today. Given the folks should be thinking about securing these pages and whether they are on/off in production etc. routes.rb is the right place for those decisions.

It's not what ActionMailer previews does but IMO th

[2020-05-06 12:37] jonspalmer opened #331 "[Design Discussion] Organizing Sidecar assets"
# Introduction

There has been a lot of discussion on the right way to organize sidecar assets and ruby classes for ViewComponents: https://github.com/github/actionview-component/issues/15#issuecomment-565834219, #67, #168, #283.

We don't have a clean solution yet but we have some ideas

# What do we know?

1. ViewComponents are more than just a subclass of ViewComponent::Base and a view file. It

[2020-05-06 12:40] jonspalmer commented on #331
ping @jaredcwhite, @rosendi, @nicolas-brousse, @joelhawksley, @joelmoss

Would love to hear your comments and thoughts given you've been deep in the prior conversations and likely have real world experience and thoughts of the pros & cons.

[2020-05-06 13:25] andynu opened #332 "machine stack overflow in critical region (fatal)"
I appreciate that this bug is underspecified. I'm trying to integrate into a long-standing project, and there is some interaction that does not occur in a vanilla rails application. I have not been able to make a clean test case yet. Still any suggestions about how to gather more useful information would be welcome.

### Steps to reproduce
1. gem 'view_component'
2. require 'view_component/engine'

[2020-05-06 13:36] joelmoss commented on #331
Solution 2 is pretty much exactly what I've been using for over a year now in a current production app, and it works nicely. Never had any issues, and it's clear where everything is.

I'm not actually using ViewComponent, but looking to integrate it, so I obviously want to keep the structure I already have.

One difference between this and my current setup, is the naming of the assets. You propose

[2020-05-06 13:41] juanmanuelramallo commented on #326
Following the same line of thought, what should happen when the user have `show_previews` disabled and the mount point is in routes.rb (let's say at the top of the file)? Should we not mount anything, despite of the user explicitly mounting the preview routes there?

Your point makes sense to me, but from an implementation perspective, just adding a config attribute is way simpler, I think. If we

[2020-05-06 13:53] andynu commented on #332
The issue is unrelated to this project.

The wicked_pdf gem was causing a cycle. https://github.com/mileszs/wicked_pdf/pull/818

[2020-05-06 13:53] #332 closed

[2020-05-06 13:57] jonspalmer commented on #326
I'm proposing we eliminate `show_previews` as a config option and rely on the user mounting the engine or not. You can make routes.rb conditional base on Rails Env or any other rules (and the user of the gem could create their own config param if they wanted to to control it via config/production.rb, config/development.rb etc.)

I don't have much experience with what is involved there. We already

[2020-05-06 14:03] juanmanuelramallo commented on #326
Yeah that looks good! So in order to have view component previews, users should now mount the preview engine. And if they don't want it on prod they can just always wrap it in an `if` clause, right?

I'm not sure it will also solve the url_helper problem, but if we end up removing the Rails::ApplicationController as the parent controller, I'm sure we'll get it solved.

How should we proceed then?

[2020-05-06 16:51] nicolas-brousse commented on #331
Hi @jonspalmer

Solution 2 sounds the better for me, with the current state of this gem and Rails autoloading.
Also, it struture is simple enough if we need to migrate from 2 to 1. If we found a way to achive it in the future.

## Solutions
### 1. Use Autoloader

After having working on this several hours too, I confirm that it's not clean enough as solution to be considered. At least for now.

##

[2020-05-06 22:28] joelhawksley commented on #328
@mickenorlen thanks for stopping by! Let me see if I can be of help.

Right now, ViewComponent is more or less hardcoded to output HTML:

https://github.com/github/view_component/blob/7b8ae832d56f59fccfb8b95b6daae8ad4164abd0/lib/view_component/base.rb#L233-L239

If we wanted to support rendering Javascript (which is something ERB is _definitely_ used for!), we'd need to first look into supporting

[2020-05-06 23:06] bbugh commented on #325
I'm three novels behind! I better write another one...

@jonspalmer I think you summed up the different scenarios and the patterns very well.

I personally prefer the `header.icon` version over the `header[:icon]` version. It seems more Rails-y to me, since there's precedent with Rails templates almost exclusively using locals and instance variables. As for fetch, you can easily provide a default

[2020-05-06 23:15] jensljungblad commented on #325
@joelhawksley @jonspalmer Hi! I feel like I need to catch up on some reading here. But yes, it looks like you're going through almost the exact same thing I went through a couple of years ago. Asking the same questions and thinking about the same trade-offs :) I'm happy to explain my thought process and the API I ended up with. I'd be happy to have `elemental_components` merged into `view_componen

[2020-05-07 11:21] mickenorlen commented on #328
I see! Yeah i was trying to look into the source a bit and found that type method also. But then when i tried to render a component with a `.js.erb` template (from a `js.erb` file) it still works! So i don't think it's very far away to being fully supported :P

But what I think could be useful (apart from fully supported `js.erb` rendering) is:

1. A method that renders partials relative to the co

[2020-05-07 14:34] joelhawksley commented on #328
@mickenorlen thanks for the detailed explanation!

No worries! It would be helpful to have you provide a PR that adds some example components and test cased for what you’re trying to accomplish. Doing so will help us figure out what APIs make sense here ❤️

[2020-05-07 15:54] joelhawksley commented on #326
@jonspalmer @juanmanuelramallo I'm having a difficult time understanding the problem we're trying to solve with this change.

As ViewComponent::Previews are meant to be very similar to ActionMailer::Previews, I think the functionality we currently have in the library is quite nice! I like that the routes are nested under the `/rails` path.

I'm fine with making the mount point configurable, but I

[2020-05-07 16:00] joelhawksley commented on #326
👋 I think I prefer the approach you're taking in #330 @juanmanuelramallo. It keeps our implementation closer to ActionMailer previews ❤️

[2020-05-07 16:25] jonspalmer commented on #326
@joelhawksley The challenge I have is that ActionMailer previews are IMO pretty badly implemented. If I'm including a gem that brings routes with it I should configure those routes in routes.rb. As the application owner that allows me to keep all my routing in one place.

As it stands there are two configuration variables I need to think about to makeVC previews work vs a single mount point to con

[2020-05-07 16:31] mickenorlen commented on #328
Alright. I'll try to look into it later on. May peace and health be bestowed on you until then! :D

[2020-05-07 18:32] juanmanuelramallo commented on #326
I'm ok if we decide to close #330 and update this issue.

I'm ok with either of both solutions to be honest, I just find #330 to be the easier one, but I don't want to be lazy and just roll this out because it's easier.

So I think @joelhawksley it's your call here, either to move forward with #330 or to update this issue and mention that the solution must be a mountable engine.

[2020-05-07 19:01] joelhawksley commented on #326
@jonspalmer that's a fair point. Has this issue been raised on Rails at all?

While it doesn't look like Rails Conductor is going to be part of 6.1, I could imagine it providing hooks for this kind of internal functionality. Perhaps we table moving to an engine until we have more clarity there?

Generally, I view what we're doing with ViewComponent as more closer to Rails than not, unlike Sidekiq.

[2020-05-07 20:19] #15 closed

[2020-05-07 20:19] #331 closed

[2020-05-07 20:20] #325 closed

[2020-05-07 20:24] #227 closed

[2020-05-07 20:24] #159 closed

[2020-05-07 20:24] #67 closed

[2020-05-07 20:26] #42 closed

[2020-05-07 20:33] joelhawksley commented on #304
@rmacklin I could see it being nice to support the @rendered API. Would you be up for taking on a PR?

[2020-05-07 23:06] juanmanuelramallo commented on #326
Your call then @jonspalmer, how would you want to proceed?

Personally, I prefer the configuration attribute introduced in #330 so that we keep it simple (implementation and usage).

But I see that mounting the previews in the routes file of a project might be clearer for the final user and would give them more control.

[2020-05-08 01:33] jonspalmer commented on #326
@joelhawksley I hear you on the consistency. My sense is that ActionMailer previews is a pretty weird wart on the Rails framework and one that hasn't had a lot of attention recently. I've also found that it has relatively limited value once you have an app that is sending a significant volume of email with any complexity. I certainly seen apps where we wrote our own versions equivalent things.

Th

[2020-05-08 19:07] joelhawksley commented on #326
@jonspalmer here is the conductor PR: https://github.com/rails/rails/pull/35489. I'm not sure what the plan is for it at this point.

I'd be interested in documenting Storybook as a solution for more advanced previews.

[2020-05-09 03:03] rosendi commented on #285
@bbugh yep, I think VC should cover both cases.

[2020-05-09 03:28] rosendi commented on #285
@jonspalmer the original issue was to provide a custom form builder for the inplace editing component. The first iteration of InplaceEditingComponent can only update a single attribute:

[code]

[code]

[code]

## Provide a custom editor

In my app I have a customer model with the `first_name` and `last_name` attributes, and an attribute reader for joining them:

[code]

My idea was to provide a c

[2020-05-10 08:06] mickenorlen commented on #328
My current solution to:

[code]

Regarding

I started experimenting with this kind of structure
[code]

Which gives me multiple entrypoints through
[code]

[2020-05-10 10:04] mickenorlen commented on #328
Another (possibly strange) idea.

When you generate a new component `form/form_component`. You get this conventional structure below. But imagine that `form_component.rb` is NOT the component. instead it functions as some kind of hybrid between base and delegator to `index.rb`.

[code]

[2020-05-10 11:41] jonspalmer commented on #328
I still not clear on the advantages of the later. What code goes in `form/form_component/js.rb`? Why is it preferred to have

[code]

vs

[code]

[2020-05-11 09:59] mickenorlen commented on #328
I think we could support both options. Because

- `::JS` might be sufficiently different to already prefer it's own component class. You might not want to bloat the standard html component with logic for your js rendering.

- `::JS` could be something other than another language format. Imagine working with something a bit more complex like some kind of layout components with different types of ch

[2020-05-11 12:05] jonspalmer commented on #328
Sure I think of this a little bit like how Controllers work today in Rails. You can have the same controller return json and html but there will be situations where you want PersonController and API::PersonController with various differences (often authentication etc.)

That said modulo the issues around directories/namespaces I think everything you describe works today other supporting different

[2020-05-11 15:11] mickenorlen commented on #328
Sounds good. Unless you want to make `render_template` part of the core somehow to help people split code into partials? I'm fine with my own version for now so I don't mind.

[2020-05-11 17:17] #326 closed

[2020-05-15 02:10] rmacklin commented on #304
I'll take a look at this tomorrow!

[2020-05-15 20:33] rmacklin commented on #304
@joelhawksley So it looks like all that's necessary to make the example code from the rspec section of Capybara's README:
[code]

is:
[code]
It's not even necessary for `ViewComponent::TestHelpers` to provide a reader for `@rendered` because rspec view specs include `ActionView::TestCase::Behavior` so they have the reader via
https://github.com/rails/rails/blob/9303873e57dd86a82ef69d58ed7e7af6bc7e

[2020-05-15 20:42] rmacklin commented on #304
Opened https://github.com/github/view_component/pull/344

[2020-05-16 07:26] bunnymatic opened #345 "View component is significantly slower than partials"
`ViewComponent` is slow - roughly 3x slower than using plain rails partials (see spot benchmarking below).   In a recent project I worked on, which heavily leveraged `ViewComponents`, we're finding that the app is very slow.  We've been looking at other optimizations but the template rendering seems to be where most of the time is spent (on pages that have many components) and we'd love to not hav

[2020-05-16 11:47] mickenorlen opened #346 "Helpers and view_context are nil"
Helpers and view_context are nil in `user_component.rb`. Am I doing something wrong?

### Steps to reproduce

I'm following docs: https://github.com/github/view_component#using-helpers

[code]

`application.html.erb`
[code]

### Expected behavior
Output view context

### Actual behavior
`logs`
[code]

### System configuration
**Rails version**:
6.0.3

**Ruby version**:
ruby 2.7.0p0 (2019-12-25 rev

[2020-05-16 13:07] simonrand commented on #345
Hey @bunnymatic so this peaked my interest as we're using ViewComponent _because_ of its speed..

First thing I'd say is that running these comparisons in the Rails `development` environment is not will not give an accurate reflection of things here - specifically because of this line:https://github.com/github/view_component/blob/8fb33025793fd51890098913ed794d3f0d2734ee/lib/view_component/base.rb#

[2020-05-16 13:09] joelhawksley commented on #345
@bunnymatic thank you for taking the time to file this issue and to build this benchmark!

This is a great starting point for us to look into some performance optimizations.

One thing I'd be curious about here is whether this benchmark was run in production or development mode. ViewComponent has a significant amount of optimization that only run in production mode.

I see @simonrand has beat me t

[2020-05-16 13:36] jonspalmer commented on #345
@bunnymatic I second what @joelhawksley said. It's great to have some focus on benchmarks and performance.

A word of caution on performance in general. I tend to get a bit uneasy when we think about performance in too narrow a way. For example, there are real world examples where we would render 100s of things with partials or view components. If you compare just the rendering then you might see

[2020-05-16 14:05] jonspalmer commented on #345
Oh man had no intention of closing this. Hit the wrong button without enough ☕ in my system.

[2020-05-16 15:47] joelhawksley commented on #346
@mickenorlen thank you for filing this issue!

First, an explanation:

When passing a component instance to `render`, Rails calls `render_in` on the instance, passing in the view context, which on our case happens in `Base`:

https://github.com/github/view_component/blob/master/lib/view_component/base.rb#L43

We then use that view context to set the `view_context` and `helpers` accessors.

In othe

[2020-05-16 16:25] bunnymatic commented on #345
@jonspalmer I realize these examples are super narrow.  On some level, I was trying to make it super narrow by looking at things without a database or anything else just to look at rendering speed.  It was a starting point.

It had not occurred to me how different the cache story is different in development/production.  Though I knew that in my head, I think I didn't realize it'd be so significant

[2020-05-16 16:25] #345 closed

[2020-05-17 09:28] mickenorlen commented on #346
Thanks for a quick reply (even in the weekend! Hope you get some good rest too :))

Ok that makes sense, I guess i just got confused :) In the end everything is working when called from render!

[2020-05-17 09:28] #346 closed

[2020-05-20 23:30] coderberry opened #351 "[Possible bug] Incompatibility with ActionText?"
### Steps to reproduce

I am trying to convert one of our components to use the rich_text_area form helper in place of the regular text area. For some reason, it will not recognize the form method `rich_text_area`. The error message makes me think it may have something to do with ViewComponent.

### Expected behavior

Here's the old code:

[code]

and here's the change I'm trying to implement:

[c

[2020-05-20 23:50] coderberry commented on #351
Thanks to the help of @andrewmcodes, I learned that I needed to delegate the helper in the application_component. Here's the change:

[code]

[2020-05-20 23:50] #351 closed

[2020-05-20 23:54] andrewmcodes commented on #351
I wonder if it is possible to catch these types of exceptions and add a note that the helper method likely needs to be included 🤔 I feel like this type of error is going to come up a lot as people move to VC and it would be great to reduce the time it takes to arrive at the solution.

[2020-05-21 21:56] joelhawksley commented on #351
@andrewmcodes I could see a world where we include many of the Rails helpers by default. Would you be up for filing an issue about this pain point?

[2020-05-22 18:30] andrewmcodes commented on #351
@joelhawksley would that have any perf implication? I am not sure it's a pain point for me.

[2020-05-22 19:08] joelhawksley commented on #351
@andrewmcodes that's a good question. If it's not a pain point, we can leave things be.

[2020-05-28 11:15] johannesengl commented on #288
@jonspalmer
I think the issue is at `WickedPdf::PdfHelper#L60`:
https://github.com/mileszs/wicked_pdf/blob/08a104c2115147410b8008079cba08c5d8a5f226/lib/wicked_pdf/pdf_helper.rb#L60

Incase `ViewComponent` and `WickedPdf` is included `method(:render).super_method` actually references the monkey patch render method on `WickedPdf::PdfHelper#L29`: https://github.com/mileszs/wicked_pdf/blob/08a104c2115

[2020-06-01 20:28] johannesengl commented on #288
I created the following draft PR: https://github.com/github/view_component/pull/358
Could someone please review and see if this goes into a good direction. Is there any specific person I should request a PR from?

[2020-06-03 04:07] mattr opened #362 "Incorrect rendering when content is yielded from a partial"
### Steps to reproduce

View component content is wrapped in a partial. A sample use case is to provide common wrapping for e.g. a panel.

[Sample rails app](https://github.com/mattr/view_components_test)

### Expected behavior

Component content is rendered within the context of the partial.

Given:
[code]
It should render:
[code]
Given:
[code]
It should render:
[code]

### Actual behavior

Given

[2020-06-03 16:07] joelhawksley commented on #362
@BlakeWilliams might this issue be at all related to https://github.com/github/view_component/pull/240?

[2020-06-05 09:43] ortegacmanuel opened #365 "Can't modify frozen autoload_paths in development environment"
### Steps to reproduce
1. Add `gem "view_component"` to `Gemfile`
2. Add `require "view_component/engine"` to `config/application.rb`
3. Run `bin/rails generate component Example title content`

### Expected behavior
1. The generator creates all files/templates for the new new `ViewComponent`

### Actual behavior
1. The generator crashes with the following errror:

**`<<': can't modify frozen #<Cl

[2020-06-08 09:25] almokhtarbr opened #368 "uninitialized constant #<Class:0x00007ff2ec2db270>::DisplayDateComponent"
### Steps to reproduce

gem "view_component"

config/application.rb
require "view_component/engine"

Implementation
A ViewComponent is a Ruby file and corresponding template file with the same base name:

[code]
NameError in Home#index
Showing /.../app/views/home/index.html.erb where line 3 raised:

uninitialized constant #<Class:0x00007ff2ec2db270>::DisplayDateComponent
[code]
NameError in Home#i

[2020-06-08 15:15] joelhawksley commented on #368
@almokhtar thank you for the bug report! At first glance, I can't see anything obviously wrong with what you have. You do have the gem version in your report listed as 3.1.4, which is beyond what we have released (we're on 2.7.0).

Might you be able to clarify what version you're using and perhaps provide a more thorough stack trace for the error?

[2020-06-08 16:26] joelhawksley commented on #365
@ortegacmanuel thank you for the report and for the proposed fix! Would you be willing to provide a demo Rails application with this issue?

@vinistock @juanmanuelramallo as creators of the generator and previews (where this exception is being raised: `lib/view_component/engine.rb:29`), do you have any thoughts on the best resolution here?

As an aside, I'm wondering if this exception involving bo

[2020-06-08 16:56] juanmanuelramallo commented on #365
It might be related to:
![image](https://user-images.githubusercontent.com/13257832/84058468-a876d900-a98f-11ea-9854-a76aaf2ffbe6.png)
https://guides.rubyonrails.org/autoloading_and_reloading_constants.html#autoload-paths

We are mutating it directly https://github.com/github/view_component/blob/master/lib/view_component/engine.rb#L29

[2020-06-08 17:53] vinistock commented on #365
I think it's worth trying out what @juanmanuelramallo pointed out. We should always prefer the public API anyways and it might be the underlying issue.

[2020-06-08 19:09] almokhtarbr commented on #368
@joelhawksley Sorry It Was My Mistake (in Configuration), Thank you.

[2020-06-08 19:09] #368 closed

[2020-06-09 21:02] kylefox commented on #321
@joelhawksley I put together a simple Rails app that demonstrates that `helpers` do not work properly in nested components: https://github.com/kylefox/nested-components-demo

This app defines a [`TableComponent`](https://github.com/kylefox/nested-components-demo/blob/master/app/components/table_component.html.erb), [`TableRowComponent`](https://github.com/kylefox/nested-components-demo/blob/master

[2020-06-11 01:15] fsateler commented on #345
Hi,

I'd like to request this issue be reopened.

@simonrand is correct that on production this particular problem is not relevant due to cache_classes. However, I'd like to contrast ViewComponent behavior with that of ActionView.

ViewComponent will on development *never* cache templates, and thus they are always recompiled. If a given component is rendered in a loop (imagine a component that is

[2020-06-11 01:38] joelhawksley commented on #345
@fsateler fantastic! Would you be willing to kick off a PR to implement that behavior?

[2020-06-11 21:35] joelhawksley commented on #321
@kylefox this unfortunately isn't a huge surprise. `helpers` is just an alias for `view_context`:

https://github.com/github/view_component/blob/6a4fb2083bef6efdfd6bf4e3a694a72e8c259f1d/lib/view_component/base.rb#L108-L111

In the nested case, the view context is the parent component, where global helpers are not available.

This is ultimately a pretty significant bug. Do you have ideas for how we

[2020-06-12 05:04] franco commented on #321
I've redefined `helpers` in my project's base `ApplicationComponent` class:

[code]
I just needed a quick workaround to get going so I might doing something stupid here, but it solved the issue for me.

[2020-06-12 20:42] joelhawksley commented on #321
@franco "escaping" to the controller view context is probably the right behavior here. Would you be willing to write a PR?

[2020-06-14 18:09] tomasc commented on #310
@jaredcwhite how about the [CurrentAttributes](https://api.rubyonrails.org/classes/ActiveSupport/CurrentAttributes.html) api? I have been trying to avoid this so far, but wonder whether this would not make things easier (I need to pass around quite some information about current state).

Perhaps better solution than helpers, which mix (in @joelhawksley’s example) both static methods and current st

[2020-06-15 06:14] franco commented on #321
@joelhawksley PR should fix it as discussed but be aware that this is potentially a breaking change. Some code might relay on the incorrect behaviour.

[2020-06-20 01:07] woto commented on #321
Cool. Same issue. One thing. Pretty sure that this PR would have to change MAJOR version according https://semver.org/

[2020-06-23 20:39] franco commented on #321
@woto I thought so too at first but [one could argue that it is just a malfunction from the intended behaviour](https://github.com/github/view_component/pull/374#issuecomment-644187953) and classify it simply as a bug. Anyways, the PR has been released already in [2.11.0](https://github.com/github/view_component/blob/master/CHANGELOG.md#2110).

[2020-06-28 21:23] jaredcwhite commented on #310
@tomasc Good suggestion! In fact, I ended up going with that approach. Since I ended up adding in a little trick regarding the Pundit permissions, I'll include code samples from my app.

Here's my Current class:

[code]

Then in my `ApplicationController`, I added a before_action callback:

[code]

The reason I'm saving a policy _method_ as a proc, rather than running the method right here, is bec

[2020-06-29 16:56] fsateler commented on #288
I believe wicked_pdf is doing magic it doesn't need, so I posted mileszs/wicked_pdf#925 removing it, replacing with a patch very similar to view_component

[2020-06-29 19:01] joelhawksley commented on #321
Closed by https://github.com/github/view_component/pull/374

[2020-06-29 19:01] #321 closed

[2020-06-29 23:25] fsateler commented on #304
Hi,

I'd like to echo the request to decouple capybara. We don't use it, and we get an annoying warning on every rails test :(

[2020-06-30 00:26] joelhawksley commented on #304
@fsateler could you share the warning you're seeing?

[2020-06-30 14:02] fsateler commented on #304
@joelhawksley

[2020-06-30 15:43] fsateler opened #387 "Support multiple views"
## Feature request

Allow refactoring small view parts into a separate view, and be able to `render` them into the template. These views should not be available outside the component.

[code]

[code]

### Motivation

Sometimes it is useful to separate a sub-component from the component. For example, if I want to render a popover with extra info about a particular model, I would want to extract tha

[2020-06-30 15:44] joelhawksley commented on #304
@rmacklin what do you think we should do here? I can see it being annoying to get the error on every test invocation.

[2020-06-30 15:45] joelhawksley commented on #387
@fsateler too funny. My colleague @fermion and I have a work-in-progress branch for this feature! It's next on my plate once Slots lands.

[2020-06-30 16:19] fsateler commented on #387
Great minds think alike! :laughing:

If you can publish that branch somewhere I can test it to check if it covers the use cases we have (we are slowly transitioning from Cells to ViewComponent)

[2020-06-30 17:00] rmacklin commented on #304
I'm fine with removing the warning. One question:

The README originally mentioned that Capybara matchers were only made available if the application had a capybara dependency:
https://github.com/github/view_component/pull/298/files#diff-04c6e90faac2675aa89e2176d2eec7d8
but that's been edited out of the current README:
https://github.com/github/view_component/blob/48cb5b6092017ef9c8593519ec8c748ac

[2020-06-30 17:12] joelhawksley commented on #387
@fsateler that would be great! The branch is `multiple-templates`: https://github.com/github/view_component/tree/multiple-templates

[2020-06-30 17:13] #285 closed

[2020-06-30 17:20] joelhawksley commented on #304
@rmacklin I did not mean to remove that information from the README. Would you mind adding it back in?

I'm find with removing the warning.

[2020-06-30 19:24] scottbarrow opened #390 "Nested tags or components in Previews raise error"
### Steps to reproduce
Create a preview
add method from https://github.com/github/view_component#previewing-components example
[code]

### Expected behavior
Preview to render an Example component html, with a div and span containing "Hello"

### Actual behavior
[code]

### System configuration
**Rails version**:
6.0.3
**Ruby version**:
2.6.5
**Gem version**:
2.11.1

N.b.
Also
[code]
produces the p

[2020-06-30 19:27] joelhawksley commented on #390
@scottbarrow thanks for the bug report! Would you be up for looking into a fix?

[2020-06-30 19:28] scottbarrow commented on #390
@joelhawksley I will look into it a little, however I am new to the gem

[2020-06-30 19:41] joelhawksley commented on #390
@scottbarrow Thanks! We all were new to the gem at some point ❤️

I'd recommend starting with an integration test. @juanmanuelramallo might be able to provide assistance here as well, as he has done a lot of the work on Previews.

[2020-06-30 20:09] juanmanuelramallo commented on #390
Hey @scottbarrow some time ago I started working on this PR https://github.com/github/view_component/pull/353 which will enable us to write templates instead of just calling render in the method's body of preview objects.

I haven't had enough time lately but I'll try to wrap it up shortly so that we support the use case mentioned in this issue.

Related: https://github.com/github/view_component/d

[2020-06-30 21:57] fsateler opened #391 "`render` in controller should respect layout"
## Feature request

When using `render MyComponent.new` in a controller, the layout should be respected. See also https://github.com/github/view_component/issues/38#issue-487741087, which explicitly set the layout option.

### Motivation

I would like to stop using ActionView templates altogether. It is easier to work with a single view library than multiple ones, especially as "you need to switch

[2020-07-01 14:01] fsateler commented on #387
Hey, I tried out that branch. The good news: it works for partials without locals. Things I didn't see work:

1. Partials with locals. I have been googling around and I could not find a simple way to fix this. Alternatives I found:
  a. Use a `locals` or similar keyword argument, and have the partial use `locals[:foo]` instead of `foo` directly.
  b. Recompile the template on each invocation.  Pos

[2020-07-02 21:54] joelhawksley commented on #391
@fsateler I agree that this should be possible. Might you be willing to open a PR with failing tests for the APIs you think should work?

[2020-07-03 01:51] rmacklin commented on #304
Nevermind, the current README mentions it:
https://github.com/github/view_component/blob/fe8b6f24aa0635115e20920353a40b683b76cef7/README.md#L548

I think I was looking at an outdated version in my fork 🙈

Anyway, I've opened a PR here: https://github.com/github/view_component/pull/393

[2020-07-05 01:14] avk commented on #390
Just hit this as well. Is there a workaround until something like #353 makes it in?

[2020-07-05 01:30] scottbarrow commented on #390
In the second example I provided in my op, my workaround was to do
[code]

[2020-07-05 15:24] mollerhoj commented on #391
Working on a relatively small project, this would be my exact use case as well. Would you consider allowing for a different name than "Component". It seems like a strange name of objects that represent entire views - Something along the lines of ViewModels seem like a better fit. Perhaps even just allowing placing the objects in the `view/` folder, so that the structure becomes

[code]

[2020-07-06 09:45] johannesengl commented on #288
#358 got merged.

In order to make wicked_pdf compatible with view_component please set the config option `render_monkey_patch_enabled` to false in use `render_component` instead of `render` for rendering view-components. @ocarreterom could you please confirm that this resolves the problem so we can close this issue?

[2020-07-06 11:48] ocarreterom commented on #288
Currently I have stopped using wicked_pdf.
Feel free to close this issue if you consider that was resolved.

Thank for your dedication! ❤️

[2020-07-06 14:01] joelhawksley commented on #288
I consider this issue resolved. Thanks for your hard work and dedication @johannesengl!

[2020-07-06 14:01] #288 closed

[2020-07-06 14:04] fsateler commented on #288
For the record, I'm currently using (not in production yet, migration to ViewComponent is in progress) the following WickedPdf monkey patch to avoid having to use `render_component`. This way I won't have to do a massive search and replace when rails 6.1 arrives.

[code]

[2020-07-07 07:16] czj opened #396 "Testing with render_inline fails when render_monkey_patch_enabled is set to false"
We are running Rails < 6.1 and wanted to use the `render_component` syntax for clarity, but also speed and search-and-replace-ability in our codebase.

### Steps to reproduce

- Create a Rails 6.0.3.2 application
- Define that you don't want the `render` method monkey-patch

[code]

- Create a component like this one:

[code]

[code]

- Create associated test like this one:

[code]

### Expected b

[2020-07-07 07:19] czj commented on #396
To me it looks like a fix would require the test helper https://github.com/github/view_component/blob/master/lib/view_component/test_helpers.rb to define `render_inline` differently if the monkey patch is not applied.

### Actual

[code]

### Without the monkey patch

[code]

[2020-07-07 22:14] joelhawksley commented on #396
@czj that looks great to me! Mind opening a PR?

[2020-07-08 08:27] czj commented on #396
Do you mind if I use directly `render_component` in the `render_inline` helper ? Because we are testing the component in isolation, it assume would not break anything and the test helper's code would remain very simple.

[2020-07-09 21:01] joelhawksley commented on #391
@mollerhoj I hear you!

We started with building ViewComponent to leverage the `views` folder, but it became pretty messy to make things work cleanly with Rails. I can see why it would make sense to include them in the `views` folder though, so maybe that's a Rails feature that could be added?

[2020-07-10 13:18] bbugh commented on #285
@joelhawksley I don't think this was closed by #285. The request here is for passing arguments from the component to the consumer, like the form helpers. I don't think slots have a way to pass arguments back through to the consumer, do they? Like so:

[code]

[2020-07-10 16:06] #396 closed

[2020-07-10 21:13] joelhawksley commented on #285
@bbugh Ah, that's right.

Would it help to be able to access the Slot instance? Is that a good idea?

[2020-07-13 06:44] Soleone opened #401 "Default directory structure"
## Feature request

- By default put all files belonging to a component into the same directory
- There should be no file leaking out of that directory
- Ensure load path is set up (or instructions easily available) to load files recursively from subdirectories
- Get rid of the `_component` suffix, it seems verbose when it should be clear from the app/components context that we're dealing with com